.md-modal {
	position: fixed;
	top: 0;
	left: 100%;
	width: 200px;
	z-index: 2000;
	transform: translateX(0);
	transition: all 750ms;
}

.md-show {
	transform: translateX(-200px);
}

.md-overlay {
	position: fixed;
	width: calc(100vw - 17px);
	height: 100vh;
	visibility: hidden;
	top: 0;
	left: 0;

	padding: 0;
	margin: 0;
	border: none;

	z-index: 10;
	opacity: 0;
	background: rgba(40,40,40,0.85);
	transition: opacity 750ms;
}

.md-show ~ .md-overlay {
	opacity: 1;
	visibility: visible;
}

.country-menu-wrap  {
	color                :  white;
	font-size         	 :  1em;
}

.country-menu {
	display             :  flex;
	flex-direction      :  column;
	flex-wrap           :  nowrap;
	 /*flex-grow           :  1;*/
	justify-content     :  space-around;
	align-items         :  center;

	height              :  100vh;
	padding             :  10px 0;
  	text-shadow         :  rgba(0, 0, 0, 0.9) 1px 1px 1px;

	background-color 	 :  #444;
	box-shadow           :  inset 8px 0 14px rgba(0,0,0,0.5);
}

.country-menu-wrap::before  {
	content: "";
	display: inline-block;
	position: absolute;
	top: -5px;
	left: -50px;
	background: #444;
	width: 50px;
	height:  calc(100vh + 5px);
}

.country-menu a {
	position: relative;
	width               :  152px;
	padding          	:  3px 0 5px 12px;
	cursor              :  pointer;
	color           	:  #ddd;
	text-decoration  	:  none;
overflow: visible;
	border-top          : 1px solid transparent;
	border-radius       :  10px;
}

 /*.country-menu a::before {
  	content: " ";
     background-image: url(attr(data-url));
     background-size: 32px;
     background-size: contain;
     width: 32px;
     height: 32px;
     display: inline-block;
     	 content: attr(data-url);
 	position: absolute;
 	left: -30px;
 }*/

.country-menu a::before {

 	content: " ";
    background-size: 32px;
    background-size: contain;
    width: 32px;
    height: 32px;

    display: inline-block;
	position: absolute;
	left: -65px;
	top: -2px;
}

.country-menu a:nth-child(1)::before  { background-image: url('../flags/32/Aruba.png');  }
.country-menu a:nth-child(2)::before  { background-image: url('../flags/32/Curacao.png');  }
.country-menu a:nth-child(3)::before  { background-image: url('../flags/32/Bonaire.png');  }
.country-menu a:nth-child(4)::before  { background-image: url('../flags/32/Trinidad-and-tobago.png');  }
.country-menu a:nth-child(5)::before  { background-image: url('../flags/32/French-Southern.png');  }
.country-menu a:nth-child(6)::before  { background-image: url('../flags/32/Suriname.png');  }
.country-menu a:nth-child(7)::before  { background-image: url('../flags/32/Guyana.png');  }
.country-menu a:nth-child(8)::before  { background-image: url('../flags/32/Venezuela.png');  }
.country-menu a:nth-child(9)::before  { background-image: url('../flags/32/Colombia.png');  }
.country-menu a:nth-child(10)::before { background-image: url('../flags/32/Ecuador.png');  }
.country-menu a:nth-child(11)::before { background-image: url('../flags/32/Peru.png');  }
.country-menu a:nth-child(12)::before { background-image: url('../flags/32/Bolivia.png');  }
.country-menu a:nth-child(13)::before { background-image: url('../flags/32/Chile.png');  }
.country-menu a:nth-child(14)::before { background-image: url('../flags/32/Argentina.png');  }
.country-menu a:nth-child(15)::before { background-image: url('../flags/32/Falkland-islands.png');  }
.country-menu a:nth-child(16)::before { background-image: url('../flags/32/Falkland-islands.png');  }
.country-menu a:nth-child(17)::before { background-image: url('../flags/32/Brazil.png');  }
.country-menu a:nth-child(18)::before { background-image: url('../flags/32/Uruguay.png');  }
.country-menu a:nth-child(19)::before { background-image: url('../flags/32/Paraguay.png');  }
.country-menu a:nth-child(20)::before { background-image: url('../flags/32/South-America.png');  }


.country-menu a.taxHighlight  {
	color               :  white;
	text-decoration  	:  none;
	border-top          :  1px solid #567;

	box-shadow          :  2px 2px 4px rgba(0,0,0,0.3);
	background-color  	:  #313131;
}

.country-menu a.checkHighlight  {
	color               :  white;
	text-decoration  	:  none;

	border-top          :  1px solid #567;

	box-shadow          :  2px 2px 4px rgba(0,0,0,0.3);
	background-color  	:  #313131;
}

.country-menu a.taxHighlight::after  {
	content             :  "✓";
	background          :  none;
	position            :  absolute;
	left                :  -88px;
	color               :  white;
}

.country-menu a.checkHighlight::after  {
	content             :  "✓";
	background          :  none;
	position            :  absolute;
	left                :  -88px;
	color               :  white;
}

.country-menu a.bothHighlights::after  {
	content             :  "✓✓";
	background          :  none;
	position            :  absolute;
	left                :  -90px;
	color               :  white;
}

.country-menu a:hover,
.country-menu a:focus {
	color               :  white;
	text-decoration  	:  none;
	border-top          :  1px solid #567;
	box-shadow          :  2px 2px 4px rgba(0,0,0,0.3);

	background-color  	:  #313131;
}

@media screen and (max-width:840px)  {
	.md-modal {
		top         :  0;
		left        :  0;
		transform: translateX(0) translateY(0);
	}
}