#mapsCollection  {
    position  :  relative;
    top  :  -25px;
    left  :  -10vw;
    width : 67vw;
    height  :  0;
    margin  :  0;
    padding  :  0;

    text-align  :  center;

    overflow-x  :  visible;
    transition  :  all 1.5s;
}

.smallBird  {
    opacity  :  0;

    transform  :  scale(0.7);
    -webkit-transform-origin  :  0 50%;
       -moz-transform-origin  :  0 50%;
        -ms-transform-origin  :  0 50%;
         -o-transform-origin  :  0 50%;
            transform-origin  :  0 50%;
}

.thinify  {
    display  :  inline-block;

    position  :  relative;
    top  :  75px;
    left  :  0;
    width  :  200px;
    margin-top  :  -50px;
    margin-right  :  -15px;
    margin-bottom  :  -50px;

    transition  :  all 1s;
}

.birdName  {
    position  :  absolute;
    top  :  -11px;
    height  :  auto;
    padding  :  0;

    font-size  :  1.2rem;
    color  :  black;
    text-align  :  center;

    border-radius  :  3px;
    background  :  transparent;
}

#currentMap .birdName {
    top  :  -20px;
}

.birdName > span:last-Child   {
    font-style  :  italic;
}

.birdName.smallBirdText   {
    top  :  -22px;
    left  :  0;
    width  :  calc(100% + 15px);

    color  :  black;
    line-height  :  15px;

    background  :  transparent;

    transform  :  scale(1.2);
}

#currentMap {
    opacity  :  0;

    position  :  fixed;
    top  :  calc(50vh - 227px);
    left  :  67vw;
    width  :  275px;
    height  :  455px;
    margin  :  0 0 0 5px;
    z-index  :  10;

    transition  :  all 1s;
    -webkit-transform-origin  :  0 0;
       -moz-transform-origin  :  0 0;
        -ms-transform-origin  :  0 0;
         -o-transform-origin  :  0 0;
            transform-origin  :  0 0;
}

#currentMap.modal-shrink {
    transform  :  translateX(-140px);
}

#currentMap .deleteMapButton {
    display  :  none;
}

#mapsCollection .saveMapButton {
    display  :  none;
    opacity  :  0;
}

.birdMapInstance  {
    position  :  relative;
    top  :  10px;

    background  :  transparent;

    transition  :  all 1.5s;
}

#currentBirdMap {
    background  :  transparent;
}

.mapButtons {
    width  :  30px;
    height  :  30px;
    padding  :  3px 0 0 0;

    color  :  white;
    text-align  :  center;

    border  :  1px solid rgba(255,255,255, 0.5);
    border-radius  :  10px;

    cursor  :  pointer;
    transition  :  all 500ms;
}

.deleteMapButton  {
    position  :  absolute;
    top  :  230px;
    left  :  20px;

    font-size  :  20px;

    background  :  #a32d00;
}

.saveMapButton  {
    display  :  none;

    position  :  absolute;
    top  :  240px;
    left  :  0;
    width  :  36px;
    height  :  36px;

    background  :  #303c3f;
}

.deleteMapButton:hover,
.deleteMapButton:focus {
    background  :  #c00;
}

.drawing  {
    position  :  relative;

    text-shadow  :  none;

    -webkit-filter  :  drop-shadow( 0 0 3px rgba(0,0,0,0.3) );
        -ms-filter  :  drop-shadow( 0 0 3px rgba(0,0,0,0.3) );
            filter  :  drop-shadow( 0 0 3px rgba(0,0,0,0.3) );

    transition  :  all 1s;
}

.drawing.smallBirdDrawing {
    height  :  0;
}

.colorKey {
    opacity  :  0.9;

    position  :  absolute;
    top  :  260px;
    left  :  165px;

    transition  :  opacity 350ms;
}

.colorKey ul {
    position  :  relative;
}

.colorKey ul li {
    position  :  relative;
    /*width  :  auto;*/
    margin-top  :  4px;

    font-size  :  0.9em;
    text-align  :  center;
    letter-spacing  :  0.1em;
    text-shadow  :  rgba(0, 0, 0, 0.4) 1px 1px 1px;

    list-style-type  :  none;
}

/* var endemicColor        =  '#C23BC3';
   var extinctColor        =  '#fff';
   var residentColor       =  '#3030cc';
   var nonBreederColor     =  '#ff9900';
   var vagrantColor        =  '#ffff00';
   var hypotheticalColor   =  '#33cc66';
   var introducedColor     =  '#101010';    */

.colorKey ul li:nth-child(1) {
    /* introduced  */
    color  :  #000;
    text-shadow  :  none;
}

.colorKey ul li:nth-child(2) {
    /* hypothetical  */
    padding : 1px 8px 2px 8px;
    color  :  white;
    text-shadow  :  rgba(0,0,0, 0.7) 1px 1px 1px;
    /*text-shadow: none;*/
    background  :  #23bc56;
}

.colorKey ul li:nth-child(3) {
    /* nonbreeder    */
    padding : 1px 8px 2px 8px;
    color  :  white;
    /*text-shadow: none;*/
    text-shadow  :  rgba(0,0,0, 0.7) 1px 1px 1px;
    background  :  #df7920;
}

.colorKey ul li:nth-child(4) {
    /* vagrant       */
    color  :  #ff0;
}

.colorKey ul li:nth-child(5) {
    /* extinct       */
    color  :  #fff;
}

.colorKey ul li:nth-child(6) {
    /* resident      */
    color  :  #3030cc;
    text-shadow  :  rgba(0, 0, 0, 0.3) 1px 1px 1px;
}

.colorKey ul li:nth-child(7) {
    /* endemic       */
    padding  :  0 0 2px 0;
    color  :  white;
    background-color  :  #c23bc3;
}