    /*move countryMenu offscreen*/
@media screen and (max-width: 1220px)  {
    #currentMap {
        left  :  calc(100% - 250px);

        transform  :  scale(0.78);
        -webkit-transform-origin  :  0 50%;
           -moz-transform-origin  :  0 50%;
            -ms-transform-origin  :  0 50%;
             -o-transform-origin  :  0 50%;
                transform-origin  :  0 50%;
    }
}

@media screen and (max-width: 1024px)  {
    html {
        font-size  :  50%;
    }

    body {
        padding  :  0 0 5px 15px;
    }

    .md-modal {
        top : 0;
        left : 120%;
        /*transform : translateX(0) translateY(0);*/
    }

    .smallBanner {
        display  :  block;
    }

    #mainContent {
        margin  :  16px 0 0 0;
    }

    .titleBanner {
        display  :  none;
    }
    .titleBanner_spacer  {
        position  :  relative;
        top  :  -10px;

        font-size  :  1.5rem;
    }

    .titleBanner::after {
        display  :  none; text-shadow  :  1px 1px 1px rgba(80,80,80,1);
    }

    article {
        width  :  550px;

        line-height  :  18px;
    }

    .firstTaxonomyParagraph {
        color  :  black;
    }

    #checklistOptions::before  {
        left  :  -165px;

        font-size  :  1.4em;
    }

    #currentMap {
        left  :  calc(100% - width);

        transform  :  scale(0.78);
    }

    #numDays {
        left  :  0;

        width  :  calc(100vw - 250px);
    }

    footer {
        position  :  absolute;
        left  :  0;

        width  :  100vw;
        padding  :  0 500px 0 100px;

        justify-content  :  space-between;

        border-radius  :  3px;
        background  :  #6d9892;
    }

    .md-modal {
        width  :  155px;

        transition  :  all 750ms;
        transform  :  translateX(0);
    }

    .md-show {
        transform  :  translateX(-155px);
    }
    .country-menu-wrap::before  {
        left  :  -43px;

        width  :  43px;
    }
    .country-menu a {
        width  :  122px;
    }
    .country-menu a::before {
        left  :  -51px;

        width  :  26px;
        height  :  26px;
        /*are these necessary?*/

        background-size  :  26px;
    }
}
@media screen and ( max-width: 840px) {
  .md-modal {
    top : 0;
    left : 0;
    transform : translateX(0) translateY(0);
    }
}

/*iPad portrait*/
/*@media screen and (max-width: 768px)  {*/


/*}*/

/*iPhone 6 landscape*/
/*@media screen and (max-width: 667px)  {*/


/*}*/
