.tooltip  {
    opacity  :  0;

    height  :  1.8rem;

    font-size  :  1.4rem;
    color  :  #fff;
    line-height  :  1.1em;
    text-align  :  center;

    border-radius  :  0 3.2px 3.2px 0;
    box-shadow  :  2px 2px 2px rgba(0,0,0,0.2);

    transition  :  all 1s ease;
}

.taxInstructionsButton .tooltip {
    opacity  :  1;
    position  :  absolute;
    top  :  5px;
    left  :  76px;
    height  :  2.4rem;

    padding : 2px 0 1px 0;

    width  :  30rem;

    background  :  transparent;
    border : 1px solid black;

    /*box-shadow  :  0 0 2px 1px rgba(0,0,0,1);*/

    transform  :  rotate(-5deg);
    -webkit-transform-origin  :  top left;
       -moz-transform-origin  :  top left;
        -ms-transform-origin  :  top left;
         -o-transform-origin  :  top left;
            transform-origin  :  top left;
}

.deleteMapButton .tooltip {
    position  :  absolute;
    top  :  -40px;
    left  :  -100px;

    width  :  12em;

    background  :  #a32d00;

    transform  :  rotate(0);
    -webkit-transform-origin  :  top right;
       -moz-transform-origin  :  top right;
        -ms-transform-origin  :  top right;
         -o-transform-origin  :  top right;
            transform-origin  :  top right;
}

.saveMapButton .tooltip {
    position  :  absolute;
    top  :  -60px;
    left  :  -130px;

    width  :  12em;

    transform  :  rotate(0);
    -webkit-transform-origin  :  top right;
       -moz-transform-origin  :  top right;
        -ms-transform-origin  :  top right;
         -o-transform-origin  :  top right;
            transform-origin  :  top right;
}

.tooltip:after {
    content  :  '';
    position  :  absolute;
    top  :  0;
    /*left  :  -1.05em;*/

    /*width  :  0;*/

    border-width  :  0.6em;
    border-style  :  solid;
    /*border-color  :  transparent #333 transparent transparent;*/
}

.taxInstructionsButton .tooltip:after {
    top  : -0.05em;
    left  :  -1.75em;
    /*height  :  inherit;*/
    border-width  :  0.85em;

    border-color  :  transparent #000 transparent transparent;

    /*border-color  :  transparent transparent transparent #000;*/
}

.saveMapButton .tooltip:after {
    top  :  0;
    left  :  100%;

    border-color  :  transparent transparent transparent #404f53;
}

.deleteMapButton .tooltip:after {
    top  :  0;
    left  :  100%;

    border-color  :  transparent transparent transparent #a32d00;
}

.taxInstructionsButton.hasTooltip:hover .tooltip {
    transform  :  rotate(-10deg);
}

.saveMapButton.hasTooltip:hover .tooltip {
    opacity  :  1;

    background  :  #404f53;

    transform  :  rotate(-10deg);
}

.deleteMapButton.hasTooltip:hover .tooltip {
    opacity  :  1;

    transform  :  rotate(-10deg);
}