// $bgColor  :  #959A93;
$bgColor  :  rgb(90,91,86);

$bannerColor  :  transparent;
$genericButtonColor  :  #A65751;
// $panelColor : #B1B7AE;
$panelColor : rgb(97,98,93);

// $panelFlyoutColor : rgba(82,104,112,1);
$panelFlyoutColor : rgba(84,106,114,1);

$birdRolloverColor : #6f8a91;

/*  from "CSS Secrets" by Lea Verou  */

input[type='radio'],input[type='checkbox'] {
    position  :  absolute;
    margin-bottom  :  5px;

    clip  :  rect(0,0,0,0);
}

input + label::before  {
    content  :  '\a0\a0';
    display  :  inline;

    width  :  1em;
    height  :  1em;
    margin-right  :  1em;
    margin-bottom  :  15px;
    padding  :  0.05em 0.15em;

    // font-size : 1.6rem;
    // color : black;

    // border  :  1px solid currentColor;
    // background  : #222;
}

input[type='checkbox'] + label::before  {

    border-radius  :  0.2em;
}

input[type='radio'] + label::before  {
    padding  :  0.05em 0.25em;

    border-radius  :  50%;
}

input[type='checkbox']:checked + label::before   {
    content  :  '\2713';

    margin-right  :  0.96em;
    padding  :  0.1em 0.2em;

    font-weight  :  900;
    text-shadow: none;

/*color             :  rgba(234,164,40,1.0);*/
    /*color             :  rgba(255,255,0,1);*/
    // color  :  #ddd;
    // color : #b66761;

    // border  :  1px solid currentColor;

/*border            :  2px solid rgba(255,255,255,0.8);*/
    // background        :  #9A8a6F;

    // background  :  rgb(30,30,30);
}

input[type='radio']:checked + label::before  {
    content  :  '\2022';

    margin-right  :  0.92em;

/*  to make the background circle look rounder  */
    padding  :  0.1em 0.3em 0.22em 0.4em;

    font-weight  :  900;

    // color : #b66761;
    border  :  1px solid currentColor;

    background  :  $panelColor;
}

input[type='checkbox']:checked + label,input[type='radio']:checked + label     {
    margin-left  :  -7px;
    padding  :  6px 7px 6px 6px;

    // color : #b66761;
    text-shadow: none;
    background        :  $genericButtonColor;

    // border  :  1px solid currentColor;

    border-radius  :  5px;
}

input[type='checkbox']:hover + label:hover,input[type='radio']:hover + label:hover     {
    margin-left  :  -7px;
    padding  :  6px 7px 6px 6px;
    // color : #b66761;
    text-shadow: none;
    background        :  $genericButtonColor;

    // border : 1px solid white;
    border-radius  :  5px;
    cursor  :  pointer;
    transition : all 350ms;
}

input[type='checkbox']:disabled:hover + label:hover,input[type='radio']:disabled:hover + label:hover     {
    margin-left  :  -6px;
    padding  :  6px 7px 6px 6px;

    border  :  none;
    border-radius  :  5px;
    background-color  :  inherit;

    cursor  :  default;
}

input[type='checkbox']:disabled + label::before,input[type='radio']:disabled + label::before         {
    color  :  rgba(60,60,60,0.3);

    border  :  1px solid rgba(200,200,200,0.4);
    background  :  none;
}

input[type='checkbox']:disabled + label  {
    color  :  rgba(60,60,60,0.5);
    text-shadow  :  none;

    background  :  none;
}
