// $bgColor  :  #959A93;
$bgColor  :  rgb(90,91,86);

$bannerColor  :  transparent;
$genericButtonColor  :  #A65751;
// $panelColor : #B1B7AE;
// $panelColor : rgb(97,98,93);
// $panelColor : rgb(84,85,80);
$panelColor : rgb(74,75,70);

// $panelFlyoutColor : rgba(82,104,112,1);
// $panelFlyoutColor : rgba(84,106,114,1);
// $panelFlyoutColor : rgba(94,116,124,1);
$panelFlyoutColor : rgba(82,104,112,1);


$birdRolloverColor : #000;

*,*::before,*::after {
    margin  :  0;
    padding  :  0;
    -webkit-box-sizing  :  border-box;
       -moz-box-sizing  :  border-box;
            box-sizing  :  border-box;

         -o-user-select  :  none;

/* or unselectable="on" attribute */
    /*-webkit-touch-callout  :  none; */

    -webkit-user-select  :  none;
       -moz-user-select  :  none;
        -ms-user-select  :  none;
            user-select  :  none;
}

html {
    width  :  100%;
    height  :  100%;
    /*so 1em = 10px (browser default usually 16px)*/
    font-size  :  62.5%;
    background  :  $bgColor;
}

body {
    width  :  100vw;
    min-height  :  100vh;
    margin  :  0 auto;

    font-family  :  Verdana, Georgia, sans-serif;
    font-size  :  1.6rem;
    font-weight  :  600;
    // color  :  #414141;
    color : white;
    letter-spacing  :  0.04em;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.8);

    background  :  $bgColor;
}

a   {  color  :  inherit;
    text-decoration  :  none;
}

a:link  {  border-bottom  :  solid 1px #bbb;
}

.icon {
    display  :  inline;

    position  :  relative;
    width  :  1.3em;
    height  :  1.3em;

    fill  :  #ddd;
    -webkit-filter  :  drop-shadow( 2px 2px 2px rgba(0,0,0,0.3) ) drop-shadow( -1px -1px 1px rgba(0,0,0,0.3) );
        -ms-filter  :  drop-shadow( 2px 2px 2px rgba(0,0,0,0.3) ) drop-shadow( -1px -1px 1px rgba(0,0,0,0.3) );
            filter  :  drop-shadow( 2px 2px 2px rgba(0,0,0,0.3) ) drop-shadow( -1px -1px 1px rgba(0,0,0,0.3) );
    stroke  :  #ddd;
    stroke-width  :  0;
}

.icon-pen {
    top  :  -5px;
    left  :  -15px;
    width  :  2.6em;
    height  :  2.6em;
}

.icon-pin  {
    top  :  -17px;
    left  :  8px;
    width  :  2.5em;
    height  :  2.5em;
}

.icon-female {
    top  :  3px;
    fill : ddd;
    -webkit-filter  :  drop-shadow( 2px 2px 2px 0.3 ) drop-shadow( -1px -1px 1px 0.3 );
        -ms-filter  :  drop-shadow( 2px 2px 2px 0.3 ) drop-shadow( -1px -1px 1px 0.3 );
            filter  :  drop-shadow( 2px 2px 2px 0.3 ) drop-shadow( -1px -1px 1px 0.3 );
}

.icon-camera  {
    top  :  3px;
}

.icon-list  {
    top  :  6px;
    width  :  2em;
}

.icon-file-excel  {
    top  :  4px;
    width  :  2em;
    height  :  1.2em;
}

.icon-paper-plane-o {
    top  :  1px;
}

#mainContent {
    display  :  flex;
    flex-direction  :  column;
    position : relative;
    left : 15vw;

    overflow  :  visible;

    transition  :  transform 750ms;
}

#mainContent.modal-shrink {
    transform  :  translateX(-100px);
}

.smallBanner {
    display  :  none;

    position  :  absolute;
    left  :  0;
    width  :  100vw;
    margin  :  0;
    padding  :  20px 0 93px 11%;

    font-size  :  2.5rem;
    font-weight  :  bold;
    color  :  black;
    letter-spacing  :  0.15em;
    text-shadow  :  1px 1px 2px #444;

    border-radius  :  3px;
    background  :  #6d9892;

    cursor  :  pointer;
}

.titleBanner {
    position  :  fixed;
    display  :  -webkit-flex;
    display  :          flex;
    flex-direction  :  row;
    justify-content  :  space-around;

    top : 100vh;
    left : 2vw;
    width : 100vh;
    overflow : visible;
/*IE11 must have min-width set*/
    /*min-width  :  70px;*/
    margin  :  0 auto;

    transform  :  rotate(-90deg);
    -webkit-transform-origin  :  top left;
       -moz-transform-origin  :  top left;
        -ms-transform-origin  :  top left;
         -o-transform-origin  :  top left;
            transform-origin  :  top left;
}

.titleText  {
    flex : 1 1 330px;
    padding  :  12px 0 15px 0;

    font-size  :  2.7rem;
    font-weight  :  bold;
    font-variant  :  small-caps;
    color  :  #fff;
    text-align  :  center;
    letter-spacing  :  0.04em;
    text-shadow  :  1px 1px 1px rgba(40,40,40,1);
    border : 1px solid rgba(255,255,255,1);

    // border : 1px solid rgba(82,104,112,1);
    border-radius  :  5px;

    background  :  rgba(82,104,112,1);
    // box-shadow: 0 0.7px #313131, -0.7px 0 #313131, 0 -0.3px #fff, 0.3px 0 #fff;
    box-shadow: inset 0 0 7px 0 #333;
}

.titleBanner_spacer  {
    position  :  relative;
    top  :  -7px;

    font-size  :  1.5rem;
    font-variant  :  normal;
}

.surroundBanner  {
    position : relative;
    height : 3px;
    // border : 1px solid rgba(82,104,112,1);
    // border : 1px solid rgba(255,255,255,1);

    border-radius: 50%;
    background : rgba(255,255,255,1);
    box-shadow: 0 -1px #222, 0 1px #222;
}

.surroundBanner:nth-child(1)  {
    top : calc(0.65em);
    flex : 1 1 auto;
    flex-grow : 3;
}

.surroundBanner:nth-child(3)  {
    top : calc(32px + 0.65em);
    flex : 1 1 auto;
}

.articles {
    display  :  -webkit-flex;
    display  :          flex;
    flex-direction  :  column;
    flex-wrap  :  nowrap;
    justify-content  :  space-around;

    position  :  relative;
    left  :  0;
    width  :  695px;
    margin-top  :  70px;

    overflow  :  visible;
}

section  {
    position  :  relative;

    overflow  :  visible;
}

article {
    // width  :  695px;

    // font-size  :  1.4rem;
    line-height  :  22px;

    border-radius  :  3px;

    transition  :  all 500ms;
}

.panel {
    opacity  :  1;

    position  :  relative;
    padding  :  0 25px;

    pointer-events  :  auto;
    overflow  :  visible;

    border  :  1px solid rgba(255,255,255,0.25);
    border-radius  :  3px;
    background  :  $panelColor;
    box-shadow  :  1px 1px 2px rgba(0, 0, 0, 0.2);

    -webkit-transition  :  opacity 2s;
       -moz-transition  :  opacity 2s;
         -o-transition  :  opacity 2s;
            transition  :  opacity 2s;
}

.flyoutPanel  {
    width  :  calc(100% - 40px);
    height  :  42px;
    margin  :  0 auto 0 auto;

    font-size  :  1.8rem;
    font-variant  :  small-caps;
    color  :  #fff;
    line-height  :  34px;
    text-align  :  center;
    letter-spacing  :  0.1em;

    border  :  1px solid rgba(255,255,255,0.25);
    background-color  :  $panelFlyoutColor;
}

.topFlyoutPanel  {
    padding-bottom  :  4px;
    border-bottom  :  none;
    border-top-left-radius  :  3px;
    border-top-right-radius  :  3px;
    box-shadow : inset 0 -5px 4px -4px rgba(0,0,0,0.3), inset 0 0 2px rgba(0,0,0,1);
}

.bottomFlyoutPanel  {
    padding-top :  3px;
    border-top  :  none;
    border-bottom-right-radius  :  3px;
    border-bottom-left-radius  :  3px;
    box-shadow  :  inset 0 5px 4px -4px rgba(0,0,0,0.3), inset 0 0 2px rgba(0,0,0,1);
}

.genericButton {
    padding  :  10px 14px;

    font-size  :  1.8rem;
    font-weight  :  bold;
    font-variant  :  small-caps;

    color  :  #fff;
    line-height  :  16px;
    text-align  :  center;
    letter-spacing  :  0.15em;
    text-shadow  :  1px 1px 1px rgba(0,0,0, 0.5);

    border  :  1px solid #ccc;
    border-radius  :  4px;
    background-color  :  $genericButtonColor;
    box-shadow  :  inset 0 0 0 transparent, 2px 2px 2px rgba(0, 0, 0, 0.2);

    cursor  :  pointer;
    -webkit-transition  :  all 650ms;
       -moz-transition  :  all 650ms;
         -o-transition  :  all 650ms;
            transition  :  all 650ms;
}

.genericButton:hover,.genericButton:focus {
    text-shadow  :  1px 1px 1px black;
    box-shadow  :  inset 185px 0 5px 5px #333, 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.genericButton.needsAttention {
    letter-spacing  :  0.3em;

    border  :  1px solid white;
    background-color  :  #222;
    box-shadow  :  0 0 0 2px #6d9892, 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.genericButton.highlight {
    background-color  :  #252525;
}

.genericButton.highlight:hover,.genericButton.highlight:focus {
    letter-spacing  :  0.3em;
    border  :  1px solid rgba(255,255,255,0.8);
    box-shadow  :  inset 170px 0 5px 5px $genericButtonColor, 2px 2px 2px rgba(0, 0, 0, 0.2);
}

#taxonomyArticle {
    position  :  relative;

    -webkit-transition  :  all 850ms ease-in-out;
       -moz-transition  :  all 850ms ease-in-out;
         -o-transition  :  all 850ms ease-in-out;
            transition  :  all 850ms ease-in-out;
}

.taxArticleMain {
    padding  :  10px 0 30px 0;
    line-height: 28px;
}

.taxArticleMain .searchWord {
    position  :  relative;
    top  :  -20px;
    width : calc(100% + 50px);
    // width : 100%;
    left  :  -25px;
    // margin  :  0 10px 20px 0;
    padding  :  21px 25px 16px 25px;

    // color : #fff;
    font-size : 1.6rem;
    text-align: center;
    // letter-spacing  :  0.2em;
    // text-shadow  :  1px 1px 1px rgba(40,40,40,1);

    // border-radius  :  5px;
    background  :  rgba(82,104,112,1);
    box-shadow : 1px 1px 1px rgba(0,0,0,0.5);
}

// #taxonomyArticle a.linkHighlight {
    // padding  :  0 4px;
    // border-radius: 15px;
    // background  :  transparent;
// }


#taxonomyArticle a.linkHighlight {
    padding : 3px 5px 0 6px;
}

#taxonomyArticle a.linkHighlight:hover {
    // background  :  #eee;
    // color : black;
    background : $genericButtonColor;
    // text-shadow  :  none;
    transition: all 350ms;
}

#taxTreeArticle {
    margin  :  0 0 15px 0;
    padding-top  :  20px;

    border  :  none;
    box-shadow  :  none;
}

#checklistArticle {
    position  :  relative;
    margin  :  100px 0 0 0;
    z-index  :  0;
    // text-align  :  center;

    overflow  :  visible;
}

#checklistAuthorsPanel  {
    opacity : 0;
    height : 0;
    margin : 0 5px;
    padding : 7px 5px 5px 5px;
    font-variant: small-caps;
    font-size  :  1.4rem;
    text-align  :  center;
    line-height  :  20px;
    background : #333;
    transition : all 350ms;
}

#checklistAuthorsPanel.show  {
    opacity : 1;
    height : auto;
    margin : 30px 5px 0 5px;
}

#checklistArticle .panel  {
    padding  :  25px 0 0 0;
}

#checklistOptions.panel {
    position  :  relative;
    left  :  10%;
    width  :  80%;
    margin  :  60px 0 25px 0;
    padding  :  30px 0 30px 35px;

    font-size  :  1.7rem;
    // color : black;
    // text-align  :  left;

    letter-spacing  :  0.15em;
    // text-shadow: none;
// background : #B1B7AE;
// background : #333;

    // border  :  1px solid #607478;
    border-top-left-radius  :  10%;
    border-bottom-right-radius  :  25%;
    box-shadow  :  1px 1px 1px #607478;
}

.checklistTitle  {
    position  :  absolute;
    top  :  20px;
    left  :  -255px;
    z-index  :  2;

    font-size  :  2.3rem;
    font-weight  :  bold;
    font-variant  :  small-caps;
    // color  :  $genericButtonColor;
    color  :  white;

    text-shadow : 1px 1px 1px rgba(255,255,255,0.2);
    letter-spacing  :  0.2em;

    transform  :  rotate(-86deg);
    -webkit-transform-origin  :  top right;
       -moz-transform-origin  :  top right;
        -ms-transform-origin  :  top right;
         -o-transform-origin  :  top right;
            transform-origin  :  top right;
}

#checklistCountryButton {
    position  :  absolute;
    top  :  13%;
    right  :  -50px;

    line-height  :  20px;
}

#pdfButton {
    position  :  absolute;
    right  :  -80px;
    bottom  :  35%;
    height  :  34px;
    padding  :  0 16px 12px 18px;
}

#csvButton {
    position  :  absolute;
    right  :  -78px;
    bottom  :  10%;
    height  :  34px;
    padding  :  0 16px 8px 18px;
}

#numDays {
    display  :  flex;
    flex-direction  :  row;
    justify-content  :  space-around;

    position  :  relative;
    left  :  20px;
    width  :  150%;
    margin  :  20px 0 20px 0;
    z-index  :  20;

    color  :  #fff;

    background  :  transparent;
}

#days {
    position  :  relative;
    top  :  12px;

    font-size  :  2rem;
    color  :  #000;
    letter-spacing  :  0.15em;
    text-shadow: none;
}

#numDays a {
    position  :  relative;
    top  :  2px;
    width  :  50px;
    height  :  50px;
    padding  :  8px 0 0 0;

    color : #313131;
    font-size  :  2.2rem;
    text-align  :  center;
    text-decoration  :  none;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.1);

    // slightly randomize the variuos border-radii ala cicada principle ?***
    border-radius  :  50%;
    background  :  #eee;
    box-shadow  :  1px 1px 1px rgba(0, 0, 0, 0.3), -1px -1px 1px rgba(0, 0, 0, 0.1);

    cursor  :  pointer;
    -webkit-transition  :  all 400ms;
       -moz-transition  :  all 400ms;
         -o-transition  :  all 400ms;
            transition  :  all 300ms;
}

#numDays a:hover,#numDays a:focus {
    color : #fff;
    text-shadow  :  1px 1px 1px rgba(0,0,0,0.6);
    border-top-right-radius  :  10%;
    background  :  $genericButtonColor;
    box-shadow  :  0 0 1px 1px rgba(255,255,255,0.4);
}

#numDays a.highlight {
    top  :  -18px;

    color  :  #fff;
    text-shadow  :  1px 1px 1px rgba(0,0,0,0.6);

    border-top-right-radius  :  10%;
    background-color  :  $genericButtonColor;
    box-shadow  :  0 0 2px 2px rgba(255,255,255,0.4);

    transform  :  scale(1.6);
    transition : all 350ms;
    cursor : default;
}

/*   -------------------   Footer   ----------------------------   */

footer {
    display  :  -webkit-flex;
    display  :          flex;
    flex-direction  :  row;
    justify-content  :  space-around;

    // height  :  30px;
    margin  :  20px 0 30px 0;
    // padding : 4px 0 0 0;

    // color  :  #fff;
    // font-size  :  0.9em;
    // font-variant : small-caps;
    // font-weight : 800;
    // text-align  :  center;
    // text-shadow  :  1px 1px 1px rgba(0,0,0,0.6);

    // letter-spacing  :  0.2em;
    // text-shadow  :  none;

    // border-radius : 5px;
    // background  :  $panelFlyoutColor;

    // background  :  transparent;
}


footer a  {
    padding : 2px 3px 4px 5px;
    text-decoration  :  none;
    border : solid 1px transparent;
    border-bottom  :  solid 1px #bbb;
}

// footer .obfuscated_link {
//      margin : 0 0 0 40px;
// }


// footer a  {
//     border-bottom  :  solid 1px #bbb;
// }

footer a:hover, footer a:focus {
    // text-shadow  :  rgba(0, 0, 0, 1) 1px 1px 1px;
    // border-bottom  :  solid 1px #fff;
    border  :  solid 1px #bbb;
    transition: all 350ms;
}