.genericButton {
    font-size  :  1.2rem;
    font-weight  :  bold;
    font-variant  :  small-caps;

    color  :  #fff;
    text-align  :  center;
    letter-spacing  :  0.15em;
    text-shadow  :  0 0.077rem 0.077rem rgba(0,0,0, 0.5);

    // border  :  0.077rem solid transparent;
    border  :  0.077rem solid rgb(106, 106, 106);
    border-bottom : 0.077rem solid rgb(61, 60, 60);

    border-radius  :  0.3rem;
    background-color  :  $genericButtonColor;
    box-shadow  :  inset 0 0 0 transparent, 0.15rem 0.15rem 0.15rem rgba(0, 0, 0, 0.1);

    cursor  :  pointer;
    -webkit-transition  :  all 650ms;
       -moz-transition  :  all 650ms;
         -o-transition  :  all 650ms;
            transition  :  all 650ms;
}

.genericButton:hover,.genericButton:focus {
    text-shadow  :  0.077rem 0.077rem 0.077rem black;
    box-shadow  :  inset 20ch 0 0.38rem 1.15rem #333, 0.15rem 0.15rem 0.15rem rgba(0, 0, 0, 0.1);
}

// .genericButton.highlight {
//     // border : 0.077rem solid rgb(66, 65, 65);
//     // transition: all 750ms;
// }

.genericButton.highlight:hover,.genericButton.highlight:focus {
    /*border  :  0.077rem solid rgba(255,255,255,0.8);*/
    box-shadow  :  inset -20ch 0 0.38rem 1.15rem #252525, 0.15rem 0.15rem 0.15rem rgba(0, 0, 0, 0.1);
    transition: all 750ms;
}