/*  from "CSS Secrets" by Lea Verou  */

input[type='checkbox'] {
    position  :  absolute;
    clip  :  rect(0,0,0,0);
}

input + label::before  {
    content  :  '\a0\a0';
    margin-right  :  1em;
    padding  :  0.6ch 0.7ch 0.6ch 0.7ch;
}

input[type='checkbox'] + label::before  {
    border-radius  :  0.2em;
}

input[type='checkbox']:checked + label::before   {
    content  :  '\2713';
    margin-right  :  0.7ch;
    padding  :  0.6ch 1.5ch 0.6ch 0.7ch;
    font-weight  :  900;
}

input[type='checkbox']:checked + label     {
    margin-left  :  -0.7ch;
    padding  :  0.6ch 1.5ch 0.6ch 0.7ch;
    background-color        :  $genericButtonColor;
    border-radius  :  0.38rem;
}

input[type='checkbox']:hover + label:hover     {
    margin-left  :  -0.7ch;
    padding  :  0.6ch 1.5ch 0.6ch 0.7ch;
    background-color        :  $genericButtonColor;
    border-radius  :  0.38rem;
    cursor  :  pointer;
    transition : all 350ms;
}

input[type='checkbox']:disabled:hover + label:hover     {
    margin-left  :  -0.7ch;
    padding  :  0.6ch 0.7ch 0.6ch 0.7ch;
    border  :  none;
    border-radius  :  0.38rem;
    background-color  :  inherit;

    cursor  :  default;
}

input[type='checkbox']:disabled + label::before         {
    color  :  rgba(255,255,255,0.4);
    border  :  none;
    background-color  :  none;
}

input[type='checkbox']:disabled + label  {
    color  :  rgba(255,255,255,0.4);
    background-color  :  none;
}