.md-modal {
  // opacity: 0;
  position: fixed;
  top: 0;
  left: 100%;
  z-index: 200;
  transition: transform 1000ms 250ms;
}

.menu-show {
  transform: translateX(-21vw);
  // opacity: 1;
}

.md-overlay {
  opacity: 0;
  pointer-events: none;

  // display  :  flex;
  // flex-direction  :  column;
  // flex-wrap  :  nowrap;
  // align-items: center;
  // justify-content: center;

  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  z-index: 10;
  border: none;
  // background-color: $bgColor;
  background-color: rgb(41, 40, 40);
  transition: opacity 1000ms 700ms;
}

.md-overlay.show {
  opacity: 0.95;
  pointer-events: all;
  transition: opacity 500ms;
}

.md-overlay.show .overlayInfo {
  opacity: 1;

  transition: all 750ms 500ms;
}

.titleStrip {
  position: absolute;
  left: 1vw;
  top:  100vh;
  height: 11.2vh;
  width: 101vh;
  text-align: center;

  transform-origin: top left;
  transform: rotate(-90deg);

  font-size: 8.8vh;
  letter-spacing: 0.5vh;
  color: darken($bgColor, 10%);
  text-shadow : -0.077rem 0.077rem rgba(186, 186, 186, 0.4), 0.077rem -0.077rem 0.077rem rgba(0,0,0,0.4);

  background-color: $titleBannerColor;
  box-shadow: inset 0 0 0.15rem rgb(250, 249, 249), 0 0 0.15rem rgba(0,0,0,0.5);
}

// TODO : (separately fade in/out) ?

.overlayInfo  {
  opacity: 0;
  position: relative;
  display: flex;
  align-items: center;
  left: calc((100vw - (11.2vh + 1vw + 21vw)) / 2 - 45vw);
  width: 20vw;
  height: 10vh;
  min-width: 31ch;
  min-height: 15ch;
  padding: 1.54rem;
  pointer-events: none;

  font-size: 1.2em;
  font-variant: small-caps;
  line-height: 1.6em;
  text-align: center;

  border-top: 0.077rem solid rgba(255,255,255,0.5);
  border-bottom: 0.077rem solid rgba(255,255,255,0.5);
  border-radius:  0.23rem;
  box-shadow:  inset 0 0 5rem rgba(0,0,0,0.3);
  transform: scale(0.95);
  transition: all 500ms;
}

.underline {
  border-bottom: 0.15rem double white;

  // no support for below in Edge
  // text-decoration-style: solid;
  // text-decoration-color: white;
  // text-decoration-line: underline;
}

// TODO : (difference font color with  ackground?)
//  collor:#00F0B5;  mix-blend-mode: difference;
//  but text was in its own container, and not supported in Edge

#countryButton {
  position: absolute;
  top: 1.3rem;
  // left: 30vw;
  right: 19vw;
  width: 18vw;
  height: auto;
  padding : 0.7ch 2ch 0.9ch 0;

  // text-align: left;

  border: 0.077rem solid white;
  border-radius: 0.2rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  // background-color: $bgColor;
  // background-color: rgb(186, 141, 30);
  // background-color: transparent;
  background: linear-gradient(45deg, rgba(255,255,255, 0.1) 0%, rgba(20, 20, 20, 0) 100%);
  // background-color: transparent;
  box-shadow  :  0.15rem 0.15rem 0.23rem rgba(0, 0, 0, 0.1);
  // transition  :  box-shadow 400ms;
  transition  :  background 400ms;
}

#countryButton:after {
  content  :  '';
  position  :  absolute;
  // top  :  -2.0.23rem;
  top  :  -0.27rem;
  left  :  101%;
  border-style  :  solid;
  // border-width  :  calc(1.2em + 0.15rem);
  border-width  :  1.7rem;
  border-color  :  transparent transparent transparent white;
  transition : all 200ms 500ms;
}

#countryButton:hover, #countryButton:focus {
  // border : 0.077rem solid #888;
  // box-shadow  :  inset 20rem 0 2rem 1.1rem rgb(62, 62, 62), 0.15rem 0.15rem 0.23rem rgba(0, 0, 0, 0.1);
  background: linear-gradient(45deg, rgba(20, 20, 20, 0.2) 0%, rgba(255,255,255, 0.15) 100%);
}

.country-menu {
  position: relative;
  display  :  -webkit-flex;
  display  :  flex;

  -webkit-flex-direction  :  column;
  flex-direction  :  column;

  -webkit-flex-wrap  :  nowrap;
  flex-wrap  :  nowrap;

  padding: 0.5rem 0;
  justify-content: space-around;
  height: 100vh;
  font-size: 1rem;
  border-left: 0.077rem solid rgba(0, 0, 0, 0.2);
  border-right: 0.077rem solid rgba(0,0,0,0.2);

  background-color: #706540;
  // box-shadow:  inset 0 0 8rem rgba(0,0,0,0.2);

  transition: all 2000ms;
}

.countryItem {
  position: relative;
  width: 16vw;

  display  :  -webkit-flex;
  display  :  flex;

  -webkit-flex-direction  :  row;
  flex-direction  :  row;

  -webkit-flex-wrap  :  nowrap;
  flex-wrap  :  nowrap;

  align-items: center;

  letter-spacing: 0.1rem;
  line-height: 1rem;
}

.countryItem a {
  position: relative;
  width: calc(100% + 0.077rem);

  margin-right: -3rem;
  margin-bottom: 0.077rem;
  // need to subtract the font-size ass well
  // padding: (calc(((100vh - 3.08rem) - (19 * 1rem)) / 38)) 0 (calc(((100vh - 3.08rem) - (19 * 1rem)) / 38)) 1.6rem;
  // // padding: (calc(((100vh - 3.08rem) - (19 * 1rem)) / 38)) 0 (calc(((100vh - 3.08rem) - (19 * 1rem)) / 38)) 1.6rem;
  padding: 0.9rem 0 0.9rem 1.6rem;

  text-decoration: none;
  text-shadow : 0  0.077rem rgba(0,0,0,1);

  transition: all 450ms ease-out;
  cursor: pointer;
}

.country-menu a:hover, .country-menu a:focus  {
  background-color:  $countryMenuHighlightColor;
  box-shadow: inset 0 0 0.23rem black;
}

.country-menu a.highlight   {
  width: 16.5vw;
  background-color:  $countryMenuHighlightColor;
  box-shadow: 0 0.15rem 0.15rem rgba(0,0,0,0.3);
  transition: all 450ms ease-out;
}

.country-menu a.highlight:after {
  content  :  '';
  position  :  absolute;
  top  :  -0.077rem;
  left  :  calc(100% - 2.1rem);
  border-style  :  solid;
  border-width  :  1.5rem;
  // border-color  :  transparent white transparent transparent;
  border-color  :  transparent #998c60 transparent transparent;
  transition : all 400ms;
}

.country-menu a.highlight:hover {
  padding-left: 2.2rem;
}

.country-menu a.highlight:hover:after {
  // border-color  :  transparent $genericButtonColor transparent transparent;
  border-color  :  transparent white transparent transparent;
}

.flag  {
  position: absolute;
  // left: calc(100% - 50.15rem);

  height: 2rem;
  width:2rem;
  left: calc(100% - 3rem);

  border-radius : 50%;
  background-position: center;
  background-origin: padding-box;
  background-color: $countryMenuColor;
}

.country-menu img {
  height:  2rem;
  width: 2rem;
  background-color: tranparent;
}