#countryMenuLayer {
  opacity: 0;
  position: fixed;
  // position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $overlayColor;
  // transform: translateX(100vw);
  
  pointer-events: none;
  z-index: 2;
  
  // transition: opacity 300ms 200ms ease-in-out;
  transition: all 300ms 200ms ease-in-out;
  will-change: opacity;
}

#countryMenuLayer.show {
  opacity: 1;
  // transform: translateX(0vw);
  pointer-events: all;
  transition: opacity 300ms  ease-in-out;  // does disabling this help fluidity?
}

#countryButton {
  position: fixed;  // smoother w/o this ???
  // top: 8rem;
  top: 2.35rem;
  // right: 4.8vw;
  right: 3vw;
  transform: translateX(-25vw);
  
  width: 14ch;
  height: 14ch;
  padding : 0.5ch 0 0.9ch 1ch;
  
  font-size: 1rem;
  text-align  :  center;
  cursor: pointer;
  z-index: 3;
   
  border: 0.2rem solid $titleBannerColor;
  border-radius: 50%;
  // border-top-right-radius: 0;
  // border-bottom-right-radius: 0;
  background-color: $bgColor;  // #4db088 a nice green
  
  box-shadow  :  inset 0 0 0 0.03rem black, 0 0 0 0.03rem black;  // smoother w/o this?
  // transition  :  background-color 400ms, transform 400ms ease-out;
  will-change: transform;
}

#countryButton.slideLeft {  
  transform: translateX(0);
  transition: transform 500ms 200ms ease-in-out;  // same, does disabling this help fluidity??, see above
}

#countryButton.countryChosen {  
  top: 1.25rem;
  // TODO : figure out proper calc for right
  right: 5vw;
  width: 5.3rem;
  height: 4.5rem;
  padding : 0;
  color: #eee;
  font-size: 1.25rem;
  text-align  :  center;
  background-color: $bgColor;
  border: 0.2rem solid $titleBannerColor;
  
  border-radius: 50%;
  box-shadow: inset 0 0 0.03rem 0.03rem rgba(0,0,0, 0.1);
}

// #countryButton:after {
//   content  :  '';
//   position  :  absolute;
//   top  :  2rem;
//   left  :  104%;
//   border-style  :  solid;
//   border-width  :  1.7rem;
//   border-color  :  transparent transparent transparent #ccc;
//   // border-color  :  transparent transparent transparent $titleBannerColor;
//   filter: drop-shadow(0.05rem 0 0.05rem rgba(0, 0, 0, 0.4));
// }

#countryButton.countryChosen:after {
  content  :  '';
  position  :  absolute;
  top  :  0.2rem;
  left  :  111%;
  border-style  :  solid;
  border-width  :  1.7rem;
  border-color  :  transparent transparent transparent $titleBannerColor;
  filter: drop-shadow(0.05rem 0 0.05rem rgba(0, 0, 0, 0.4));
}

#countryButton:hover, #countryButton:focus {
  outline: none;
  border-color: rgb(184, 183, 183);
  background-color: #333;
}