#countryMenuLayer {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $overlayColor;
  
  pointer-events: none;
  z-index: 2;
  
  transition: opacity 300ms 200ms ease-in-out;
  will-change: opacity;
}

#countryMenuLayer.show {
  opacity: 1;
  pointer-events: all;
  transition: opacity 300ms  ease-in-out;
}

#countryButton {
  position: fixed;
  top: calc(1.5rem + 100px);
  right: 4.8vw;
  transform: translateX(-22vw);
  
  width: 15vw;
  height: auto;
  padding : 0.7ch 0 0.8ch 2ch;
  
  text-align  :  left;
  cursor: pointer;
  z-index: 3;
  
  // border: 0.045rem solid $bgColor;
  border: 0.2rem solid $titleBannerColor;
  
  border-radius: 0.2rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  // background-color: $titleBannerColor;
  background-color: $bgColor;
  
  box-shadow  :  inset 0 0 0 0.25px black, 0 0 0 0.25px black;
  transition  :  background-color 400ms, transform 400ms ease-out;
}

#countryButton.slideLeft {  
  transform: translateX(0);
  transition: transform 500ms 200ms ease-in-out;
}

#countryButton.countryChosen {  
  top: 20px;
  right: calc(5vw);
  width: 90px;
  height: 80px;
  padding : 0;
  color: #eee;
  text-align  :  center;
  background-color: $bgColor;
  border: 2px solid $titleBannerColor;
  
  
  
  border-radius: 50%;
  box-shadow: inset 0 0 2px 2px rgba(0,0,0, 0.1);
}

#countryButton:after {
  content  :  '';
  position  :  absolute;
  top  :  -0.5rem;
  left  :  104%;
  border-style  :  solid;
  border-width  :  1.7rem;
  border-color  :  transparent transparent transparent #ccc;
  // border-color  :  transparent transparent transparent $titleBannerColor;
  filter: drop-shadow(0.05rem 0 0.05rem rgba(0, 0, 0, 0.4));
}

#countryButton.countryChosen:after {
  top  :  12.5px;
  left  :  111%;
  border-color  :  transparent transparent transparent $titleBannerColor;
}

#countryButton:hover, #countryButton:focus {
  outline: none;
  border-color: white;
  background-color: #333;
}