#country-menu {
  position: relative;
  display  :  -webkit-flex;
  display  :  flex;

  -webkit-flex-direction  :  column;
  flex-direction  :  column;

  -webkit-flex-wrap  :  nowrap;
  flex-wrap  :  nowrap;

  top: 0;
  left: 75vw;
  width: 17vw;
  
  padding: 0.5rem 0;
  justify-content: space-around;
  height: 100vh;
  font-size: 1rem;
  // background: rgb(167,95,29);
  background: rgb(49, 49, 49);
  // background: linear-gradient(90deg, $titleBannerColor 0%, rgba(0,30,30,1) 100%);
  box-shadow  :  0.1px 0 0 0.1px white, -0.2px 0 0 0.2px black;
  
}

.countryItem {
  position: relative;
  width: 100%;

  display  :  -webkit-flex;
  display  :  flex;

  -webkit-flex-direction  :  row;
  flex-direction  :  row;

  -webkit-flex-wrap  :  nowrap;
  flex-wrap  :  nowrap;

  align-items: center;

  letter-spacing: 0.1rem;
  line-height: 1rem;
}

.countryItem a {
  position: relative;
  width: calc(100% + 0.077rem);

  margin-right: -3rem;
  margin-bottom: 0.077rem;
  // need to subtract the font-size ass well
  // padding: (calc(((100vh - 3.08rem) - (19 * 1rem)) / 38)) 0 (calc(((100vh - 3.08rem) - (19 * 1rem)) / 38)) 1.6rem;
  // // padding: (calc(((100vh - 3.08rem) - (19 * 1rem)) / 38)) 0 (calc(((100vh - 3.08rem) - (19 * 1rem)) / 38)) 1.6rem;
  padding: 0.9rem 0 0.9rem 1.6rem;

  text-decoration: none;
  text-shadow : 0 0.077rem rgba(0,0,0,1);

  transition: all 450ms ease-out;
  cursor: pointer;
}

#country-menu a:hover, #country-menu a:focus  {
  outline: none;
  // background-color:  $countryMenuHighlightColor;
  background-color:  $titleBannerColor;
  color: black;
  // text-shadow : none;
  text-shadow : 0 0.077rem rgba(255,255,255,0.2);
}

#country-menu a.highlight   {
  // width: 100%;  // why was this here
  // background-color:  $countryMenuHighlightColor;
  background-color:  $titleBannerColor;
  color: black;
  // text-shadow : none;
  text-shadow : 0 0.077rem rgba(255,255,255,0.2);
  
  transition: all 450ms ease-out;
}

#country-menu a.highlight:after {
  content  :  '';
  position  :  absolute;
  top  :  -0.077rem;
  left  :  calc(100% - 1.75rem);
  border-style  :  solid;
  border-width  :  1.5rem;
  // border-color  :  transparent white transparent transparent;
  border-color  :  transparent white transparent transparent;
  filter: drop-shadow(0 0 0.077rem rgba(0,0,0,1));
  
  transition : left 700ms ease-in-out;
}

#country-menu a.highlight:hover:after {
  // border-color  :  transparent white transparent transparent;
  left  :  calc(100% - 1rem);
}

.flag  {
  position: absolute;
  height: 2rem;
  width:2rem;
  left: calc(100% - 3rem);

  border-radius : 50%;
  background-position: center;
  background-origin: padding-box;
  background-color: $countryMenuColor;
}

#country-menu img {
  height:  2rem;
  width: 2rem;
  background-color: tranparent;
}