html {
    width  :  100%;
    height  :  100%;
    /*so 1em = 10px (browser default usually 16px)*/
    font-size  :  16px;
    // line-height : calc(28 / 1rem);
    background-color  :  $bgColor;
}

body {
    width  :  100vw;
    min-height  :  100vh;

    font-family  :  Verdana, Georgia, sans-serif;
    font-size  :  1rem;
    font-weight  :  600;
    color : white;
    // color : rgb(30, 30, 30);
    text-shadow : 0  1px rgba(0,0,0,0.5);
    // text-shadow : 0  0 1px rgb(162, 149, 137);
    letter-spacing  :  0.04em;

    background-color  :  $bgColor;
    overflow-x : hidden;
}

body::after {
    content:" ";
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    top:0;

    border: 1px solid $bodyBorderColor;
    pointer-events: none;
}

a   {  color  :  inherit;   text-decoration  :  none;  }

a:link  {  border-bottom  :  solid 1px $panelFlyoutFontColor;  }

#mainContent {
    position : relative;
    top : 15vh;
    left : 10vw;
    transition  :  transform 750ms;
}

#mainContent.modal-shrink {
    transform  :  translateX(-100px);
}

.titleBanner {
    position  :  absolute;
    top : 0;
    left : 0;
    width : 100vw;
    height: auto;
    padding: 1ch 7% 0.8ch 0;

    text-align: center;
    font-size  :  2.8rem;
    font-weight  :  bold;
    font-variant  :  small-caps;
    color  :  $titleTextFontColor;
    letter-spacing  :  0.1em;

    background-color  :  $bgColor;
    box-shadow: 0 1px 2px rgba(0,0,0, 0.5);
}

.titleBanner_spacer  {
    position  :  relative;
    top  :  -13px;
    left : -3px;
     margin: 0 0 0 5px;
    // padding: 3px;

    letter-spacing  :  0.1em;
    // color : #df6757;
    color : white;
    // color : gold;
    font-size  :  1.5rem;
    font-variant  :  normal;
    text-shadow : 0  1px rgba(0,0,0,0.8);
    // text-shadow : 0  1px rgba(255,255,255,0.3);

    // poor support 2017-08
    // text-decoration: underline  $;
    // border-bottom: 4px double #df6757;
    // border: 4px double #df6757;
    border-bottom: 4px double white;
    
    // box-shadow:  0 0 5px white;
    
    // border-bottom: 4px double gold;
}

// #countryButton {
//     position: absolute;
//     top: 20px;
//     right: 280px;
//     width: 270px;
//     padding : 0.6ch 0 1ch 2ch;
//     text-align: left;
//     // z-index  :  1;
//     box-shadow  :  inset 0 0 25px 15px transparent, 3px 3px 5px rgba(0, 0, 0, 0.2);
    
//     transition  :  all 400ms ease-in-out;
// }

// #countryButton:hover, #countryButton:focus {
//     border : 1px solid #888;
//     box-shadow  :  inset 270px 0 25px 15px #252525, 3px 3px 5px rgba(0, 0, 0, 0.2);
// }

// #countryButton.highlight:hover, #countryButton.highlight:focus {
//     border : 1px solid #888;
//     box-shadow  :  inset -270px 0 25px 15px #252525, 3px 3px 5px rgba(0, 0, 0, 0.2);
// }

.articles {
    display  :  -webkit-flex;
    display  :          flex;
    flex-direction  :  column;
    flex-wrap  :  nowrap;

    position  :  relative;
    left  :  0;
    width : 60ch;
    max-width : 60ch;
    margin-top  :  4.5ch;

    overflow  :  visible;
}

section  {
    position  :  relative;
}

article {
    border-radius  :  3px;
    transition  :  all 500ms;
}

.panel {
    position  :  relative;
    padding  :  0  1ch 0 4ch;

    pointer-events  :  auto;

    border  :  1px solid rgba(255,255,255,0.15);
    border-radius  :  3px;
    background-color  :  $panelColor;
    box-shadow: 0 0 2px rgba(0,0,0,0.7);

    -webkit-transition  :  opacity 2s;
       -moz-transition  :  opacity 2s;
         -o-transition  :  opacity 2s;
            transition  :  opacity 2s;
}

.flyoutPanel  {
    position: relative;
    top : 0;
    height : 4.2ch;
    margin : 0;
    padding : 1ch 0 0 0;

    font-size  :  1rem;
    font-variant  :  small-caps;
    color  :  $panelFlyoutFontColor;
    text-shadow : 1px 1px rgba(0,0,0,1);
    text-align  :  center;
    letter-spacing  :  0.1em;

    border  :  1px solid rgba(255,255,255,0.25);
    background-color  :  $panelFlyoutColor;
}

.topFlyoutPanel  {
    margin: 0 0 2ch 0;
    top: 2ch;
    left : 2ch;
    width : calc(100% - 4ch);

    border-top  :  1px solid rgba(0,0,0,0.25);
    border-radius: 5px;
    box-shadow : inset 0 -1px 1px -1px rgba(0,0,0,0.2), inset 0 0 1px rgba(0,0,0,0.2);
}

#checklistArticle .topFlyoutPanel  {
    position: absolute;
    top: -3.8ch;
    left : 8ch;
    min-width : calc(100% - 80px);
    height  :  10ch;
    padding : 0.7ch 0 0 0;

    letter-spacing: 0;

    border-radius : 20px;
    border-top-right-radius  :  20px;
    border-bottom-right-radius  :  20px;
}

.bottomFlyoutPanel  {
    margin: 0 0 0 0;
    top : 0;
    left : 2ch;
    width : calc(100% - 4ch);

    border-top  :  1px solid rgba(0,0,0,0.25);
    border-radius: 5px;
    box-shadow  :  inset 0 1px 1px -1px rgba(0,0,0,0.2), inset 0 0 1px rgba(0,0,0,0.2);
}

/*   -------------------   Footer   ----------------------------   */

footer {
    display  :  -webkit-flex;
    display  :  -ms-flex;
    display  :          flex;

    -webkit-flex-direction  :  row;
    -ms-flex-direction  :  row;
    flex-direction  :  row;

    justify-content  :  space-around;
    margin  :  2ch 0 1ch 0;
}

footer a  {
    padding : 1px 3px 2px 5px;
    text-decoration  :  none;
    border : solid 1px transparent;
    border-bottom  :  solid 1px #bbb;
}

footer a:hover, footer a:focus {
    border  :  solid 1px #bbb;
    transition: all 350ms;
}

// input:focus + .inpuInfo { display: block; }

