#mapsCollection  {
    position  :  fixed;
    top : 100vh;
    width : 100vw;
    // height: calc(100vw / 4.5 - 1.3rem);
    height: auto;

    background-color: $mapCollectionColor;
    box-shadow  :  0 -0.6px 0.6px rgba(0,0,0,0.2);

    cursor: pointer;
    z-index : 10;
    transition  :  transform 500ms;
}

#mapsHeader  {
    position : absolute;
    height : 3.2rem;
    width : 100%;

    border-top : 0.077rem solid $titleBannerColor;
    border-bottom : 0.077rem solid $titleBannerColor;
    // background-color : darken($mapCollectionColor, 10%);
    background-color : darken($mapCollectionColor, 20%);
}

#mapsCollection.namesOnlySeen  {
    transform : translateY(-3.2rem);
}

#mapsCollection.open  {
    transform : translateY(-93%);
}

.smallBird  {
    display: inline-block;
    opacity  :  0;
    position  :  relative;
    top: 1.8rem;

    -webkit-transform-origin  :  0 0;
       -moz-transform-origin  :  0 0;
        -ms-transform-origin  :  0 0;
         -o-transform-origin  :  0 0;
            transform-origin  :  0 0;
    transition: all 750ms;
}

// #thin1, #thin2, etc.
[id^=thin] {
    //  TODO  : using vw for the height?  must be weird on small screens in portrait mode??
    height: calc(100vw / 4.5);
    width: auto;
    position  :  relative;
    top: 17px;
}

.smallBird .drawing  {
    -webkit-filter : drop-shadow( -0.2rem 0 0.2rem rgba(0,0,0,0.2) ) drop-shadow( 0.2rem 0 0.2rem rgba(0,0,0,0.2) );
    -ms-filter : drop-shadow( -0.2rem 0 0.2rem rgba(0,0,0,0.2) ) drop-shadow( 0.2rem 0 0.2rem rgba(0,0,0,0.2) );
    filter  :  drop-shadow( -0.2rem 0 0.2rem rgba(0,0,0,0.2) ) drop-shadow( 0.2rem 0 0.2rem rgba(0,0,0,0.2) );
}

.smallBirdText   {
    position  :  absolute;
    top  :  -1.3rem;
    left  :  -40%;
    width  :  calc(100% + 40%);

    text-align: center;
    font-size: 0.75rem;     // TODO: increase this a little
    line-height  : 1rem;
}

#deleteAllMapsButton  {
    position: absolute;
    left : 0;
    top: 290%;
    height: auto;
    padding: 0.15rem 2ch 0.23rem 3ch;

    font-size: 1em;
    letter-spacing: 0.2em;
    color: white;

    cursor: pointer;
    background-color  :  transparent;
    border: 0.077rem solid white;
    border-left: none;
    box-shadow  :  inset 0 0 0 0.012rem black, 0 0 0 0.012rem black;

     -webkit-transform-origin  :  0 50%;
        -moz-transform-origin  :  0 50%;
         -ms-transform-origin  :  0 50%;
          -o-transform-origin  :  0 50%;
             transform-origin  :  0 50%;

    transition: all 450ms;
}

#deleteAllMapsButton::after  {
    content  :  '';
    position  :  absolute;
    top  :  -0.4rem;
    left  :  103%;

    border-width  :  1.2em;
    border-style  :  solid;
    border-color  :  transparent transparent transparent white;
    transition: all 350ms;
}

 #deleteAllMapsButton:hover::after  {
    left  :  105%;
    border-color  :  transparent transparent transparent #f00;
}

#deleteAllMapsButton:focus-within  { outline: none; }

.birdName  {
    position  :  absolute;
    left : -30%;
    height  :  auto;
    width : 130%;
    padding  :  0;

    font-size  :  0.95rem;
    text-align  :  center;
}

#currentMap .birdName {
    top  :  -6%;
    line-height  :  1.3rem;
}

.birdName > span:last-Child   {
    font-style  :  italic;
}

#currentMap {
    opacity  :  1;
    position  :  fixed;
    top  :  28vh;
    left  :  71vw;
    margin  :  0 0 0 0.38rem;

    //  TODO : use rem's instead?


    transform : translateY(0);
    -webkit-transform-origin  :  0 0;
       -moz-transform-origin  :  0 0;
        -ms-transform-origin  :  0 0;
         -o-transform-origin  :  0 0;
            transform-origin  :  0 0;
    transition  : transform 500ms;
    will-change: transform;
}

#SAMsvg  {
    // height: 461px;  always stays the same apparent size as the width varies
    // height: calc(100vw / 3.6);
    // height: calc(100vw / 3.6);
    //   TODO : use max-height and/or rem's instead of vh
    height: 50vh;
    // height: 40rem;

    width: auto;
}

// #SAMsvg g, #SAMsvg p {
//     // transition  : fill 1.2s;
// }

#currentMap.shiftUp  {
    //   TODO : use  rem's instead of vh?
    transform: translateY(-15vh);
}

#currentMap .deleteMapButton {
    display  :  none;
}

#mapsCollection .saveMapButton {
    display  :  none;
    opacity  :  0;
}

.birdMapInstance  {
    position  :  relative;
    top  :  0.77rem;
    background-color  :  transparent;
}

#currentBirdMap {
    background-color  :  transparent;
}

.mapButtons {
    width  :  2.31rem;
    height  :  2.31rem;
    padding  :  0.23rem 0 0 0;

    color  :  white;
    text-align  :  center;

    cursor  :  pointer;
    transition  :  all 500ms;
}

.deleteMapButton  {
    position  :  absolute;
    // top  :  3.2rem;
    top  :  2.5rem;
    left  :  -10%;
    height: auto;
    width: auto;
    transform: scale(0.9);
}

.deleteMapButton:focus-within .tooltip { outline: none; }


.saveMapButton  {
    display  :  none;
    position  :  absolute;
    top  :  45%;
    left  :  -35%;
    background-color  :  transparent;
}

.saveMapButton:focus-within .tooltip { outline: none; }

.drawing  {
    position  :  relative;
    text-shadow  :  none;
    -webkit-filter  :  drop-shadow( 0 0 0.077rem rgba(255,255,255,0.5) ) drop-shadow( 0 0 0.31rem rgba(0,0,0,0.5) );
        -ms-filter  :  drop-shadow( 0 0 0.077rem rgba(255,255,255,0.5) ) drop-shadow( 0 0 0.31rem rgba(0,0,0,0.5) );
            filter  :  drop-shadow( -0.03rem 0 0.08rem rgba(255,255,255,0.5) )  drop-shadow( 0 0 0.25rem rgba(0,0,0,0.5) );
}
            
// <g id="Falklands">
// #SAMsvg #Falklands   {
//     filter  :  drop-shadow( 0 0 0.077rem rgb(173, 4, 4) ) drop-shadow( 0 0 0.31rem rgba(17, 221, 17, 0.8) );
// }
//  TODO  : possible to filter:none the Falklands, other islands??

.colorKey {
    opacity  :  0;
    position  :  absolute;
    top  :  59%;
    left  :  71%;
    transform: scale(0.9);
}

.colorKey ul {
    position  :  relative;
}

.colorKey ul li {
    position  :  relative;
    margin-top  :  0.8ch;
    padding  : 0.077rem 0.5rem 0.15rem 1.5rem;

    font-size  :  0.75rem;
    text-align  :  right;
    letter-spacing  :  0.13em;
    text-shadow  :  rgba(0,0,0,0.5) 0.077rem 0.077rem 0.077rem;
    list-style-type  :  none;

    // background: linear-gradient(to right, darken($bgColor, 5%) 0%, rgb(80,80,80) 100%);
    background: linear-gradient(to right, darken($bgColor, 2%) 0%, darken($bgColor, 10%) 100%);
}

.colorKey ul li::after {    /* extinct       */
    content: '';
    content  :  '';
    position  :  absolute;
    top  :  0;
    left  :  -1%;

    border-width  :  0.75em;
    border-style  :  solid;
}

.colorKey ul li:nth-child(1) {    /* extinct       */
    margin-bottom: 0;
    border-left: 1.2rem solid #000;
}
.colorKey ul li:nth-child(1)::after {    /* extinct       */
    border-color  :  transparent transparent transparent #000;
}

.colorKey ul li:nth-child(2) {    /* vagrant       */
    border-left: 1.2rem solid #54ca30;
}
.colorKey ul li:nth-child(2)::after {    /* vagrant       */
    border-color  :  transparent transparent transparent #54ca30;
}

.colorKey ul li:nth-child(3) {    /* endemic       */
    border-left: 1.2rem solid #d73027;
}
.colorKey ul li:nth-child(3)::after {    /* extinct       */
    border-color  :  transparent transparent transparent #d73027;
}

.colorKey ul li:nth-child(4) {    /* resident      */
    border-left: 1.2rem solid #fc8d59;
}
.colorKey ul li:nth-child(4)::after {    /* endemic       */
    border-color  :  transparent transparent transparent #fc8d59;
}

.colorKey ul li:nth-child(5) {    /* introduced  */
    border-left: 1.2rem solid #fee090;
}
.colorKey ul li:nth-child(5)::after {    /* introduced       */
    border-color  :  transparent transparent transparent #fee090;
}

.colorKey ul li:nth-child(6) {    /* nonbreeder    */
    position: relative;
    border-left: 1.2rem solid #579ac4;
}
.colorKey ul li:nth-child(6)::after {    /* nonbreeder       */
    border-color  :  transparent transparent transparent #579ac4;
}

.colorKey ul li:nth-child(7) {    /* hypothetical  */
    margin-top  :  0.4rem;
    border-left: 1.2rem solid #f3f3f3;
}
.colorKey ul li:nth-child(7)::after {    /* hypothetical       */
    border-color  :  transparent transparent transparent #f3f3f3;
}