@media screen and (max-width: 1024px)  {  // iPad landscape
  html {
    font-size  :  13px;
  }
  #mainContent {
    left : 5.5vw;
    margin: 13vh 0 0 0;
  }
  .articles {
    width : 51vw;
    max-width : 51vw;
  }
  .taxInstructionsButton  {
    // top : -2.6rem;
    left : -2vw;
  }
  .searchWord {
    left : -2.4rem;
    height: 27vh;
    padding  :  3vw 1vw 0 1.5vw;
    margin-bottom: 3vw;
  }
  .slideUpWrapper  {
    top: -10rem;
    width: 92%;
    left: 7%;
  }
  #searchForm  {
    top: -2rem;
    width: 92%;
    left: 7%;
  }
  #searchForm span.searchGroup  {
    // margin: 1.92rem 0 2.31rem 0;
    left: 15%;
  }
  #searchSpecials  {
    top : -9.9ch;
    left  :  82%;
  }
  #results-panel  {
    top : -10rem;
  }
  #checklistOptions.panel {
    // left  :  5%;
    width  :  110%;
  }
  #numDays {
    justify-content  :  space-around;
    left  :  -4.5ch;
    width  :  170%;
  }
  #deleteAllMapsButton  {
    padding: 0.15rem 1.5ch 0.23rem 1.5ch;
    font-size: 0.9em;
  }
  .deleteMapButton  {
    top  :  2.1rem;
    // left  :  -10%;
    transform: scale(0.85);
  }
}

@media screen and (max-width: 768px)  {  // iPad portrait
  html {
    font-size  :  12px;
  }
}

@media screen and (max-width: 667px)  {  // phone landscape
  html {
    font-size  :  11px;
  }
}

@media screen and (max-width: 375px)  {  // phone portrait
  html {
    font-size  :  10px;
  }
}
