#sampleTable {
  position: relative;
  left: 2px;
  width: 100%;
  min-width: 480px;
  // margin: 0 auto 25px auto;
  margin: 1ch auto 4ch auto;

  font-size: 0.8rem;
  font-weight: bold;
  text-align: center;
  empty-cells: show;
  border-collapse: collapse;
  border: none; }

/*#sampleTable.smallFont        { font-size : 10px; margin-bottom : 29px;}
#sampleTable.smallFont thead    { font-size : 9px; height : 18px;}
#sampleTable.smallFont td       { padding  :  1px 0 1px 0px; letter-spacing  :  1px; }
#sampleTable.smallFont td:first-child { padding  :  1px 0 1px 4px; letter-spacing  :  1px; }*/

#sampleTable td {
  height: 30px;
  padding: 2px 2px 2px 2px;
  border: solid 1px #000; }

#sampleTable thead {
  display: table-header-group;
  height: 27px; }

#sampleTable tbody {
  display: table-row-group; }

#sampleTable .cLfc, #sampleTable .cLfs {
  padding-top: 10px;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-align: left;
  border-right: hidden;
  border-left: hidden; }

#sampleTable .cLfs {
  text-align: left; }

#sampleTable .cLc {
  padding: 1px 0 3px 10px;
  border-right: hidden; }

#sampleTable .cLc, #sampleTable .cLs {
  text-align: left; }

#sampleTable .cLc, #sampleTable .cLFc {
  width: 200px; }

#sampleTable .cLs, #sampleTable .cLFs {
  width: auto; }

#sampleTable .cLs {
  padding: 2px 0 2px 0;
  font-style: italic; }

#sampleTable .fre {
  border-right: hidden; }

#sampleTable .cds {
  border-right: 3px double #000; }

#sampleTable .rds {
  border-bottom: 3px double #000; }

#sampleTable thead {
  font-size: 0.6rem;
  border: solid 1px #000; }

/*  there is no tfoot in #sampleTable  */
/*#sampleTable tfoot tr:first-child td  {
 	border-right   :  hidden;
 	border-left    :  hidden;
 	height         :  20px;
 }
 #sampleTable tfoot tr:last-child td   {  border : solid 1px #000;  height : 20px; }*/

#sampleTable th {
  height: 20px;
  padding: 0 2px;
  font-weight: bold;
  border: solid 1px #000;
  background-color: transparent; }

#sampleTable th:not(:first-child) {
  background-color: $panelColor; }

.flashDays {
  animation-name: flashDays;
  animation-duration: 1s;
  // so that applied styles in the animation are retained after the animation runs
  animation-fill-mode: both;
  animation-timing-function: ease-out;
  animation-delay: 0.2s;
}

@keyframes flashDays {
  0% {
    // background-color: black;
  }
  50% {
    background-color: rgb(200, 200, 200);
    color: black;
  }
  100% {
    // background-color: rgba(200, 200, 200, 0.5);
  }
}

#sampleTable td.familyHidden {
  border: solid 1px $panelColor; }

#sampleTable td.familyHidden.show {
  border-bottom: solid 1px #000; }

#sampleTable td.leftCheckBox {
  width: 0;
  border: solid 1px #000;
  border-top: transparent;
  border-bottom: transparent;
  border-left: transparent;
  transition: width 350ms; }

#sampleTable td.leftCheckBox.show {
  width: 30px;
  border: solid 1px #000;
  transition: width 350ms; }

.centerText {
  text-align: center; }

#sampleTable td.double-separator {
  border-right: 3px double #000; }

.noScientificNames .cLfc {
  letter-spacing: 0.1em; }

.noScientificNames .cLfs {
  visibility: hidden; }

#sampleTable.noScientificNames .cLc {
  // padding: 2px 5px 2px 12px;
  letter-spacing: 0.1em; }

#sampleTable.noScientificNames .cLs {
  opacity: 0; }

#sampleTable.noItalics .cLs {
  font-style: normal; }

.showLineNumbers {
  position: relative; }

.leftCheckBox:not(.show) + .showLineNumbers::before {
  content: '5';
  position: absolute;
  top: 7px;
  // left: -28px;
  left: -15px;
  width: auto;
  height: auto;
  padding: 2px 0 3px 0x;

  font-size: 0.6rem;
  text-shadow: none;

  // border: 1px solid rgb(110, 109, 109);
  // border: 1px solid transparent;
  border: 1px solid transparent;
  // border-radius: 50%;
  background-color: $panelColor;
  transition: left 500ms;
}

.leftCheckBox.show + .showLineNumbers::before {
  content: '5';
  position: absolute;
  top: 5px;
  left: -33px;
  width: auto;
  height: auto;
  // padding: 2px 5px 3px 5px;
  padding: 2px 2px 3px 1px;

  font-size: 0.6rem;
  text-shadow: none;

  border: 1px solid transparent;
  // border-top: 1px solid black;
  // border-bottom: 1px solid black;
  // border-radius: 50%;
  background-color: $panelColor;
  transition: left 500ms;
  }

.showEndemics {
  position: relative; }

.leftCheckBox:not(.show) + .endemical.showEndemics::before {
  content: 'E';
  position: absolute;
  top: 6px;
  // left: -29px;
  left: -15px;
  width: auto;
  height: auto;
  padding: 2px 0 3px 0;
  font-size: 0.6rem;
  text-shadow: none;

  // border: 1px solid rgb(110, 109, 109);
  border: 1px solid transparent;
  // border-radius: 50%;
  background-color: $panelColor;
  transition: left 500ms;
}

.leftCheckBox.show + .endemical.showEndemics::before {
    content: 'E';
  position: absolute;
  top: 6px;
  left: -33px;
  width: auto;
  height: auto;
  padding: 2px 1px 3px 1px;

  font-size: 0.6rem;
  text-shadow: none;

  border: 1px solid transparent;
  // border-top: 1px solid black;
  // border-bottom: 1px solid black;

  // border-radius: 50%;
  background-color: $panelColor;
  transition: left 500ms;
}

#sampleTable.numDays0 .cLs {
  border-right: 1px solid #000; }

#sampleTable.numDays0 th {
  width: 0;
  border: 1px solid transparent; }

#sampleTable.numDays1 th {
  width: 60px; }

#sampleTable.numDays2 th {
  width: 54px; }

#sampleTable.numDays3 th {
  width: 50px; }

#sampleTable.numDays4 th {
  width: 44px; }

#sampleTable.numDays5 th {
  width: 40px; }

#sampleTable.numDays6 th {
  width: 36px; }

#sampleTable.numDays7 th {
  width: 34px; }

#sampleTable.numDays8 th {
  width: 32px; }

#sampleTable.numDays9 th {
  width: 30px; }

#sampleTable.numDays10 th {
  width: 28px; }

#sampleTable.numDays11 th {
  width: 26px; }

#sampleTable.numDays12 th {
  width: 24px; }

.numDays11 th:nth-child(n+13) {
  display: none; }

.numDays10 th:nth-child(n+12) {
  display: none; }

.numDays9 th:nth-child(n+11) {
  display: none; }

.numDays8 th:nth-child(n+10) {
  display: none; }

.numDays7 th:nth-child(n+9) {
  display: none; }

.numDays6 th:nth-child(n+8) {
  display: none; }

.numDays5 th:nth-child(n+7) {
  display: none; }

.numDays4 th:nth-child(n+6) {
  display: none; }

.numDays3 th:nth-child(n+5) {
  display: none; }

.numDays2 th:nth-child(n+4) {
  display: none; }

.numDays1 th:nth-child(n+3) {
  display: none; }

.numDays0 th {
  display: none;
  width : 0;
  border: 1px solid transparent; }

.numDays11 td:nth-child(n+15) {
  display: none; }

.numDays10 td:nth-child(n+14) {
  display: none; }

.numDays9 td:nth-child(n+13) {
  display: none; }

.numDays8 td:nth-child(n+12) {
  display: none; }

.numDays7 td:nth-child(n+11) {
  display: none; }

.numDays6 td:nth-child(n+10) {
  display: none; }

.numDays5 td:nth-child(n+9) {
  display: none; }

.numDays4 td:nth-child(n+8) {
  display: none; }

.numDays3 td:nth-child(n+7) {
  display: none; }

.numDays2 td:nth-child(n+6) {
  display: none; }

.numDays1 td:nth-child(n+5) {
  display: none; }

.numDays0 td:nth-child(n+4) {
  display: none; }

#sampleTable th:first-child {
  border: solid 1px $panelColor;
  border-right: solid 1px #000; }

.numDays0 tr.topBorderDisappear {
  border-top : hidden; }