[data-simplebar] {
    position: relative;
    z-index: 0;
    overflow: hidden;
    -webkit-overflow-scrolling: touch; /* Trigger native scrolling for mobile, if not supported, plugin is used. */
}

[data-simplebar="init"] {
    display: flex;
}

.simplebar-scroll-content {
    position: relative;
    left: -10vw;

    padding-left: 10vw;
    padding-right: 0.75rem;

    overflow-x: visible;
    overflow-y: scroll;
    min-width: 100%;
    width: calc(100% + 10vw + 1.08rem);
    box-sizing: content-box;
}

.simplebar-content {
    /* added by me so scientific families would scroll */
    position: relative;

    left: -10vw;
    padding-left: 10vw;
    width: calc(100% + 10vw + 0.95rem);

    overflow-x: hidden;
    overflow-y: visible;
    box-sizing: border-box;
}

.simplebar-track {
    z-index: 1;
    position: absolute;
    right: 0;
    width: 0.85rem;
    border: red;
    background-color: transparent;
}

.simplebar-scrollbar {
    position: absolute;
    right: 0;
    border-radius: 0.38rem;
    min-height: 4.62rem;
    width: 0.38rem;
    opacity: 0;
    transition: opacity 0.2s linear;
    background-color: rgb(200, 200, 200);
    background-clip: padding-box;
}

.simplebar-track:hover .simplebar-scrollbar {
    /* When hovered, remove all transitions from drag handle */
    opacity: 0.5;
    transition: opacity 0 linear;
}

.simplebar-track .simplebar-scrollbar.visible {
    opacity: 0.5;
}

.simplebar-track.horizontal {
    display : none;
    visibility: hidden;
    opacity: 0;
    left: 0;
    width: auto;
    height: 0.0.85rem;
}

.simplebar-track.vertical {
    top: 0.38rem;
    bottom: 0.77rem;
    cursor: pointer;
}

.horizontal.simplebar-track .simplebar-scrollbar {
    display: none;
    right: auto;
    top: 0.15rem;
    height: 0.54rem;
    min-height: 0;
    min-width: 0.77rem;
    width: auto;
}
