/*  ------------------------------   taxonomy panel   ------------------------------------------  */

.slideUpWrapper  {
    position: relative;
    overflow-y: hidden;
    max-height: 27rem;

    border-top: none;
    border-bottom: none;
    transition: opacity  450ms, max-height 600ms 250ms;
}

.slideUpWrapper.panel  {
  padding  :  0 2.5ch 0 2.5ch;
}

.slideUpWrapper.closeInstructions  {
    max-height: 0;
    opacity: 0;
    transition: max-height 450ms, opacity 600ms 250ms;
}

.slideUpWrapper.closeInstructions +  #searchForm  {
    background-color: transparent;
    transition: background 450ms;
}

.slideUpWrapper.closeInstructions +  #searchForm  input {
    background-color: $bgColor;
    transition: background 350ms 300ms;
}

.taxInstructionsButton  {
    position  :  absolute;
    display: inline-block;
    
    top : -2.6rem;
    // left : 0;
    right :7vw;
    // right : 0rem;
    // left : 10vw;
    width  :  3rem;
    height  :  3rem;

    padding  :  0 0 0.15rem 0;
    z-index  :  1;

    font-size  :  1.6rem;
    font-weight  :  bold;
    color  :  white;
    text-align  :  center;

    border : 0.15rem solid  $goldHighlightColor;
    border-radius  :  50%;
    background-color  :  $bgColor;
    box-shadow: inset 0 0 0 0.15rem $bgColor, 0 0 0 0.62rem $bgColor;

    cursor  :  pointer;
    transform: translateX(-42ch);
    -webkit-transition  :  transform  ease-in-out 1000ms;
       -moz-transition  :  transform  ease-in-out 1000ms;
         -o-transition  :  transform  ease-in-out 1000ms;
            transition  :  transform  ease-in-out 1000ms;
}

.taxInstructionsButton:hover, .taxInstructionsButton:focus {
    outline: none;
    background-color  :  black;
}

.taxInstructionsButton.instructionsClosed .tooltip {
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.31rem;
    border : 0.15rem solid  $goldHighlightColor;
    background-color: $panelColor;
    transform: scaleX(0.7);
}

#searchForm  {
    position  :  relative;
    padding  : 1ch 0 2ch 0;
    // margin-top : 0.77rem;
    // margin-top : 0.77rem;

    transform-origin: top right;

    -webkit-transition  :  all 850ms ease-in-out;
       -moz-transition  :  all 850ms ease-in-out;
         -o-transition  :  all 850ms ease-in-out;
            transition  :  all 850ms ease-in-out;
}

#searchForm:focus-within  {
    transform: scaleX(1.1);
    background-color: $countryMenuColor;
}

// #searchForm:focus-within .icon-pen {
//     transform:  translate(-1.54rem, -0.38rem);
//     transition: all 350ms;
// }

.searchForm_contents  {
    position: relative;
    width  :  100%;
    height : auto;
    margin  :  0;

    pointer-events  :  auto;

    -webkit-transition  :  all 2s;
       -moz-transition  :  all 2s;
         -o-transition  :  all 2s;
            transition  :  all 2s;
}

#searchForm span.searchGroup  {
    position : relative;
    margin: 1.92rem 0 2.31rem 0;
    left: 25%;
    opacity  :  1;
}

#searchForm span.searchGroup.grayed  {
    opacity  :  0.3;
    pointer-events  :  none;
}

#searchInput  {
    display: inline-block;
    height               :  auto;
    margin               :  0;
    padding              :  0.23rem 0  0.31rem 0;

    font-size            :  1rem;
    color                :  white;
    font-weight: bold;
    letter-spacing       :  0.13em;
    text-align           :  center;
    text-shadow          :  0.077rem 0.077rem 0.15rem rgba(0,0,0,0.3);

    border               : none;
    background-color     : #333;

    -webkit-user-select  : text;
    -moz-user-select     : text;
    -ms-user-select      : text;
    user-select          : text;
}

#searchInput:focus  {  outline: none;  }

 #searchInput:focus + .inpuInfo { display: block; }

#searchInput::-moz-placeholder  {  color  :  white;  }
#searchInput::-ms-input-placeholder  {  color  :  white;  }
#searchInput::-webkit-input-placeholder  {  color  :  white;  }

#searchInput::placeholder  {  color  :  white;  }

#searchSpecials  {
    // display  :  flex;
    // flex-direction  :  row;
    // flex-wrap: wrap;
    // align-items: center;

    position  :  absolute;
    top : -8.2ch;
    left  :  96%;
    width: 15.38rem;
    padding : 2.31rem 3.08rem 2.69rem 2.08rem;

    // color: white;
    // font-size  :  0.9rem;
    font-size  :  0.82rem;
    text-shadow : 0.077rem 0.077rem 0.077rem rgba(0,0,0,0.5);

    pointer-events  :  auto;
    border-radius : 50%;
    box-shadow: inset -0.77rem 0 7.7rem $bgColor;
    transition  :  all 500ms 1300ms;
}

#searchSpecials.grayed  {
    opacity  :  0.5;
    pointer-events  :  none;
}

.searchSpecialWrapper {
    // display: inline-block;
    padding: 0.5ch 0;
    text-align: center;
    // width: 300px;
    // padding: 0.1ch 2.38rem 0.5ch 2.38rem;
    transition  :  all 1000ms;
}

.searchSpecialWrapper a {
    display: inline-block; 
    width: 14ch;
    padding: 0.1ch 0 0.5ch 0;
}

// .searchSpecialWrapper:nth-of-type(1) a {
//   width: 300px;
//   display: inline-block; 
//   //  padding: 0.1ch 2.69rem 0.5ch 2.69rem;
// }
// .searchSpecialWrapper:nth-of-type(2) a {
//    padding: 0.1ch 2.38rem 0.5ch 2.38rem;
// }
// .searchSpecialWrapper:nth-of-type(3) a {
//     padding : 0.1ch 2ch 0.5ch 2ch;
// }
// .searchSpecialWrapper:nth-of-type(4) a {
//    padding: 0.1ch 2.38rem 0.5ch 2.38rem;
// }
// .searchSpecialWrapper:nth-of-type(5) a {
//    padding: 0.1ch 2.54rem 0.5ch 2.54rem;
// }

.searchSpecialWrapper a  {
    border : 0.077rem solid rgba(255,255,255,0.2);
    border-radius : 0.15rem;
    background-color : $genericButtonColor;
    // background: radial-gradient(ellipse at center, rgba(0,0,0, 0.1) 0%, rgba(255,255,255,0.05) 100%), $genericButtonColor;

    box-shadow : 0 0 0.15rem rgba(0,0,0,0.5);

    cursor  :  pointer;
    transition : all 350ms;
}

.searchSpecialWrapper:hover a, .searchSpecialWrapper a:focus  {
    outline : none;
    border : 0.077rem solid #666;
    background-color : #222;
    box-shadow : 0 0 0.15rem rgba(0,0,0,1);
}

#searchSpecials.SAM .searchSpecialWrapper  {  padding : 1ch 0 1ch 0;  }

#searchSpecials div.notAvailable  {  display : none;  }

#searchSpecials.SAM  {
    justify-content  :  space-around;
    top : -4.3ch;
    left : 96%;
}

// #searchTerm lastQuery
#searchTerm span {
  color: #96d4fd;
}

.highlightSpecial { border-bottom: 0.077rem solid white; }

/*  -----------------------   searchResults  panel  ----------------------  */

.results-panel  {
    opacity  :  0;
    // opacity  :  1;

    position  :  relative;
    height  :  0;
    // height  :  auto;
    width : calc(100% + 10vw);
    left : -10vw;
    margin  : 7.25ch 0 0 0;
    padding  :  0;

    // order : 2;
    z-index: 0;

    border: none;
    box-shadow: none;
    background-color: transparent;

    // transform : translateY(-7.7rem);
    // transform : scale(1,0);
    transition  :  all 1000ms;
}

.results-panel.translateDown  {
    opacity : 1;
    height : 100%;
    // transform : translateY(0);
    // transform : scale(1,1);
}

#fakeResultsBox  {
    position : relative;
    top : 0;
    height : 100%;

    width : calc(100% - 10vw);
    left : 10vw;
    padding: 0 0 1ch 0;
    overflow-x : visible;

    border  :  0.077rem solid rgba(255,255,255,0.15);
    border-radius  :  0.23rem;
    background-color  :  $panelColor;
    box-shadow: 0 0 0.15rem rgba(0,0,0,0.7);
}

#closeResultsPanelButton, #closeOpenFamiliesButton  {
    position: relative;
    text-align: center;
    // font-weight: bold;
    
    color: white;

    border: 0.15rem solid $goldHighlightColor;
    border-radius: 50%;
    background-color: $panelColor;

    // z-index: 2;
    cursor: pointer;
    transition: all 300ms;
  }

  #closeResultsPanelButton  {
    left: 100%;
    width: 2.2rem;
    height: 2rem;
    // padding: 0.15rem 0 0 0;
    padding: 0 0.077rem 0 0;

    font-size  :  1.2rem;
    font-weight: 600;
    line-height: 1.2rem;

    box-shadow: 0 0 0 0.46rem $bgColor,
                0.077rem 0.077rem 0 0.40rem $bgColor, 0.077rem -0.077rem 0 0.40rem $bgColor,-0.077rem 0 0 0.40rem rgba(0,0,0, 1),
                0.077rem 0.077rem 0 0.5rem $bgColor, 0.077rem -0.077rem 0 0.5rem $bgColor, -0.077rem -0.077rem 0 0.5rem $bgColor, -0.077rem 0 0 0.5rem rgba(255,255,255, 0.25);
}

#closeResultsPanelButton::before  {
  opacity: 0;
  position: absolute;
  content: "close";
  left: 120%;
  top: -50%;
  width: auto;
  // padding: 0.3rem 0.5rem 0.5rem 0.5rem;
  // border-radius: 0.3rem;
  font-size: 0.9rem;
  // background-color: $panelColor;
  // box-shadow: 0 0 0 0.077rem rgb(255, 202, 202);
  transition: all 200ms 500ms ease-in-out;
}

#closeResultsPanelButton:hover::before, #closeResultsPanelButton:focus::before  {
  opacity: 1;
}

#printerButton {
  position: absolute;
//   top: calc(100% - 1.31rem);
  top: calc(100% - 2.4rem);

//   left: calc(100% - 1.31rem);
  left: 100%;
  width: 2.2rem;
  height: 2.2rem;
  cursor: pointer;
  color: white;
  
  // padding: 0.5rem;
  border-radius: 50%;
  background-color: $panelColor;
  border : 0.15rem solid  $goldHighlightColor;
  
//   box-shadow: 0 0 0 0.3rem $bgColor,
//               0 -0.06rem 0 0.3rem $bgColor, -0.06rem 0 0 0.3rem $bgColor,  -0.06rem -0.06rem 0 0.3rem rgba(0,0,0, 0.5),
//               0.06rem -0.06rem 0 0.4rem $bgColor, -0.06rem -0.06rem 0 0.4rem $bgColor,  -0.06rem -0.06rem 0 0.4rem rgba(255,255,255, 0.25);
              
    box-shadow: 0 0 0 0.46rem $bgColor,
              0.077rem 0.077rem 0 0.40rem $bgColor, 0.077rem -0.077rem 0 0.40rem $bgColor,-0.077rem 0 0 0.40rem rgba(0,0,0, 1),
              0.077rem 0.077rem 0 0.5rem $bgColor, 0.077rem -0.077rem 0 0.5rem $bgColor, -0.077rem -0.077rem 0 0.5rem $bgColor, -0.077rem 0 0 0.5rem rgba(255,255,255, 0.25);
}

#printerButton::before  {
  opacity: 0;
  position: absolute;
  content: "print";
  left: 120%;
  top: -50%;
  width: auto;
  // padding: 0.3rem 0.5rem 0.5rem 0.5rem;
  // border-radius: 0.3rem;
  font-size: 0.9rem;
  // background-color: $panelColor;
  // box-shadow: 0 0 0 0.077rem rgb(255, 202, 202);
  transition: all 200ms 500ms ease-in-out;
}

#printerButton:hover::before, #printerButton:focus::before  {
  opacity: 1;
}

#closeOpenFamiliesButton  {
    left: calc(100% - 1.31rem);
    top: 2.54rem;
    width  :  3rem;
    height  :  3rem;
    // padding  :  0.15rem 0 0 0;
    padding  :  0 0 0.3rem 0;

    font-size  :  1.8rem;

    border : 0.15rem solid  $goldHighlightColor;
    box-shadow: 0 0 0 0.62rem $bgColor,
                0 -0.077rem 0 0.62rem $bgColor, -0.077rem 0 0 0.62rem $bgColor,  -0.077rem -0.077rem 0 0.62rem rgba(0,0,0, 0.5),
                0.077rem -0.077rem 0 0.69rem $bgColor, -0.077rem -0.077rem 0 0.69rem $bgColor,  -0.077rem -0.077rem 0 0.69rem rgba(255,255,255, 0.25);
}

#closeResultsPanelButton:hover, #closeOpenFamiliesButton:hover, #printerButton:hover,
#closeResultsPanelButton:focus, #closeOpenFamiliesButton:focus, #printerButton:focus  {
    outline: none;
    background-color: rgb(34, 34, 34);
}

#closeOpenFamiliesButton::before  {
    opacity: 0;
    position: absolute;
    content: "close open families";
    left: -8vw;
    top: 90%;
    width: 8vw;
    padding:0.38rem;
    border-radius: 0.15rem;
    font-size: 0.9rem;
    background-color: $panelColor;
    box-shadow: 0 0 0 0.077rem rgb(115, 115, 115);
    transition: all 200ms 500ms ease-in-out;
}

#closeOpenFamiliesButton:hover::before, #closeOpenFamiliesButton:focus::before  {
    opacity: 1;
}

#countrySearch  {
    opacity  :  1;

    position  :  relative;
    padding : 1ch 0 0 0;
    height : 4ch;
    margin: -0.77rem 0 1ch 0;
    left : 2ch;
    width : calc(100% - 4ch);

    // font-size  :  1.15rem;
    // font-size  :  1.15rem;
    font-variant  :  small-caps;
    color  :  $panelFlyoutFontColor;
    text-align  :  center;
    letter-spacing  :  0.1em;

    border  :  0.077rem solid rgba(255,255,255,0.25);
    border-top  :  0.077rem solid rgba(0,0,0,0.25);
    border-radius: 0.38rem;
    background-color  :  $panelFlyoutColor;
    box-shadow : none;
}

#searchResults  {
    opacity  :  0;
    position  :  relative;
    left  :  -10vw;
    width  :  calc(100% + 10vw + 1.1ch);
    height  :  auto;
    max-height  :  28.5rem;
    padding  :  0 0 0 10vw;

    font-size  :  1rem;
    line-height  :  1rem;

    border: none;
    // box-shadow : 0 -0.077rem 0 rgba(255,255,255,0.35);
    box-shadow : none;
//  FIXME :
    -webkit-overflow-scrolling  :  touch;

    // if no simpleBar, use overflow-y: auto;
    // overflow-y  :  auto;

    // use this for simpleBar
    overflow:hidden;

    transition  :  all 350ms;
}

// TODO : (why two here?)

#searchResults.fadeIn  {
    opacity  :  1;
    transition  :  all 2s;
}

.results-panel.fadeIn  {
    opacity  :  1;
    transition  :  all 2s;
}

#searchResults li  {
    position : relative;
    padding  :  0.077rem 0 0.12rem 1.23rem;
    width: calc(100% - 0.69rem);

    list-style-type  :  none;
    cursor  :  pointer;
    border-top : 0.077rem solid transparent;
    border-bottom : 0.077rem solid transparent;
}

#searchResults li.bird {
    font-size : 0.9rem;
}

#countrySearch.closed  {
    opacity  :  0;
    height  :  0;
}

#searchResults li:hover  {
    color  :  white;
    border-top : 0.077rem solid darken($birdRolloverColor, 10%);
    border-bottom : 0.077rem solid darken($birdRolloverColor, 10%);
    background-color  :  $birdRolloverColor;
}

#searchResults li.bird:not(.active):hover::before  {
    content : '\a0\a0';
    position : absolute;
    top : 0.1rem;
    left : -1.3rem;
    border-left : 0.54rem solid white;
}

#searchResults li.bird.active:hover::before  {
    content : '\a0\a0';
    position : absolute;
    border-left : 0.54rem solid white;
    top: -0.077rem;
    left : -10vw;
    height : calc(100% + 0.15rem);
    width : 10vw;

    border-right : 0 solid $birdRolloverColor;
    background-color: $birdRolloverColor;
    transition: border-right 650ms;
}

#searchResults li.family:hover::before  {
    position : absolute;
    top : 0.1rem;
    left : -2rem;
    content : '\a0\a0';
    border-left : 0.77rem solid white;
}

#searchResults li:not(.family) span:first-child  {
    padding  :  0.23rem 0 0.23rem 1.2rem;
}

#searchResults li.active  {
    position : relative;
    background-color : $birdActiveColor;
}

#searchResults li.active::before  {
    position : absolute;
    content : '\a0\a0';
    top: -0.077rem;
    left : -10vw;
    height : calc(100% + 0.15rem);
    width : 10vw;

    border-right : 0 solid $birdRolloverColor;
    background: -moz-linear-gradient(left, rgba(166,87,81,0) 0%, rgba(166,87,81,1) 100%);
    background: -webkit-linear-gradient(left, rgba(166,87,81,0) 0%,rgba(166,87,81,1) 100%);
    background: linear-gradient(to right, rgba(166,87,81,0) 0%,rgba(166,87,81,1) 100%);
    transition: border-right 650ms;
}

#searchResults li.active:hover::before  {
    border-right : 10vw solid $birdRolloverColor;
}

#searchResults .family      {
    margin  :  0.38rem 0 0 0;
    padding: 0.077rem 0 0.15rem 1.2rem;
}

#searchResults .familyOpen  {
    margin  :  0.38rem 0 0 0;
    padding: 0.077rem 0 0.15rem 1.2rem;
}

// species scientific names only
#searchResults span:not(.fsc):last-child  {
    position  :  absolute;
    left  :  calc(52.8% + 1.15rem);
}

.fsc  {
    position  :  absolute;
    left  :  52.8%;
    font-weight  :  bold;
    font-style  :  normal;
}

.fco  {
    font-weight  :  bold;
}

.endemic::before  {
    content  :  'e';
    position  :  relative;
    left  :  -0.53rem;
    font-size  :  0.8rem;
}

.extinct::before  {
    content  :  'x';
    position  :  relative;
    left  :  -0.53rem;
    font-size  :  0.8rem;
}

.hy::before  {
    content  :  'h';
    position  :  relative;
    left  :  -0.53rem;
    font-size  :  0.8rem;
}

.va::before  {
    content  :  'v';
    position  :  relative;
    left  :  -0.53rem;
    font-size  :  0.8rem;
}

#searchResults .endemic,#searchResults .extinct,#searchResults .hy,#searchResults .va  {
    position  :  relative;
    left  :  -0.575rem;
}

// @media print {
//     li {
//       color:red;
//    }
//    .family, .familyOpen {
//     // padding: 0.077rem 0 0.15rem 1.2rem;
//     margin-top: 2ch;
//   }
// }

/*  -----------------------------   #taxTreeArticle  ---------------------  */
// TODO : height already fixed (in script onload?) just translate down and opacity so height isn't changing
#tax-panel  {
    position: relative;
    width: calc(100% + 10vw);
    top: 0;
    left: -10vw;
    margin: 0 0 -10ch 0;
    padding :  2ch 0 0 0;

    // order : 3;
    z-index : 0;

    opacity: 0;
    border: none;
    box-shadow: none;
    background-color: transparent;

    // transition : all 750ms 1250ms;
}

#tax-panel.translateDown  {
    opacity : 1;
    margin: 0 0 10ch 0;
}

#fakeTaxPageBox  {
    position : relative;
    top : 0;
    height : 100%;
    width : calc(100% - 10vw);
    left : 10vw;
    padding : 0 0 1ch 0;
    // margin : 1ch 0 0 0;

    border  :  0.077rem solid rgba(255,255,255,0.15);
    border-radius  :  0.23rem;
    background-color  :  $panelColor;
    box-shadow: 0 0 0.15rem rgba(0,0,0,0.7);
    overflow-x : visible;
}

/*  -----------------------------   #taxPage panel  ---------------------  */

#taxPage  {
    position  :  relative;
    top: 0.77rem;
    left  :  -10vw;
    width  :  calc(100% + 10vw + 1ch);
    // height : 100%;
    // height : 100%;
    max-height  :  75vh;
    padding  :  0.5ch 0 0 10vw;
    margin : 0 0 1ch 0;

    font-size  :  1rem;
    line-height : 1.3rem;

    /* necessary because 100% padding right would else break line at spaces and hyphens */
    white-space  :  nowrap;

    // use below if no SimpleBar
    // overflow-y  :  visible;
    // overflow-y: hidden;

    border: none;
    background-color : transparent;
    box-shadow: none;
}

#taxPageButton  {
    cursor  :  pointer;
    transition : all 350ms;
}

#taxPageButton:hover  {
    letter-spacing : 0.23rem;
    box-shadow  :  0 0.15rem 0.31rem #444;
}

#tree *       {
    list-style-type  :  none;
}

.birds             {
    display  :  none;
    position  :  relative;
}

#tree .fsc  {
    position  :  absolute;
    left  :  50%;

    font-weight  :  bold;
    font-style  :  normal;
}

/*
	position : relative MUST be here for entry.offsetTop to work in taxonomy.js
	it is the offset distance to the nearest relatively-positioned parent
*/

.birds.open        {
    display  :  block;
    animation: showIn 650ms ease-in forwards;
}

@keyframes showIn {
from {
    opacity: 0;
    }
to {
    opacity: 1;
    }
}

#tree .family      {
    position: relative;
    width : 100%;
    cursor  :  pointer;
}

// family names and species names too
#tree .familyOpen  {
    position: relative;
    width : 100%;
    padding: 0 0 0.46rem 0;
    cursor  :  pointer;
}

/*target : family common name only*/
#tree li.family > span:nth-child(1)  {
    padding  :  0.077rem 0 0.15rem 1.15rem;
}

/*target : familyOpen family common and sci names for families that are open  */
#tree li.familyOpen > span:nth-child(1)  {
    padding  :  0.077rem 0 0.15rem 1.15rem;
}

// all family names whether open or not
.fTitle  {
    display: inline-block;
    width: calc(100% - 0.62rem);
    border-top : 0.077rem solid transparent;
    border-bottom : 0.077rem solid transparent;
    background-color: transparent;
}

.family .fTitle:hover {
    border-top : 0.077rem solid darken($birdRolloverColor, 10%);
    border-bottom : 0.077rem solid darken($birdRolloverColor, 10%);
    background-color  :  $birdRolloverColor;
}

// hover: family names only
.familyOpen .fTitle:hover {
    background-color  :  $birdRolloverColor;
    border-top : 0.077rem solid darken($birdRolloverColor, 10%);
    border-bottom : 0.077rem solid darken($birdRolloverColor, 10%);
}

.family .fTitle.active  {
    background-color  :  $birdRolloverColor;
}

// just the species within a family (that is open)
#tree .familyOpen  ul  {
    width: calc(100% - 0.62rem);
    margin-top: -0.15rem;
    padding: 0;
    font-size  :  0.9rem;
    line-height  :  1rem;
}

/* target : familyOpen bird common names only */
#tree .familyOpen  ul  li span:first-child {
    // padding  :  0.077rem 0 0 2.1rem;
    padding  :  0.077rem 0 0 2rem;
}

/*target : familyOpen bird sci names only*/
#tree .familyOpen .birds li span:last-child  {
    position  :  absolute;
    left  :  52.8%;
}

#taxPage.samTax .hy:before,#taxPage.samTax .va:before  {
    content  :  '';
}

#taxPage.samTax .hy,#taxPage.samTax .va  {
    position  :  relative;
    left  :  1.55rem;
}

#searchResults.samTax .hy:before,#searchResults.samTax .va:before  {
    content  :  '';
}

#searchResults.samTax .hy,#searchResults.samTax .va  {
    position  :  relative;
    left  :  0;
}

#taxPage.samTax li.familyOpen span.hy  {
    position  :  relative;
    left  :  1.55rem;
}

#taxPage.samTax li.familyOpen span.va  {
    position  :  relative;
    left  :  1.55rem;
}

#taxPage .endemic, #taxPage .extinct, #taxPage .hy, #taxPage .va  {
    position  :  relative;
    left  :  -0.7rem;
}

#tree .fco, #tree .fsc  {
    font-weight  :  bold;
}

#tree .family:hover::before, #tree .familyOpen:hover::before {
    // content: '\a0\a0';
    position : absolute;
    top : 0.15rem;
    left : -2.5vw;
    font-size: 1.3rem;
}

#tree .familyOpen::before {
    content: '▼';
    position : absolute;
    left : -2.5vw;
    top : 0.15rem;

    font-size: 1.3rem;
}

#tree .family:hover::before {
    content: '►';
    position : absolute;
    color: black;
}

#tree .familyOpen:hover::before {
    content: '▼';
}

/*    below targets each individual bird */
#tree li.familyOpen:hover > ul > li:hover, #tree ul li:hover  {
    padding : 0.15rem 0 0.15rem 0;
    background-color  :  $birdRolloverColor;
    border-top : 0.077rem solid darken($birdRolloverColor, 10%);
    border-bottom : 0.077rem solid darken($birdRolloverColor, 10%);
    transition: background-color 450ms;
}

#tree ul li:hover::before  {
    // below same as &nbsp;
    content : '\a0\a0';
    position : absolute;
    top : 0.12rem;
    left : -1.3rem;
    border-left : 0.54rem solid white;
}

#tree ul li {
    position: relative;
    padding : 0.15rem 0 0.15rem 0;
    border: none;
    border-top : 0.077rem solid transparent;
    border-bottom : 0.077rem solid transparent;
}

/* added by toggleFamilyOpen, the species highlighted */
#tree ul li.active {
    position : relative;
    background-color : $birdActiveColor;
}

#tree ul li.active::before {
    position : absolute;
    top : -0.077rem;
    left : -10vw;
    content : '';
    height : calc(100% + 0.15rem);
    width : 10vw;

    border-right : 0 solid $birdActiveColor;
    background: -moz-linear-gradient(left, rgba(166,87,81,0) 0%, rgba(166,87,81,1) 100%);
    background: -webkit-linear-gradient(left, rgba(166,87,81,0) 0%,rgba(166,87,81,1) 100%);
    background: linear-gradient(to right, rgba(166,87,81,0) 0%,rgba(166,87,81,1) 100%);
    transition: border-right 650ms;
}

#tree ul li.active:hover::before  {
    border-right : 10vw solid $birdRolloverColor;
}