/*  ------------------------------   taxonomy panel   ------------------------------------------  */

.slideUpWrapper  {
    position: relative;
    overflow-y: hidden;
    max-height: 350px;

    border-top: none;
    border-bottom: none;
    transition: opacity  450ms, max-height 600ms 250ms;
    
    // backdrop-filter: blur(5px);
}

.slideUpWrapper.closeInstructions  {
    max-height: 0;
    opacity: 0;
    transition: max-height 450ms, opacity 600ms 250ms;
}

.taxInstructionsButton  {
    position  :  absolute;
    top : -2.6rem;
    right : -4rem;
    width  :  3rem;
    height  :  3rem;

    padding  :  0.23rem 0 0 0;
    z-index  :  0;

    font-size  :  1.6rem;
    font-weight  :  bold;
    color  :  white;
    // color  :  #333;
    text-align  :  center;

    border : 2px solid  $goldHighlightColor;
    border-radius  :  50%;
    background-color  :  $bgColor;
    box-shadow: inset 0 0 0 2px $bgColor, 0 0 0 8px $bgColor;    
    
    cursor  :  pointer;
    transform: translateX(-42ch);
    -webkit-transition  :  transform  ease-in-out 1000ms;
       -moz-transition  :  transform  ease-in-out 1000ms;
         -o-transition  :  transform  ease-in-out 1000ms;
            transition  :  transform  ease-in-out 1000ms;
}

.taxInstructionsButton:hover {
    background-color  :  black;
}

.taxInstructionsButton.instructionsClosed .tooltip {
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.3rem;
    background-color: $panelColor;
    transform: scaleX(0.7);
}

#searchForm  {
    position  :  relative;
    padding  : 2.5ch 0 3ch 0;
    margin-top : 10px;

    transform-origin: top right;

    -webkit-transition  :  all 850ms ease-in-out;
       -moz-transition  :  all 850ms ease-in-out;
         -o-transition  :  all 850ms ease-in-out;
            transition  :  all 850ms ease-in-out;
}

#searchForm:focus-within  {
    transform: scaleX(1.1);
    background-color: $countryMenuColor;
}

#searchForm:focus-within .icon-pen {
    transform:  translate(-20px, -5px);
    transition: all 350ms;
}

.searchForm_contents  {
    position: relative;
    width  :  100%;
    height : auto;
    margin  :  0;

    pointer-events  :  auto;

    -webkit-transition  :  all 2s;
       -moz-transition  :  all 2s;
         -o-transition  :  all 2s;
            transition  :  all 2s;
}

#searchForm span.searchGroup  {
    position : relative;
    margin: 25px 0 30px 0;
    left: 25%;
    opacity  :  1;
}

#searchForm span.searchGroup.grayed  {
    opacity  :  0.3;
    pointer-events  :  none;
}

// to highlight the label : "search :" when the countryModal darkens the screen
// .searchGroup label  {
//     position: relative;
//     z-index: 1;
// }

#searchInput  {
    height               :  auto;
    margin               :  0;
    padding              :  3px 0  4px 0;

    font-size            :  1rem;
    color                :  white;
    font-weight: bold;
    letter-spacing       :  0.13em;
    text-align           :  center;
    text-shadow          :  1px 1px 2px rgba(0,0,0,0.3);

    // border               :  1px solid rgba(255,255,255,0.5);
    // border-radius        :  3px;
    // background-color     :  $panelColor;
    
    border               : none;
    background-color     : #333;

    -webkit-user-select  : text;
    -moz-user-select     : text;
    -ms-user-select      : text;
    user-select          : text;
}

#searchInput:focus  {  outline: none;  }

// #searchInput:focus + .inpuInfo { display: block; }

#searchInput::-moz-placeholder  {  color  :  white;  }
#searchInput::-ms-input-placeholder  {  color  :  white;  }
#searchInput::-webkit-input-placeholder  {  color  :  white;  }

#searchInput::placeholder  {  color  :  white;  }

#searchSpecials  {
    display  :  flex;
    flex-direction  :  column;
    justify-content  :  space-between;
    // align-items: flex-start;
    align-items: flex-end;
    
    position  :  absolute;
    // top : -2.5ch;
    top : -5.8ch;
    // left  :  102.4%;
    left  :  95%;
    padding : 25px 20px 25px 20px;

    font-size  :  0.9rem;
    pointer-events  :  auto;
    
    border : solid 1px transparent;
    // border-right: 1px solid white;
    
    border : solid 1px $bgColor;
    border-radius : 50%;
    // background-color : $bgColor;
    box-shadow: inset -100px 0 100px $bgColor;
    transition  :  all 500ms 1300ms;
}

#searchSpecials.grayed  {
    opacity  :  0.6;
    pointer-events  :  none;
}

#searchSpecials span.searchSpecialWrapper {
    margin-bottom : 1.6ch;
    transition  :  all 1000ms;
}

#searchSpecials a  {
    padding : 0.2ch 2ch 0.45ch 2ch;

    color : white;
    text-shadow : 1px 1px 1px rgba(0,0,0,0.5);
    border : 1px solid rgba(255,255,255,0.2);
    border-radius : 2px;

    background-color : $genericButtonColor;
    box-shadow : 0 0 2px rgba(0,0,0,0.5);

    cursor  :  pointer;
    transition : all 350ms;
}

#searchSpecials a:hover  {
    color: white;
    border : 1px solid #666;

    background-color : #222;
    box-shadow : 0 0 2px rgba(0,0,0,1);
}

#searchSpecials.SAM span.searchSpecialWrapper  {  margin-bottom : 2ch;  }

#searchSpecials span.notAvailable  {  display  :  none;  }

#searchSpecials.SAM  {
    justify-content  :  space-around;
    // top : -0.7ch;
    top : -3ch;
    left : 98%;
}

.highlightSpecial { border-bottom: 1px solid white; }

/*  -----------------------   searchResults  panel  ----------------------  */

.results-panel  {
    opacity  :  0;

    position  :  relative;
    height  :  0;
    width : calc(100% + 10vw);
    left : -10vw;
    margin  : 6ch 0 0 0;
    padding  :  0;

    order : 2;
    z-index: 0;

    border: none;
    box-shadow: none;
    background-color: transparent;

    transform : translateY(-100px);
    transition  :  all 1000ms;
}

.results-panel.translateDown  {
    opacity : 1;
    height : auto;
    transform : translateY(0);
}

#fakeResultsBox  {
    position : relative;
    top : 0;
    height : 100%;

    width : calc(100% - 10vw);
    left : 10vw;
    padding: 0 0 1ch 0;
    overflow-x : visible;
    
    border  :  1px solid rgba(255,255,255,0.15);
    border-radius  :  3px;
    background-color  :  $panelColor;
    box-shadow: 0 0 2px rgba(0,0,0,0.7);
}

#closeResultsPanelButton  {
    position: relative;
    left: 100%;
    padding: 0.25rem 0 0 0;
    width: 30px;
    height: 30px;

    text-align: center;

    // border: 1px solid rgba(255,255,255,0.25);
    border: 1px solid gold;
    border-radius: 50%;
    background-color: $panelColor;
    box-shadow: 0 0 0 6px $bgColor, -8px 0 1px rgba(255,255,255,0.25), -7px 0 0 2px rgba(0,0,0,0.2);

    z-index: 2;
    cursor: pointer;
    transition: all 300ms;
}

#closeResultsPanelButton:hover  {
    background-color: black;
}

#countrySearch  {
    opacity  :  1;

    position  :  relative;
    padding : 1ch 0 0 0;
    height : 4ch;
    margin: -10px 0 1ch 0;
    left : 2ch;
    width : calc(100% - 4ch);

    font-size  :  1.1rem;
    font-variant  :  small-caps;
    color  :  $panelFlyoutFontColor;
    text-align  :  center;
    letter-spacing  :  0.1em;

    border  :  1px solid rgba(255,255,255,0.25);
    border-top  :  1px solid rgba(0,0,0,0.25);
    border-radius: 5px;
    background-color  :  $panelFlyoutColor;
    box-shadow : none;
}

#searchResults  {
    opacity  :  0;
    position  :  relative;
    left  :  -10vw;
    width  :  calc(100% + 10vw + 1.1ch);
    height  :  auto;
    max-height  :  370px;
    padding  :  0 0 0 10vw;

    font-size  :  1rem;
    line-height  :  1rem;

    border: none;
    box-shadow : 0 -1px 0 rgba(255,255,255,0.35);
    box-shadow : none;
//  FIXME :
    -webkit-overflow-scrolling  :  touch;

    // if no simpleBar, use overflow-y: auto;
    // overflow-y  :  auto;

    // use this for simpleBar
    overflow:hidden;

    transition  :  all 350ms;
}

#searchResults.fadeIn  {
    opacity  :  1;
    transition  :  all 2s;
}

.results-panel.fadeIn  {
    opacity  :  1;
    transition  :  all 2s;
}

#searchResults li  {
    position : relative;
    padding  :  0 0 1px 16px;
    width: calc(100% - 9px);

    list-style-type  :  none;
    cursor  :  pointer;
    border-top : 1px solid transparent;
    border-bottom : 1px solid transparent;
}

#searchResults li.bird {
    font-size : 0.9rem;
}

#countrySearch.closed  {
    opacity  :  0;
    height  :  0;
}

#searchResults li:hover  {
    color  :  white;
    border-top : 1px solid darken($birdRolloverColor, 10%);
    border-bottom : 1px solid darken($birdRolloverColor, 10%);
    background-color  :  $birdRolloverColor;
}

#searchResults li.bird:not(.active):hover::before  {
    position : relative;
    top : 1px;
    left : -33px;
    margin-right : -7px;
    content : '';
    border-left : 7px solid $birdRolloverColor;
}

#searchResults li.family:hover::before  {
    position : relative;
    top : 1px;
    left : -35px;
    margin-right : -10px;
    content : '';
    border-left : 10px solid $birdRolloverColor;
}

#searchResults li:not(.family) span:first-child  {
    padding  :  3px 0 3px 16px;
}

#searchResults li.active  {
    background-color : $birdActiveColor;
}

#searchResults li.active::before  {
    position : absolute;
    content : '';

    top: -1px;
    left : -10vw;
    height : calc(100% + 2px);
    width : 10vw;

    border-right : 0vw solid $birdRolloverColor;
    background: -moz-linear-gradient(left, rgba(166,87,81,0) 0%, rgba(166,87,81,1) 100%);
    background: -webkit-linear-gradient(left, rgba(166,87,81,0) 0%,rgba(166,87,81,1) 100%);
    background: linear-gradient(to right, rgba(166,87,81,0) 0%,rgba(166,87,81,1) 100%);
    transition: border-right 650ms;
}

#searchResults li.active:hover::before  {
    border-right : 10vw solid $birdRolloverColor;
}

#searchResults .family      {
    margin  :  5px 0 0 0;
    padding: 1px 0 2px 16px;
}

#searchResults .familyOpen  {
    margin  :  5px 0 0 0;
    padding: 1px 0 2px 16px;
}

// species scientific names only
#searchResults span:not(.fsc):last-child  {
    position  :  absolute;
    left  :  calc(52.8% + 15px);
}

.fsc  {
    position  :  absolute;
    left  :  52.8%;
    font-weight  :  bold;
    font-style  :  normal;
}

.fco  {
    font-weight  :  bold;
}

.endemic::before  {
    content  :  'e';

    position  :  relative;
    left  :  -9px;
    font-size  :  0.8rem;
}

.extinct::before  {
    content  :  'x';
    position  :  relative;
    left  :  -9px;
    font-size  :  0.8rem;
}

.hy::before  {
    content  :  'h';
    position  :  relative;
    left  :  -9px;
    font-size  :  0.8rem;
}

.va::before  {
    content  :  'v';
    position  :  relative;
    left  :  -9px;
    font-size  :  0.8rem;
}

#searchResults .endemic,#searchResults .extinct,#searchResults .hy,#searchResults .va  {
    position  :  relative;
    left  :  -7px;
}

/*  -----------------------------   #taxTreeArticle  ---------------------  */

.tax-panel  {
    position: relative;
    height: 0;
    width: calc(100% + 10vw);
    left: -10vw;
    margin: 1.5ch 0;
    padding  :  2ch 0 0 0;

    order : 3;
    z-index : 0;

    opacity: 0;
    border: none;
    box-shadow: none;
    background-color: transparent;

    transform : translateY(-25vh);
    transition : all 2000ms;
}

.tax-panel.translateDown  {
    opacity : 1;
    height : auto;
    padding  :  2ch 0 10ch 0;
    
    transform : translateY(0);
}

#fakeTaxPageBox  {
    position : relative;
    top : 0;
    height : 100%;
    width : calc(100% - 10vw);
    left : 10vw;
    padding : 0 0 1ch 0;
    margin : 1ch 0 0 0;
    
    border  :  1px solid rgba(255,255,255,0.15);
    border-radius  :  3px;
    background-color  :  $panelColor;
    box-shadow: 0 0 2px rgba(0,0,0,0.7);
    overflow-x : visible;
}

/*  -----------------------------   #taxPage panel  ---------------------  */

#taxPage  {
    position  :  relative;
    top: 10px;
    left  :  -10vw;
    width  :  calc(100% + 10vw + 1.2ch);
    height : auto;
    // max-height  :  calc(100vh - 262px);
    max-height  :  75vh;

    padding  :  0.5ch 0 0 10vw;
    margin : 0 0 2ch 0;

    font-size  :  1rem;
    line-height : 1.3rem;

    /* necessary because 100% padding right would else break line at spaces and hyphens */
    white-space  :  nowrap;

    // use below if no SimpleBar
    // overflow-y  :  visible;
    overflow-y: hidden;

    border: none;
    border-radius  :  10px;
    background-color : transparent;
    box-shadow: none;
}

#taxPageButtons  {
    cursor  :  pointer;
    transition : all 350ms;
}

#taxPageButtons:hover  {
    letter-spacing : 3px;
    box-shadow  :  0 2px 4px #444;
}

#tree *       {
    list-style-type  :  none;
}

.birds             {
    display  :  none;
    position  :  relative;
}

#tree .fsc  {
    position  :  absolute;
    left  :  62%;

    font-weight  :  bold;
    font-style  :  normal;
}

/*
	position : relative MUST be here for entry.offsetTop to work in taxonomy.js
	it is the offset distance to the nearest relatively-positioned parent
*/

.birds.open        {
    display  :  block;
    animation: showIn 650ms ease-in forwards;
}

@keyframes showIn {
from {
    opacity: 0;
    }
to {
    opacity: 1;
    }
}

#tree .family      {
    width : 100%;
    cursor  :  pointer;
}

// family names and species names too
#tree .familyOpen  {
    width : 100%;
    cursor  :  pointer;
}

/*target : family common name only*/
#tree li.family > span:nth-child(1)  {
    padding  :  1px 0 2px 15px;
}

/*target : familyOpen family common and sci names for families that are open  */
#tree li.familyOpen > span:nth-child(1)  {
    padding  :  1px 0 2px  15px;
}

/*target : familyOpen sci name only*/
// #tree li.familyOpen > span:nth-child(2)  {
// }

// all family names whether open or not
.fTitle  {
    display: inline-block;
    width: calc(100% - 8px);
    border-top : 1px solid transparent;
    border-bottom : 1px solid transparent;
    background-color: transparent;
}

.family .fTitle:hover {
    border-top : 1px solid darken($birdRolloverColor, 10%);
    border-bottom : 1px solid darken($birdRolloverColor, 10%);
    background-color  :  $birdRolloverColor;
}

// hover: family names only
.familyOpen .fTitle:hover {
    background-color  :  $birdRolloverColor;
    border-top : 1px solid darken($birdRolloverColor, 10%);
    border-bottom : 1px solid darken($birdRolloverColor, 10%);
}

// ***  
.family .fTitle.active  {
    background-color  :  $birdRolloverColor;
}

// just the species within a family (that is open)
#tree .familyOpen  ul  {
    width: calc(100% - 8px);
    font-size  :  0.9rem;
    line-height  :  1rem;
}

/* target : familyOpen bird common names only */
#tree .familyOpen  ul  li span:first-child {
    padding  :  1px 0 0 27px;
}

/*target : familyOpen bird sci names only*/
#tree .familyOpen .birds li span:last-child  {
    position  :  absolute;
    left  :  52.8%;
}

#taxPage.samTax .hy:before,#taxPage.samTax .va:before  {
    content  :  '';
}

#taxPage.samTax .hy,#taxPage.samTax .va  {
    position  :  relative;
    left  :  19px;
}

#searchResults.samTax .hy:before,#searchResults.samTax .va:before  {
    content  :  '';
}

#searchResults.samTax .hy,#searchResults.samTax .va  {
    position  :  relative;
    left  :  0;
}

#taxPage.samTax li.familyOpen span.hy  {
    position  :  relative;
    left  :  19px;
}

#taxPage.samTax li.familyOpen span.va  {
    position  :  relative;
    left  :  19px;
}

#taxPage .endemic, #taxPage .extinct, #taxPage .hy, #taxPage .va  {
    position  :  relative;
    left  :  -8px;
}

#tree .fco, #tree .fsc  {
    font-weight  :  bold;
}

#tree .family:hover::before, #tree .familyOpen:hover::before {
    position : relative;
    top : 1px;
    left : -20px;
    margin-right : -10px;
    content : '';
    border-left : 10px solid white;
}

/*    below targets each individual bird */
#tree li.familyOpen:hover > ul > li:hover, #tree ul li:hover  {
    padding : 2px 0 2px 0;
    background-color  :  $birdRolloverColor;
    border-top : 1px solid darken($birdRolloverColor, 10%);
    border-bottom : 1px solid darken($birdRolloverColor, 10%);
    transition: background-color 450ms;
}

#tree ul > li:hover::before  {
    position : relative;
    top : 1px;
    left : -18px;
    margin-right : -7px;
    content : '';
    border-left : 7px solid $birdRolloverColor;
}

#tree ul li {
    padding : 2px 0 2px 0;
    border: none;
    border-top : 1px solid transparent;
    border-bottom : 1px solid transparent;
}

/* added by toggleFamilyOpen, the species highlighted */
#tree ul li.active {
    position : relative;
    background-color : $birdActiveColor;
}

#tree ul li.active::before {
    position : absolute;
    top : -1px;
    left : -10vw;
    content : '';
    height : calc(100% + 2px);
    width : 10vw;

    border-right : 0 solid $birdActiveColor;
    background: -moz-linear-gradient(left, rgba(166,87,81,0) 0%, rgba(166,87,81,1) 100%);
    background: -webkit-linear-gradient(left, rgba(166,87,81,0) 0%,rgba(166,87,81,1) 100%);
    background: linear-gradient(to right, rgba(166,87,81,0) 0%,rgba(166,87,81,1) 100%);
    transition: border-right 650ms;
}

#tree ul li.active:hover::before  {
    border-right : 10vw solid $birdRolloverColor;
}