#taxonomyArticle {
    position  :  relative;
    left: 3vw;
    border : none;
    box-shadow : none;
    -webkit-transition  :  all 850ms ease-in-out;
       -moz-transition  :  all 850ms ease-in-out;
         -o-transition  :  all 850ms ease-in-out;
            transition  :  all 850ms ease-in-out;
}

.searchWord {
    position  :  relative;
    left : -5.4rem;
    width : calc(42vw + 10ch);
    // height: 23ch;
    height: 30vh;
    padding  :  3vw 4vw 0 4vw;

    z-index: 0;

    font-size : 1.06rem;
    line-height : 1.8rem;
    text-align: center;
    color: $panelFlyoutFontColor;

    // background-color  :  $searchHeaderColor;
    background-color  :  $titleBannerColor;
    // background-color  :  rgb(89, 97, 97);

    // border-top-left-radius: 3.85rem;
    border-top-left-radius: 2rem;
    // border-bottom-left-radius: 6.9rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 0.77rem;
    border-top-right-radius: 0.77rem;

    border  :  0.077rem solid rgba(255,255,255,0.1);
    border-top : 0.077rem solid transparent;
    // box-shadow : inset 0 0 1.15rem rgba(0,0,0, 0.2), inset 0 -0.077rem 0.077rem -0.077rem rgba(0,0,0,0.4), inset 0 0 0.077rem rgba(0,0,0,0.4);
    box-shadow: inset 0 0 0.15rem rgba(255,255,255, 0.2), inset 0 0 1.15rem rgba(0,0,0, 0.1), 0 0 1.15rem rgba(0,0,0, 0.2);
}

.taxArticleMain {
    padding  : 1.15rem 0 0 0;
    line-height: 1.5rem;
    text-align: center;
}

.linkHighlight {
    padding : 0 0.23rem 0.077rem 0.31rem;
    border-radius: 0.15rem;
    border : solid 0.077rem transparent;
    border-bottom  :  solid 0.077rem $panelFlyoutFontColor;
    box-shadow : 0 0.077rem rgba(0,0,0,0.5);
    transition: border 850ms;
}

.linkHighlight:hover, .linkHighlight:focus {
    outline: none;
    border: solid 0.077rem $panelFlyoutFontColor;
}

.linkHighlight:visited {
    background-color: $greenHighlightColor;
}