/*  ------------------------------   taxonomy panel   ------------------------------------------  */

.slideUpWrapper  {
    position: relative;
    top: -8rem;
    // left: -3vw;
    left: -0.5vw;
    overflow-y: hidden;
    max-height: 27rem;
    width: 90%;

    border-top: none;
    border-bottom: none;
    border-bottom-right-radius: 22%;
    background-color: darken($bgColor, 15%);
    transform: translateY(0) scaleY(100%);
    // transition: opacity 1s 600ms, transform 600ms 250ms ease-in-out;
    transition: opacity 1s 500ms, transform 600ms 250ms ease-in-out;
}

.slideUpWrapper.panel  {
  padding  :  0 2.5ch 0 2.5ch;
}

.slideUpWrapper.closeInstructions  {
    // transform: scaleY(0) translateY(-27rem);
    transform: translateY(-27rem);
    opacity: 0;
    transition: opacity 450ms, transform 600ms 250ms ease-in-out;

}

.slideUpWrapper +  #searchForm    {
    // transform: translateY(-8rem);

    transform: translateY(-7rem);
    transition: all 400ms 200ms ease-in-out;
}

.slideUpWrapper.closeInstructions +  #searchForm   {
    border-bottom-left-radius: 0;
    // border: 1px solid rgba(255,255,255,0.5);
    border: 1px solid rgba(0,0,0,0.1);
    // transform: translateY(-23.3rem);
    // transform: translateY(-22rem);
    // transform: translateY(-20rem);
    transform: translateY(-19rem);
    transition: all 400ms ease-in-out;
}

#results-panel    {
    pointer-events: none;
    opacity  :  0;
    // transform-origin: top left;
    // transform: scaleY(0) translateY(0) !important;
    // transform: translateY(0) !important;
    transform: translateY(-10rem) !important;
    // transition: transform 400ms ease-in;
    transition: transform 500ms ease-in-out 100ms, opacity 400ms 300ms;
}

#results-panel.closeInstructions:not(.resultsPanelBoolean)  {
    // transform: scaleY(0) translateY(-10rem) !important;
    transform: translateY(-10rem) !important;
}

#results-panel.closeInstructions.resultsPanelBoolean  {
    pointer-events: all;

    opacity : 1;
    // height : 100%;
    // transform: scaleY(1) translateY(-10rem) !important;
    transform: translateY(-10rem) !important;
}

#results-panel.resultsPanelBoolean:not(.closeInstructions)  {
    pointer-events: all;

    opacity : 1;
    // height : 100%;
    transform: translateY(0) !important;
}

.taxInstructionsButton  {
    position  :  absolute;
    display: inline-block;

    top : -2.6rem;
    left : -6vw;
    width  :  3rem;
    height  :  3rem;

    padding  :  0 0 0.15rem 0;
    z-index  :  1;

    font-size  :  1.6rem;
    font-weight  :  bold;
    color  :  white;
    text-align  :  center;

    // border : 0.15rem solid  $goldHighlightColor;
    border : 0.15rem solid  $greenHighlightColor;
    border-radius  :  50%;
    background-color  :  darken($bgColor, 3%);
    box-shadow  :  inset 0 0 0 0.25px black, 0 0 0 0.25px black, 0 0 0 0.62rem $bgColor;

    cursor  :  pointer;
    transition: background-color 300ms;
}

.taxInstructionsButton:hover, .taxInstructionsButton:focus {
    outline: none;
    background-color  :  black;
    transition: background-color 300ms 250ms;
}

.taxInstructionsButton.instructionsClosed .tooltip {
    width  :  10rem;
    border : 0.15rem solid $greenHighlightColor;
    background-color: $panelColor;
    transform: rotate(0);
}

#searchForm  {
    position  :  relative;
    left: 2%;
    width : 80%;
    padding  : 0 0 1.8ch 0;

    border: 1px solid transparent;
    background-color: darken($bgColor, 15%);

    border-bottom-left-radius: 6.9rem;
    -webkit-transition  :  all 850ms ease-in-out;
       -moz-transition  :  all 850ms ease-in-out;
         -o-transition  :  all 850ms ease-in-out;
            transition  :  all 850ms ease-in-out;
}

// #searchForm:focus-within  {
//     background-color: rgb(99, 98, 98);
// }

.searchForm_contents  {
    position: relative;
    width  : 100%;
    height : auto;
    left: 0;
    margin  : 0;

    pointer-events  :  auto;

    -webkit-transition  :  all 2s;
       -moz-transition  :  all 2s;
         -o-transition  :  all 2s;
            transition  :  all 2s;
}

#searchForm span.searchGroup  {
    position : relative;
    margin: 1.92rem 0 2.31rem 0;
    left: 22%;
    opacity  :  1;
}

#searchForm span.searchGroup.grayed  {
    opacity  :  0.3;
    pointer-events  :  none;
}

#searchInput  {
    display:  inline-block;
    // position: relative;
    height:  auto;
    // left:  0;
    margin:  0;
    padding:  0.23rem 0  0.31rem 0;

    font-size:  1rem;
    color:  white;
    font-weight: bold;
    letter-spacing:  0.13em;
    text-align:  center;
    text-shadow:  0.077rem 0.077rem 0.15rem rgba(0,0,0,0.3);

    border: 1px solid transparent;
    background-color: #333;

    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select : text;
    user-select : text;
}

#searchInput:focus  {  outline: none;      border: 1px solid white;  }
#searchInput:focus + .inpuInfo { display: block; }

#searchInput::-moz-placeholder  {  color  :  white;  }
#searchInput::-ms-input-placeholder  {  color  :  white;  }
#searchInput::-webkit-input-placeholder  {  color  :  white;  }
#searchInput::placeholder  {  color  :  white;  }

#searchSpecials  {
    position  :  absolute;
    top : -3.5ch;
    left  :  105%;
    // width: 15.38rem;
    // width: 10.5rem;
    // padding : 0.5rem 0;

    font-size  :  0.82rem;
    text-shadow : 0.077rem 0.077rem 0.077rem rgba(0,0,0,0.5);

    pointer-events  :  auto;
    // border-radius : 3px;
    // box-shadow: inset 0 0 3rem rgba(226, 225, 225, 0.5);
    transition  :  all 500ms 1300ms;
    // border: 1px solid rgb(136, 135, 135);
    // border: 1px solid transparent;
}

#searchSpecials.grayed  {
    opacity  :  0.5;
    pointer-events  :  none;
}

.searchSpecialWrapper {
    padding: 0.5ch 0;
    text-align: center;
    transition  :  all 1000ms;
}

.searchSpecialWrapper a {
    display: inline-block;
    width: 14ch;
    padding: 0.1ch 0 0.5ch 0;
}

.searchSpecialWrapper a  {
    border : 0.077rem solid rgba(255,255,255,0.2);
    border-radius : 0.15rem;
    background-color : $genericButtonColor;
    box-shadow : 0 0 0.15rem rgba(0,0,0,0.5);

    cursor  :  pointer;
    transition : all 350ms;
}

.searchSpecialWrapper:hover a, .searchSpecialWrapper a:focus  {
    outline : none;
    border : 0.077rem solid #666;
    background-color : #222;
    box-shadow : 0 0 0.15rem rgba(0,0,0,1);
}

// #searchSpecials.SAM .searchSpecialWrapper  {  padding : 0.2ch 0 0.2ch 0;  }

// #searchSpecials div.notAvailable  {  display : none;  }
#searchSpecials div.notAvailable  {  pointer-events: none;  opacity: 0.5; }

// #searchSpecials.SAM  {
//     // justify-content  :  space-around;
//     // padding: 1.3rem 0;
//     // top : -2.1ch;

    
// }


#searchTerm  span {
  color: rgb(252, 185, 40);
 //   color: $titleBannerColor;
  text-decoration-line: overline;
  text-shadow: 0.2px 0.2px white;
}

.highlightSpecial { border-bottom: 0.077rem solid white; }

/*  -----------------------   searchResults  panel  ----------------------  */

#results-panel  {
    // opacity  :  0;
    position  :  relative;
    height  :  auto;
    width : calc(100% + 7vw);
    // top : -7rem;
    top : -5rem;
    left : -7vw;
    margin  : 5.5ch 0 2ch 0;
    padding  :  0;

    z-index: 0;

    border: none;
    box-shadow: none;
    background-color: transparent;
}

#fakeResultsBox  {
    position : relative;
    top : 0;
    height : 100%;

    width : calc(100% - 7vw);
    left : 7vw;
    padding: 0 0 1ch 0;
    overflow-x : visible;

    border  :  0.077rem solid rgba(255,255,255,0.15);
    border-radius  :  0.23rem;
    background-color  :  $panelColor;
    // box-shadow: 0 0 0.15rem rgba(0,0,0,0.7);
    box-shadow: -0.015rem 0 0.015rem rgba(255,255,255,0.5), 0 -0.02rem 0.02rem rgba(255,255,255,0.5), 0 0 0.15rem rgba(0,0,0,0.7);
}

//   #closeResultsPanelButton  {
//     left: 100%;
//     width: 2.2rem;
//     height: 2rem;
//     padding: 0 0 0.08rem 0;

//     text-align: center;
//     font-size  :  1.2rem;
//     font-weight: 600;
//     line-height: 1.2rem;

//     box-shadow: 0 0 0 0.46rem $bgColor,
//                 0.077rem 0.077rem 0 0.40rem $bgColor, 0.077rem -0.077rem 0 0.40rem $bgColor,-0.077rem 0 0 0.40rem rgba(0,0,0, 1),
//                 0.077rem 0.077rem 0 0.5rem $bgColor, 0.077rem -0.077rem 0 0.5rem $bgColor, -0.077rem -0.077rem 0 0.5rem $bgColor, -0.077rem 0 0 0.5rem rgba(255,255,255, 0.25);
// }

// #closeResultsPanelButton::before  {
//   opacity: 0;
//   position: absolute;
//   content: "close";
//   left: 120%;
//   top: -50%;
//   width: auto;

//   font-size: 0.9rem;
//   transition: all 200ms 500ms ease-in-out;
// }

// #closeResultsPanelButton:hover::before, #closeResultsPanelButton:focus::before  {
//   opacity: 1;
// }


#printerButton {
  position: absolute;
  top: calc(100% - 1rem);
  left: calc(100% - 1rem);
//   left: calc(100%);
  width: 2.2rem;
  height: 2.2rem;
  padding: 0.077rem;

  cursor: pointer;
  color: white;
  text-align: center;

  border-radius: 50%;
  background-color: rgb(34, 34, 34);
  border : 0.13rem solid $turquoiseHighlightColor;

  box-shadow:

    0.25rem -0.05rem 0 0.24rem $bgColor,
    0.2rem -0.1rem 0 0.24rem $bgColor,
    0.3rem 0.1rem 0 0.24rem $bgColor,
    0.25rem -0.05rem 0 0.27rem rgba(0,0,0, 0.6),

    0.25rem -0.05rem 0 0.35rem $bgColor,
    0 0 0 0.3rem $bgColor,
    0.02rem -0.04rem 0 0.3rem $bgColor,
    -0.02rem 0.04rem 0 0.3rem $bgColor,
    -0.04rem 0.04rem 0 0.32rem $bgColor,
    -0.04rem -0.04rem 0 0.3rem rgba(0,0,0, 0.6),
    -0.05rem -0.05rem 0 0.34rem rgb(114, 114, 114);
}

#printerButton::before  {
  position: absolute;
  content: "print search\Aresults"; // newline = \A, spaces or tabs don't seem to work
  white-space: pre; // newlines won't work w/o white-space: pre-wrap; or white-space: pre;
  left: 95%;
  top: -115%;
  width: auto; // only works with 'white-space: pre;'
//   width: 13.5ch;  // but this is really doing all the formatting of the `content`

  z-index: -1;
  font-size: 0.9rem;
  letter-spacing: 0.05rem;

  padding:  0.38rem 0.8rem 0.38rem 1rem;
  border: 1px solid $bgColor;
  border-radius: 0.6rem;
  background-color: rgb(34, 34, 34);
  box-shadow: 0 0 0.09rem rgb(0,0,0);
  transition: all 100ms ease-in-out;
}

#printerButton:hover::before, #printerButton:focus::before  {
    border-color: white;
}

#closeOpenFamiliesButton  {
    position: absolute;
    left: calc(100% - 1.31rem);
    top: calc(100% - 1.75rem);
    width  :  3rem;
    height  :  3rem;
    padding  :  0 0 0.3rem 0;

    font-size  :  1.8rem;
    letter-spacing: 0.05rem;
    text-align: center;
    color: white;

    background-color: rgb(34, 34, 34);
    border : 0.13rem solid  $turquoiseHighlightColor;
    border-radius: 50%;

    box-shadow: 0 0 0 0.62rem $bgColor,

                0 -0.077rem 0 0.62rem $bgColor,
                -0.077rem 0 0 0.62rem $bgColor,
                -0.077rem -0.077rem 0 0.62rem rgba(0,0,0, 0.5),
                0.077rem -0.077rem 0 0.69rem $bgColor,
                -0.077rem -0.077rem 0 0.69rem $bgColor,
                -0.077rem -0.077rem 0 0.69rem rgba(255,255,255, 0.25),

                // 0 0.077rem 0 0.62rem $bgColor,
                // 0.077rem 0 0 0.62rem $bgColor,

                0.077rem 0 0 0.7rem $bgColor,
                -0.2rem 0.03rem 0 0.66rem rgba(0,0,0, 0.4),
                0.077rem -0.077rem 0 0.69rem $bgColor,
                0.077rem 0.077rem 0 0.69rem $bgColor,
                -0.2rem 0.05rem 0 0.66rem rgba(255,255,255, 0.3);
    transition: all 300ms;
    cursor: pointer;
}

#closeOpenFamiliesButton:hover, #printerButton:hover,
#closeOpenFamiliesButton:focus, #printerButton:focus  {
    outline: none;
    border-color: white;
}

#closeOpenFamiliesButton::before  {
    // opacity: 0;
    position: absolute;
    content: "close open\A families";
    white-space: pre; // newlines won't work w/o white-space: pre-wrap; or white-space: wrap;

    left: -6.8vw;
    top: 90%;
    // width: 8vw;
    width: auto;
    padding: 0.38rem 1.5rem 0.38rem 1rem;
    border: 1px solid $bgColor;
    border-radius: 0.6rem;
    font-size: 0.9rem;
    z-index: -1;
    background-color: rgb(34, 34, 34);
    box-shadow: 0 0 0.09rem hsl(0, 0%, 0%);
    transition: all 200ms ease-in-out;
}

#closeOpenFamiliesButton:hover::before, #closeOpenFamiliesButton:focus::before  {
    border-color: white;
}

#countrySearch  {
    opacity  :  1;

    position  :  relative;
    padding : 1ch 0 0 0;
    height : 4ch;
    margin: -0.77rem 0 1ch 0;
    // top: -0.7rem;
    left : 2ch;
    width : calc(100% - 4ch);

    font-variant  :  small-caps;
    color  :  $panelFlyoutFontColor;
    text-align  :  center;
    letter-spacing  :  0.1em;

    // background-color  :  $panelFlyoutColor;
    // box-shadow : none;
}

#searchResults  {
    opacity  :  1;
    position  :  relative;
    left  :  -7vw;
    width  :  calc(100% + 7vw + 1.1ch);
    height  :  auto;
    max-height  :  28.5rem;
    padding  :  0 0 0 7vw;

    font-size  :  1rem;
    line-height  :  1rem;

    border: none;
    box-shadow : none;

    // if no simpleBar, use overflow-y: auto;
    // overflow-y  :  auto;

    // use this for simpleBar
    overflow:hidden;

    transition  :  all 350ms;
}

#searchResults.fadeIn  {
    opacity  :  1;
    transition  :  all 2s;
}

#searchResults li  {
    position : relative;
    padding  :  0.077rem 0 0.12rem 1.23rem;
    width: calc(100% - 0.69rem);

    list-style-type  :  none;
    cursor  :  pointer;
    border-top : 0.077rem solid transparent;
    border-bottom : 0.077rem solid transparent;
}

#searchResults li.bird {
    font-size : 0.9rem;
}

#countrySearch.closed  {
    opacity  :  0;
    height  :  0;
}

#searchResults li:hover  {
    color  :  white;
    border-top : 0.077rem solid darken($birdRolloverColor, 10%);
    border-bottom : 0.077rem solid darken($birdRolloverColor, 10%);
    background-color  :  $birdRolloverColor;
}

#searchResults li.bird:not(.active):hover::before  {
    content : '\a0\a0';
    position : absolute;
    top : 0.1rem;
    left : -1.3rem;
    border-left : 0.54rem solid white;
}

#searchResults li.bird.active:hover::before  {
    content : '\a0\a0';
    position : absolute;
    border-left : 0.54rem solid white;
    top: -0.077rem;
    left : -7vw;
    height : calc(100% + 0.15rem);
    width : 7vw;

    border-right : 0 solid $birdRolloverColor;
    background-color: $birdRolloverColor;
    transition: border-right 650ms;
}

#searchResults li.family:hover::before  {
    position : absolute;
    top : 0.1rem;
    left : -2rem;
    content : '\a0\a0';
    border-left : 0.77rem solid white;
}

#searchResults li:not(.family) span:first-child  {
    // padding  :  0.23rem 0 0.23rem 1.2rem;
    padding  :  0.23rem 0 0.23rem 0.7rem;
}

#searchResults li.active  {
    position : relative;
    background-color : $birdActiveColor;
}

#searchResults li.active::before  {
    position : absolute;
    content : '\a0\a0';
    top: -0.077rem;
    left : -7vw;
    height : calc(100% + 0.15rem);
    width : 7vw;

    border-right : 0 solid $birdRolloverColor;
    background: -moz-linear-gradient(left, rgba(166,87,81,0) 0%, rgba(166,87,81,1) 100%);
    background: -webkit-linear-gradient(left, rgba(166,87,81,0) 0%,rgba(166,87,81,1) 100%);
    background: linear-gradient(to right, rgba(166,87,81,0) 0%,rgba(166,87,81,1) 100%);
    transition: border-right 650ms;
}

#searchResults li.active:hover::before  {
    border-right : 7vw solid $birdRolloverColor;
}

#searchResults .family      {
    margin  :  0.38rem 0 0 0;
    padding : 0.077rem 0 0.15rem 1.2rem;
}

#searchResults .familyOpen  {
    margin  :  0.38rem 0 0 0;
    padding : 0.077rem 0 0.15rem 1.2rem;
}

// species scientific names only
#searchResults span:not(.fsc):last-child  {
    position  :  absolute;
    // left  :  calc(52.8% + 1.15rem);
    left  :  calc(52.8% + 0.7rem);
}

.fsc  {
    position  :  absolute;
    left  :  52.8%;
    font-weight  :  bold;
    font-style  :  normal;
}

.fco  {
    font-weight  :  bold;
}

.endemic::before  {
    content  :  'e';
    position  :  relative;
    left  :  -0.53rem;
    font-size  :  0.8rem;
}

.extinct::before  {
    content  :  'x';
    position  :  relative;
    left  :  -0.53rem;
    font-size  :  0.8rem;
}

.hy::before  {
    content  :  'h';
    position  :  relative;
    left  :  -0.53rem;
    font-size  :  0.8rem;
}

.va::before  {
    content  :  'v';
    position  :  relative;
    left  :  -0.53rem;
    font-size  :  0.8rem;
}

#searchResults .endemic, #searchResults .extinct, #searchResults .hy, #searchResults .va  {
    position  :  relative;
    left  :  -0.575rem;
}

/*  -----------------------------   #taxTreeArticle  ---------------------  */
// TODO : height already fixed (in script onload?) just translate down and opacity so height isn't changing
#tax-panel  {

    opacity: 0;
    position: relative;
    width: calc(100% + 7vw);
    height: 0;
    top: 2rem;
    left: -7vw;
    margin: 0 0 -20.5ch 0;
    // margin: 0 0 -18.5ch 0;
    padding :  5ch 0 0 0;

    z-index : 0;
    border: none;
    box-shadow: none;
    background-color: transparent;
    // overscroll-behavior: contain;  doesn't seem to work anywhere
    // overscroll-behavior: none;

    transform: translateY(-13rem);
    transition: all 400ms ease-in-out;
}

#tax-panel.setTaxPanelHeight  {
    opacity : 1;
    height: auto;
    margin: 1ch 0 -10ch 0;
}

#fakeTaxPageBox  {
    position : relative;
    top : -1.5ch;
    height : 100%;
    width : calc(100% - 7vw);
    left : 7vw;
    // padding : 0 0 2ch 0;
    padding : 1ch 0 2ch 0;

    border  :  0.077rem solid rgba(255,255,255,0.15);
    border-radius  :  0.23rem;
    background-color  :  $panelColor;
    // box-shadow: 0 0 0.15rem rgba(0,0,0,0.7);
    box-shadow: -0.015rem 0 0.015rem rgba(255,255,255,0.5), 0 -0.02rem 0.02rem rgba(255,255,255,0.5), 0 0 0.15rem rgba(0,0,0,0.7);

    overflow-x : visible;
}

/*  -----------------------------   #taxPage panel  ---------------------  */

#taxPage  {
    position  :  relative;
    top: -1.5ch;
    left  :  -7vw;
    width  :  calc(100% + 7vw + 1ch);
    height : 0;
    max-height  :  75vh;
    padding  :  0 0 0 7vw;
    margin : 0;

    font-size  :  1rem;
    line-height : 1.3rem;

    /* necessary because 100% padding right would else break line at spaces and hyphens */
    white-space  :  nowrap;

    // use below if no SimpleBar
    // overflow-y  :  visible;
    // overflow-y: hidden;

    border: none;
    background-color : transparent;
    box-shadow: none;
}

#taxPageButton  {
    cursor  :  pointer;
    transition : all 350ms;
}

#taxPageButton:hover  {
    letter-spacing : 0.23rem;
    box-shadow  :  0 0.15rem 0.31rem #444;
}

#tree *       {
    list-style-type  :  none;
}

.birds             {
    display  :  none;
    position  :  relative;
}

#tree .fsc  {
    position  :  absolute;
    left  :  52.3%;

    font-weight  :  bold;
    font-style  :  normal;
}

/*
	position : relative MUST be here for entry.offsetTop to work in taxonomy.js
	it is the offset distance to the nearest relatively-positioned parent
*/

.birds.open        {
    display  :  block;
    animation: showIn 650ms ease-in forwards;
}

@keyframes showIn {
from {
    opacity: 0;
    }
to {
    opacity: 1;
    }
}

#tree .family      {
    position: relative;
    width : 100%;
    cursor  :  pointer;
}

// family names and species names too
#tree .familyOpen  {
    position: relative;
    width : 100%;
    padding: 0 0 0.46rem 0;
    cursor  :  pointer;
}

/*target : family common name only*/
#tree li.family > span:nth-child(1)  {
    padding  :  0.077rem 0 0.15rem 1.15rem;

}

/*target : familyOpen family common and sci names for families that are open  */
#tree li.familyOpen > span:nth-child(1)  {
    padding  :  0.077rem 0 0.15rem 1.15rem;
}

// all family names whether open or not
.fTitle  {
    display: inline-block;
    width: calc(100% - 0.62rem);
    border-top : 0.077rem solid transparent;
    border-bottom : 0.077rem solid transparent;
    background-color: transparent;
}

.family .fTitle:hover {
    border-top : 0.077rem solid darken($birdRolloverColor, 10%);
    border-bottom : 0.077rem solid darken($birdRolloverColor, 10%);
    background-color  :  $birdRolloverColor;
}

// hover: family names only
.familyOpen .fTitle:hover {
    background-color  :  $birdRolloverColor;
    border-top : 0.077rem solid darken($birdRolloverColor, 10%);
    border-bottom : 0.077rem solid darken($birdRolloverColor, 10%);
}

.family .fTitle.active  {
    background-color  :  $birdRolloverColor;
}

// just the species within a family (that is open)
#tree .familyOpen  ul  {
    width: calc(100% - 0.62rem);
    margin-top: -0.15rem;
    padding: 0;
    font-size  :  0.9rem;
    line-height  :  1rem;
}

/* target : familyOpen bird common names only */
#tree .familyOpen  ul  li span:first-child {
    // padding  :  0.077rem 0 0 2rem;
    padding  :  0.077rem 0 0 1.8rem;
}

/*target : familyOpen bird sci names only*/
#tree .familyOpen .birds li span:last-child  {
    position  :  absolute;
    // left  :  52.8%;
    left  :  54.5%;
}

#taxPage.samTax .hy:before,#taxPage.samTax .va:before  {
    content  :  '';
}

#taxPage.samTax .hy,#taxPage.samTax .va  {
    position  :  relative;
    left  :  1.55rem;
}

#searchResults.samTax .hy:before,#searchResults.samTax .va:before  {
    content  :  '';
}

#searchResults.samTax .hy,#searchResults.samTax .va  {
    position  :  relative;
    left  :  0;
}

#taxPage.samTax li.familyOpen span.hy  {
    position  :  relative;
    left  :  1.55rem;
}

#taxPage.samTax li.familyOpen span.va  {
    position  :  relative;
    left  :  1.55rem;
}

#taxPage .endemic, #taxPage .extinct, #taxPage .hy, #taxPage .va  {
    position  :  relative;
    left  :  -0.7rem;
}

#tree .fco, #tree .fsc  {
    font-weight  :  bold;
}

#tree .family:hover::before, #tree .familyOpen:hover::before {
    position : absolute;
    top : 0.15rem;
    left : -2.5vw;
    font-size: 1.3rem;
}

#tree .familyOpen::before {
    content: '▼';
    position : absolute;
    left : -2.5vw;
    top : 0.15rem;
    font-size: 1.3rem;
}

#tree .family:hover::before {
    content: '►';
    position : absolute;
    color: black;
}

#tree .familyOpen:hover::before {
    content: '▼';
}

/*    below targets each individual bird */
#tree li.familyOpen:hover > ul > li:hover, #tree ul li:hover  {
    padding : 0.15rem 0 0.15rem 0;
    background-color  :  $birdRolloverColor;
    border-top : 0.077rem solid darken($birdRolloverColor, 10%);
    border-bottom : 0.077rem solid darken($birdRolloverColor, 10%);
    transition: background-color 450ms;
}

#tree ul li:hover::before  {
    // below same as &nbsp;
    content : '\a0\a0';
    position : absolute;
    top : 0.12rem;
    left : -1.3rem;
    border-left : 0.54rem solid white;
}

#tree ul li {
    position: relative;
    padding : 0.15rem 0 0.15rem 0;
    border: none;
    border-top : 0.077rem solid transparent;
    border-bottom : 0.077rem solid transparent;
}

/* added by toggleFamilyOpen, the species highlighted */
#tree ul li.active {
    position : relative;
    background-color : $birdActiveColor;
}

#tree ul li.active::before {
    position : absolute;
    top : -0.077rem;
    left : -7vw;
    content : '';
    height : calc(100% + 0.15rem);
    width : 7vw;

    border-right : 0 solid $birdActiveColor;
    background: -moz-linear-gradient(left, rgba(166,87,81,0) 0%, rgba(166,87,81,1) 100%);
    background: -webkit-linear-gradient(left, rgba(166,87,81,0) 0%,rgba(166,87,81,1) 100%);
    background: linear-gradient(to right, rgba(166,87,81,0) 0%,rgba(166,87,81,1) 100%);
    transition: border-right 650ms;
}

#tree ul li.active:hover::before  {
    border-right : 7vw solid $birdRolloverColor;
}