#taxonomyArticle {
    position  :  relative;

    border : none;
    box-shadow : none;

    order: 1;
    // z-index: 1;

    // overflow-x: visible;
        // overflow-y: hidden;

    -webkit-transition  :  all 850ms ease-in-out;
       -moz-transition  :  all 850ms ease-in-out;
         -o-transition  :  all 850ms ease-in-out;
            transition  :  all 850ms ease-in-out;
}

.searchWord {
    position  :  relative;
    left : -5.4rem;
    width : calc(100% + 10ch);
    height: 23ch;
    margin-bottom: -12ch;
    padding  :  2.5ch 7ch 0 7ch;

    z-index: 0;

    font-size : 1.06rem;
    line-height : 1.8rem;
    text-align: center;
    color: $panelFlyoutFontColor;

    background-color  :  $searchHeaderColor;

    border-top-left-radius: 3.85rem;
    border-bottom-left-radius: 6.9rem;
    border-bottom-right-radius: 0.77rem;
    border-top-right-radius: 0.77rem;

    border  :  0.077rem solid rgba(255,255,255,0.1);
    border-top : 0.077rem solid transparent;
    box-shadow : inset 0 -0.077rem 0.077rem -0.077rem rgba(0,0,0,0.4), inset 0 0 0.077rem rgba(0,0,0,0.4);
}

.taxArticleMain {
    padding  : 1.15rem 0 0 0;
    // text-align: center;
    line-height: 1.5rem;
}

#taxonomyArticle a.linkHighlight {
    padding : 0 0.23rem 0.077rem 0.31rem;
    // border: none;
    border-radius: 0.15rem;
    border : solid 0.077rem transparent;
    border-bottom  :  solid 0.077rem $panelFlyoutFontColor;
    box-shadow : 0 0.077rem rgba(0,0,0,0.5);
    transition: border 850ms;
}

#taxonomyArticle a.linkHighlight:hover {
    border: solid 0.077rem $panelFlyoutFontColor;
}