.tooltip  {
    // position : relative;
    opacity  :  0;

    font-size  :  0.8rem;
    color  :  #fff;
    line-height  :  1.2rem;
    text-align  :  center;

    z-index : 100;
    border-radius  :  0;
    box-shadow  :  0.15rem 0.15rem 0.15rem rgba(0,0,0,0.2);
    transition  :  all 500ms ease;
}

.taxInstructionsButton .tooltip {
    opacity  :  1;
    position  :  absolute;
    top  : 0;
    left  :  5rem;
    padding : 0 0 0.15rem 0;
    width  :  14rem;

    letter-spacing: 0.2rem;

    background-color  :  transparent;
    border : 0.12rem solid  $goldHighlightColor;
    border-right : 0.2rem solid $goldHighlightColor;

    // box-shadow  :  inset 0 0 0 transparent;
    // box-shadow  :  inset 0 0 0 transparent;
    box-shadow  :  inset 0 0 0 0.25px black, 0 0 0 0.25px black;
    

    transform  :  rotate(-4deg);
    -webkit-transform-origin  :  top left;
       -moz-transform-origin  :  top left;
        -ms-transform-origin  :  top left;
         -o-transform-origin  :  top left;
            transform-origin  :  top left;

    // transition: transform 450ms, box-shadow 450ms, border 350ms 500ms, width 450ms;
    transition: all 450ms;
}

.deleteMapButton .tooltip {
    position  :  absolute;
    top  :  7rem;
    left  : -1.8rem;

    width  :  5.5em;
    // padding : 0 0 0.1rem 0;
    padding : 0;
    font-size  :  0.675rem;
    // letter-spacing : 0.15em;
    text-align: center;
    letter-spacing : 0.25em;
    background-color  :  transparent;
    // border: 1px solid #f88509;
    border: 1px solid rgb(190, 189, 189);
    transform-origin  :  top right;
    transform: rotate(-15deg);
}

.saveMapButton .tooltip {
    position  :  absolute;

    width  :  6em;
    padding : 0 0 0.15rem 0;

    text-align: center;
    letter-spacing: 0.2rem;
    opacity: 1;
    border: 0.077rem solid rgba(255,255,255,0.5);
    background-color  :  $bgColor;
    box-shadow  :  inset 0 0 0 0.25px black, 0 0 0 0.25px black;

    transform  :  rotate(-20deg);

    -webkit-transform-origin  :  middle right;
       -moz-transform-origin  :  middle right;
        -ms-transform-origin  :  middle right;
         -o-transform-origin  :  middle right;
            transform-origin  :  middle right;
}

.tooltip:after {
    content  :  '';
    position  :  absolute;
    top  :  0;
    border-width  :  0.6em;
    border-style  :  solid;
}

.taxInstructionsButton .tooltip:after {
    top  : -0.125em;
    left  :  -2.25em;
    border-width  :  0.98em;
    border-color  :  transparent  $goldHighlightColor transparent transparent;
    transition : border-color 200ms 500ms;
}

// .taxInstructionsButton.instructionsClosed .tooltip:after {
//     top  : -0.15em;
//     left  :  -2.04em;
//     border-width  :  0.8em;
// }

.saveMapButton .tooltip:after {
    top  :  -0.06rem;
    left  :  102.3%;
    border-width  :  0.91em;
    border-color  :  transparent transparent transparent #fff;
    transition: all 350ms;
}
;
.deleteMapButton .tooltip:after {
    top  :  -0.2rem;
    left  :  107%;
    border-width  :  1.2em;
    border-color  :  transparent transparent transparent white;
}

.taxInstructionsButton.hasTooltip:hover .tooltip, .taxInstructionsButton.hasTooltip:focus .tooltip {
    // transform  :  rotate(-9deg);
    color: black;
    text-shadow: none;
    box-shadow : inset -18.5rem 0 0.15rem $goldHighlightColor, 0 0 1.15rem  $goldHighlightColor;
    will-change: transform;
}

    // makes the arrow of the tooltip (.tooltip:after) change color upon hover
    // .taxInstructionsButton.hasTooltip:hover .tooltip:after {
    //     border-color  :  transparent #fff transparent transparent;
    // }

.saveMapButton.hasTooltip:hover .tooltip {
    background-color  :  #333;
    // transform: rotate(-4deg);
}

.saveMapButton.hasTooltip:hover .tooltip:after {
    top  :  -0.17rem;
    left  :  104%;
    border-width  :  1.1em;

    // border-color  :  transparent transparent transparent #333;
}

// .deleteMapButton.hasTooltip:hover .tooltip, .deleteMapButton.hasTooltip.hover .tooltip {
.deleteMapButton.hasTooltip.hover .tooltip {
    opacity  :  1;
    // background-color  :  #f8850947;
    // transform  :  rotate(-10deg) scale(1.3);
    // transform  :  scale(1.3);
}