.md-modal {
  position: fixed;
  top: 0;
  left: 100%;
  width: 210px;
  z-index: 2000;
  transition: all 750ms;
  transform: translateX(0); }

.md-show {
  transform: translateX(-210px); }

.md-overlay {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100vw - 35px);
  height: 100vh;
  margin: 0;
  padding: 0;
  z-index: 10;
  border: none;
  background: rgba(90,91,86, 0.65);
  transition: opacity 750ms; }

.md-show ~ .md-overlay {
  opacity: 1;
  visibility: visible; }

.country-menu-wrap {
  font-size: 1rem; }

.country-menu {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  height: 100vh;
  padding: 8px 10px 20px 0;
  align-items: center;
  background-color: darken($bgColor, 5%);
  border-left : 1px inset white;

  // box-shadow: inset 6px 0 8px rgba(0, 0, 0, 0.25);
  box-shadow: inset -5px 0 5px rgba(0,0,0,0.25), -2px 0 2px rgba(0,0,0,0.25);

}

.country-menu-wrap::before {
  content: '';
  display: inline-block;
  position: absolute;
  top: -5px;
  left: -45px;
  width: 45px;
  height: calc(100vh + 5px);}

.country-menu a {
  position: relative;
  /*left : 20px;*/
  width: 185px;
  padding: 3px 0 5px 12px;
  text-decoration: none;
  overflow: visible;
  background-color : transparent;
  border-top: 1px solid transparent;
  border-radius: 10px;
  cursor: pointer;
  transition : all 450ms; }

.country-menu a:hover, .country-menu a:focus {
  border-top: 1px solid #666;
  background-color: #222;
  transition : all 450ms;
}

.country-menu a::before {
  content: '';
  display: inline-block;
  position: absolute;
  top: -2px;
  left: -54px;
  width: 32px;
  height: 32px;
  // filter  :  grayscale(100%) contrast(150%) brightness(1);

  background-size: contain;
}

.country-menu a:nth-child(n)::before {
  top : -11px;
  // left: -63px;
  left: -73px;

  padding: 9px;
  width : 50px;
  height: 50px;

  background-image: url("../../../flags/32/South-America-min.png");

  background-position: center;
  background-origin: padding-box;
  background-color: $bgColor;
  border-radius : 50%;
  background-size: 32px 32px;
  background-repeat: no-repeat;
   }

.country-menu a:nth-child(2)::before {
  background-image: url("../../../flags/32/Aruba.png"); }

.country-menu a:nth-child(3)::before {
  background-image: url("../../../flags/32/Curacao.png"); }

.country-menu a:nth-child(4)::before {
  background-image: url("../../../flags/32/Bonaire.png"); }

.country-menu a:nth-child(5)::before {
  background-image: url("../../../flags/32/Trinidad-and-tobago.png"); }

.country-menu a:nth-child(6)::before {
  background-image: url("../../../flags/32/French-Southern.png"); }

.country-menu a:nth-child(7)::before {
  background-image: url("../../../flags/32/Suriname.png"); }

.country-menu a:nth-child(8)::before {
  background-image: url("../../../flags/32/Guyana.png"); }

.country-menu a:nth-child(9)::before {
  background-image: url("../../../flags/32/Venezuela.png"); }

.country-menu a:nth-child(10)::before {
  background-image: url("../../../flags/32/Colombia.png"); }

.country-menu a:nth-child(11)::before {
  background-image: url("../../../flags/32/Ecuador.png"); }

.country-menu a:nth-child(12)::before {
  background-image: url("../../../flags/32/Peru.png"); }

.country-menu a:nth-child(13)::before {
  background-image: url("../../../flags/32/Bolivia.png"); }

.country-menu a:nth-child(14)::before {
  background-image: url("../../../flags/32/Chile.png"); }

.country-menu a:nth-child(15)::before {
  background-image: url("../../../flags/32/Argentina.png"); }

.country-menu a:nth-child(16)::before {
  background-image: url("../../../flags/32/Falkland-islands.png"); }

/*.country-menu a:nth-child(16)::before {
  background-image: url("../../../flags/32/Falkland-islands.png"); }*/

.country-menu a:nth-child(17)::before {
  background-image: url("../../../flags/32/Brazil.png"); }

.country-menu a:nth-child(18)::before {
  background-image: url("../../../flags/32/Uruguay.png"); }

.country-menu a:nth-child(19)::before {
  background-image: url("../../../flags/32/Paraguay.png"); }

// .country-menu a:nth-child(19)::before {
//   background-image: url("../../../flags/32/South-America-min.png"); }

.country-menu a.taxHighlight {
  color: white;
  text-decoration: none;
  border-top: 1px solid #555;
  background-color: #222;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); }

.country-menu a.checkHighlight {
  color: white;
  text-decoration: none;
  border-top: 1px solid #555;
  background-color: #222;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); }

.country-menu a.taxHighlight::after {
  content: '✓';
  position: absolute;
  left: -86px;
  background: none; }

.country-menu a.checkHighlight::after {
  content: '✓';
  position: absolute;
  left: -86px;
  background: none; }

.country-menu a.bothHighlights::after {
  content: '✓✓';
  position: absolute;
  left: -99px;
  background: none; }