@media screen and (max-width: 1680px)  {
    .smallBird  {
        transform  :  scale(0.7);
    }
    .thinify  {
        margin-right  :  -35px;
    }
}

@media screen and (max-width: 1600px)  {
    .smallBird  {
        transform  :  scale(0.6);
    }
    .thinify  {
        margin-right  :  -45px;
    }
}

@media screen and (max-width: 1460px)  {
    .thinify  {
        margin-right  :  -55px;
    }
}

@media screen and (max-width: 1380px)  {
    .thinify  {
        margin-right  :  -60px;
    }
}

@media screen and (max-width: 1344px)  {
    .thinify  {
        margin-right  :  -65px;
    }
}

@media screen and (max-width: 1370px)  {

    #currentBirdMap {
        transform : scale(1);
    }
    #currentMap.modal-shrink {
        transform  :  translateX(-40px);
    }
    #currentMap .birdName {
        top  :  -30px;
        font-size : 1.4rem;
    }
    .saveMapButton  {
        top  :  240px;
        left  :  10px;
        width  :  26px;
        height  :  26px;
    }
    .saveMapButton .tooltip {
        top  :  -50px;
        left  :  -130px;
    }
    .icon-pin  {
        top  :  -27px;
        left  :  2px;
    }
    .colorKey {
        top  :  250px;
        left  :  140px;
        transform : scale(0.8);
    }
    #mapsCollection  {
        left  :  -3vw;
        width : 72vw;
    }
    .thinify  {
        margin-right  :  -72px;
    }
    #numDays {
        left  :  0;
        width  :  130%;
    }
}

@media screen and (max-width: 1305px)  {

    /*html {
        font-size  :  60%;
    }*/

    .smallBanner {
        display  :  block;
        position  :  absolute;
        left  :  0;
        width  :  100vw;
        padding  :  20px 0 93px 0;

        font-size  :  2rem;
        font-weight  :  bold;
        color  :  black;
        letter-spacing  :  0.15em;
        text-shadow  :  1px 1px 2px #444;

        background  :  #6d9892;
        cursor  :  pointer;
    }

    .smallBanner > span {
        display : block;
        position : relative;
        left : 17vw;
        width : auto;
        margin  :  0 auto;
    }

    .titleBanner {
        display  :  none;
    }
    .titleBanner_spacer  {
        position  :  relative;
        top  :  -10px;
        font-size  :  1.4rem;
    }

    #mainContent {
        left : 4vw;
    }

    .articles {
        margin  :  100px 0 0 0;
        width : 54vw;
    }

    #checklistOptions::before  {
        left  :  -165px;
        font-size  :  1.4em;
    }

    #numDays {
        left  :  0;
    }
}

@media screen and (max-width:1200px)  {
    html {
        font-size  :  15px;
    }
    .smallBanner > span {
        left : 12vw;
    }
    .articles {
        line-height  :  22px;
    }
    #checklistOptions.panel {
        margin  :  30px 0 15px 0;
        line-height : 30px;
    }
    input[type='checkbox'] {
        margin  :  0;
    }
    #numDays {
        left  :  -30px;
        width  :  120%;
        margin  :  10px 0 10px 0;
    }
    #numDays a {
        width  :  40px;
        height  :  40px;
        padding  :  7px 0 0 0;
        font-size  :  1rem;
    }
    #numDays a.highlight {
        top  :  -10px;
        transform  :  scale(1.4);
    }
    .country-menu a::before {
        display: none;
    }
    .country-menu a.taxHighlight::after {
        display : none;
    }
    .country-menu a.checkHighlight::after {
        display : none;
    }
    .country-menu a.bothHighlights::after {
        display : none;
    }
}

@media screen and (max-width:1165px)  {
    html {
        font-size  :  14px;
    }
    /*.smallBanner > span {
        left : 10vw;
    }*/
    /*#mainContent {
        left : 2vw;
    }*/
     #currentBirdMap {
        transform : scale(0.9);
    }
    // .birdName  {
    //     font-size  :  1.4rem;
    // }
    #currentMap .birdName {
        top  :  20px;
        font-size  :  1.2rem;
    }
    .colorKey {
        top  :  270px;
        left  :  165px;
        transform : scale(0.9);
    }
    .colorKey ul li {
        margin-top  :  5px;
    }
    .saveMapButton  {
        left  :  20px;
    }
    .saveMapButton .tooltip {
        top  :  -50px;
        left  :  -110px;
    }
    #mapsCollection  {
        left  :  -1vw;
        width : 75vw;
    }
    .smallBird  {
        transform  :  scale(0.5);
    }
    .thinify  {
        margin-right  :  -95px;
    }
    .articles {
        width  :  595px;
    }
    .checklistTitle  {
        top  :  20px;
        left  :  -235px;
        font-size  :  1.5rem;
    }
}

@media screen and (max-width:968px)  {
    .thinify  {
        margin-right  :  -115px;
    }
}

@media screen and (max-width:950px)  {
    html {
        font-size  :  12px;
    }
    /*.smallBanner > span {
        left : 10vw;
    }*/
    #mainContent {
        left : 2vw;
    }
    .articles {
        margin  :  80px 0 0 0;
        width  :  520px;
        /*width : 54vw;*/
    }
     #currentBirdMap {
        transform : scale(0.85);
    }
    .colorKey {
        /*top  :  270px;*/
        left  :  145px;
        /*transform : scale(0.9);*/
    }
    .checklistTitle  {
        left  :  -188px;
        font-size  :  1.4rem;
    }
    #numDays {
        left  :  0;
        width  :  120%;
    }
    #numDays a {
        // top  :  2px;
        width  :  35px;
        height  :  35px;
        /*padding  :  7px 0 0 0;*/
        /*font-size  :  1rem;*/
    }
    #numDays a.highlight {
        top  :  -6px;
        transform  :  scale(1.3);
    }
}

@media screen and (max-width:840px)  {

    #treeIntroText  {
        left  :  -6px;
        width  :  calc(100% + 12px);
        height  :  36px;
        margin  :  20px auto 20px auto;

        font-size  :  16px;

        border  :  2px solid rgba(106, 136, 157,1);
    }

    .family   {
        font-size  :  11px;
    }

    .familyOpen {
        font-size  :  11px;
    }

    #searchResults  {
        font-size  :  11px;
    }

    .fsc  {
        font-size  :  11px;
    }

    .fco  {
        font-size  :  11px;
    }
}

@media screen and (max-width:800px)  {
    html {
        font-size  :  11px;
    }
    /*.smallBanner > span {
        left : 10vw;
    }*/

    .articles {
        margin  :  80px 0 0 0;
        width  :  480px;
    }
     #currentBirdMap {
        transform : scale(0.8);
    }
    .colorKey {
        left  :  135px;
    }
    .checklistTitle  {
        left  :  -168px;
    }
}

@media screen and (max-width: 610px) {
 #numDays {
        width  :  110%;
    }
}


@media screen and (max-width: 590px) {

  #sampleTable {
    min-width: 400px;
    font-size: 1.1rem; }

  #sampleTable th {
    width: 21px; }

  .leftCheck::before {
    top: -7px;
    left: -37px;
    font-size: 48px; }

  .showLineNumbers::before {
    top: 3px;
    left: -23px;
    width: 16px;
    height: 16px;
    font-size: 9px;
    line-height: 14px; }

  .showEndemics::before {
    top: 3px;
    left: -23px;
    width: 16px;
    height: 16px;
    font-size: 9px;
    line-height: 12px; }

  .leftCheck.showEndemics::after {
    top: -25px;
    left: -37px;
    font-size: 48px; }

  .leftCheck.showLineNumbers::after {
    top: -25px;
    left: -37px;
    height: 0;
    font-size: 48px;
    }
}


/*iPad portrait*/
/*@media screen and (max-width: 768px)  {*/


/*}*/

/*iPhone 6 landscape*/
/*@media screen and (max-width: 667px)  {*/


/*}*/
