#taxonomyArticle {
    position  :  relative;

    -webkit-transition  :  all 850ms ease-in-out;
       -moz-transition  :  all 850ms ease-in-out;
         -o-transition  :  all 850ms ease-in-out;
            transition  :  all 850ms ease-in-out;
}

.taxArticleMain {
    padding  :  10px 0 30px 0;
    /*line-height: 28px;*/
}

.taxArticleMain .searchWord {
    position  :  relative;
    top  :  -20px;
    width : calc(100% + 50px);
    left  :  -25px;
    padding  :  21px 20px 16px 20px;

    font-size : 1rem;
    text-align: center;
    /*background  :  $panelFlyoutColor;*/
    background  :  $searchHeaderColor;
    border-bottom : 1px solid rgba(255,255,255,0.25);

    box-shadow : 0 0 15px rgba(0,0,0,0.5);
}

#taxonomyArticle a.linkHighlight {
    padding : 3px 5px 2px 6px;
    border-bottom  :  solid 1px #ccc;
    box-shadow : 0 1px rgba(0,0,0,0.3);
}

#taxonomyArticle a.linkHighlight:hover {
    background : $genericButtonColor;
    transition: all 350ms;
}

#taxTreeArticle {
    margin  :  0 0 15px 0;
    padding-top  :  20px;
    border  :  none;
    box-shadow  :  none;
}