.tooltip  {
    // position : relative;
    opacity  :  0;

    font-size  :  0.8rem;
    color  :  #fff;
    line-height  :  1.2rem;
    text-align  :  center;

    z-index : 100;
    border-radius  :  0;
    box-shadow  :  2px 2px 2px rgba(0,0,0,0.2);
    transition  :  all 500ms ease;
}

.taxInstructionsButton .tooltip {
    opacity  :  1;
    position  :  absolute;
    top  :  5px;
    left  :  65px;
    height  :  1.3rem;
    padding : 0 0 2px 0;
    width  :  15.5rem;

    background-color  :  transparent;
    border : 1px solid black;
    box-shadow  :  inset 0 0 0 transparent;
    // transform  :  rotate(-4deg);
    -webkit-transform-origin  :  top left;
       -moz-transform-origin  :  top left;
        -ms-transform-origin  :  top left;
         -o-transform-origin  :  top left;
            transform-origin  :  top left;
}

.deleteMapButton .tooltip {
    position  :  absolute;
    top  :  160px;
    left  :  -20px;
    width  :  6em;
    padding : 0 0 3px 0;
    font-size  :  0.9rem;
    letter-spacing : 0.1em;
    background-color  :  #a32d00;

    transform  :  rotate(0);
    -webkit-transform-origin  :  top right;
       -moz-transform-origin  :  top right;
        -ms-transform-origin  :  top right;
         -o-transform-origin  :  top right;
            transform-origin  :  top right;
}

.saveMapButton .tooltip {
    position  :  absolute;
    top  :  -60px;
    left  :  -115px;
    width  :  12em;
    padding : 2px 0 3px 0;

    background-color  :  transparent;

    transform  :  rotate(0);
    -webkit-transform-origin  :  top right;
       -moz-transform-origin  :  top right;
        -ms-transform-origin  :  top right;
         -o-transform-origin  :  top right;
            transform-origin  :  top right;
}

.tooltip:after {
    content  :  '';
    position  :  absolute;
    top  :  0;
    border-width  :  0.6em;
    border-style  :  solid;
}

.taxInstructionsButton .tooltip:after {
    top  : -0.1em;
    left  :  -1.8em;
    border-width  :  0.89em;
    border-color  :  transparent #000 transparent transparent;
    transition : border-color 200ms 500ms;
}

.saveMapButton .tooltip:after {
    top  :  0;
    left  :  100%;
    border-width  :  0.93em;

    border-color  :  transparent transparent transparent #fff;
}

.deleteMapButton .tooltip:after {
    top  :  0;
    left  :  100%;
    border-width  :  0.78em;

    border-color  :  transparent transparent transparent #a32d00;
}

.taxInstructionsButton.hasTooltip:hover .tooltip {
    // transform  :  rotate(-9deg);
    box-shadow : inset -300px 3px 3px black, inset 0 -3px 3px black;
}

.taxInstructionsButton.hasTooltip:hover .tooltip:after {
    border-color  :  transparent #fff transparent transparent;
}

.saveMapButton.hasTooltip:hover .tooltip {
    opacity  :  1;
    background-color  :  #000;
    transform  :  rotate(-10deg);
}

.deleteMapButton.hasTooltip:hover .tooltip {
    opacity  :  1;
    transform  :  rotate(-10deg);
}