@charset "UTF-8";
*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -o-user-select: none;
  /* or unselectable="on" attribute */
  /*-webkit-touch-callout  :  none; */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.icon {
  /*display  :  inline;*/
  position: relative;
  width: 1rem;
  height: 1rem;
  fill: #ddd;
  stroke: #ddd;
  stroke-width: 0; }

.icon-printer {
  top: -0.15ch;
  width: 2em;
  height: 2em;
  fill: #ddd; }

.icon-download {
  top: 0.8ch;
  transform: scale(1.6); }

.icon-mag-glass {
  width: 2.5em;
  height: 2.5em;
  -webkit-filter: drop-shadow(0.15rem 0.15rem 0.15rem rgba(0, 0, 0, 0.2)) drop-shadow(-0.077rem -0.077rem 0.077rem rgba(0, 0, 0, 0.3));
  -ms-filter: drop-shadow(0.15rem 0.15rem 0.15rem rgba(0, 0, 0, 0.2)) drop-shadow(-0.077rem -0.077rem 0.077rem rgba(0, 0, 0, 0.3));
  filter: drop-shadow(0.15rem 0.15rem 0.15rem rgba(0, 0, 0, 0.2)) drop-shadow(-0.077rem -0.077rem 0.077rem rgba(0, 0, 0, 0.3));
  transform: translate(-1.3rem, 0.75rem);
  z-index: -0; }

.icon-female {
  top: -0.077rem;
  left: -0.077rem;
  transform: scale(1.3);
  fill: #43494d; }

.icon-camera {
  top: 0.077rem;
  fill: #43494d;
  transform: scale(1.3); }

.icon-paper-plane {
  -webkit-filter: drop-shadow(0.15rem 0.15rem 0.15rem rgba(0, 0, 0, 0.5));
  -ms-filter: drop-shadow(0.15rem 0.15rem 0.15rem rgba(0, 0, 0, 0.5));
  filter: drop-shadow(0.15rem 0.15rem 0.15rem rgba(0, 0, 0, 0.5));
  transform: rotate(10deg) translate(-0.2rem, -0.4rem);
  transition: translate 2s; }

.icon-delete {
  transform: scale(2, 1.8);
  -webkit-filter: none;
  -ms-filter: none;
  filter: none; }

#icon-delete-circle {
  fill: #606060;
  stroke: #ddd;
  stroke-width: 0.077rem; }

.genericButton {
  font-size: 1.2rem;
  font-weight: bold;
  font-variant: small-caps;
  color: #fff;
  text-align: center;
  letter-spacing: 0.15em;
  text-shadow: 0 0.077rem 0.077rem rgba(0, 0, 0, 0.5);
  border: 0.077rem solid #6a6a6a;
  border-bottom: 0.077rem solid #3d3c3c;
  border-radius: 0.3rem;
  background-color: #a65751;
  box-shadow: inset 0 0 0 transparent, 0.15rem 0.15rem 0.15rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  -webkit-transition: all 650ms;
  -moz-transition: all 650ms;
  -o-transition: all 650ms;
  transition: all 650ms; }

.genericButton:hover, .genericButton:focus {
  text-shadow: 0.077rem 0.077rem 0.077rem black;
  box-shadow: inset 20ch 0 0.38rem 1.15rem #333, 0.15rem 0.15rem 0.15rem rgba(0, 0, 0, 0.1); }

html {
  min-height: 100%;
  /*so 1em = 13px (browser default usually 16px)*/
  font-size: calc(100vw / 118.15);
  background-color: #53595d; }

body {
  position: relative;
  width: 100vw;
  min-height: 100%;
  font-family: Verdana, Georgia, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  text-shadow: 0 0.077rem rgba(0, 0, 0, 0.5);
  letter-spacing: 0.04em;
  background-color: #53595d;
  overflow-x: hidden;
  overflow-y: auto; }

body::after {
  content: " ";
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  border: 0.15rem solid #ba8d1e;
  border-top: none;
  pointer-events: none; }

a {
  color: inherit;
  text-decoration: none; }

a:link {
  border-bottom: solid 0.077rem white; }

#mainContent {
  position: relative;
  left: 10vw;
  margin: 15vh 0 0 0;
  transition: transform 750ms; }

.titleBanner {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: auto;
  padding: 0.4ch 20% 0.5ch 0;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  font-variant: small-caps;
  letter-spacing: 0.1em;
  text-shadow: 0.077rem 0.077rem rgba(0, 0, 0, 0.5);
  background-color: #ba8d1e;
  box-shadow: inset 0 0.5rem 1.15rem rgba(0, 0, 0, 0.2); }

.titleBanner_spacer {
  position: relative;
  top: -1rem;
  left: -0.3rem;
  margin: 0 0 0 0.5rem;
  letter-spacing: 0.1em;
  color: #ddd;
  font-size: 1.5rem;
  font-variant: normal;
  text-shadow: 0 0.077rem rgba(0, 0, 0, 0.6);
  border-bottom: 0.31rem double #ddd; }

.articles {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  position: relative;
  left: 0;
  width: 60ch;
  max-width: 60ch;
  overflow: visible; }

section {
  position: relative; }

article {
  border-radius: 0.23rem;
  transition: all 500ms; }

.panel {
  position: relative;
  padding: 0 1ch 0 4ch;
  pointer-events: auto;
  border: 0.077rem solid rgba(255, 255, 255, 0.15);
  border-radius: 0.23rem;
  background-color: #474c50;
  box-shadow: 0 0 0.15rem rgba(0, 0, 0, 0.7);
  -webkit-transition: opacity 2s;
  -moz-transition: opacity 2s;
  -o-transition: opacity 2s;
  transition: opacity 2s; }

.flyoutPanel {
  position: relative;
  top: 0;
  height: 4.2ch;
  margin: 0;
  padding: 1ch 0 0 0;
  font-size: 1rem;
  font-variant: small-caps;
  color: white;
  text-shadow: 0.077rem 0.077rem black;
  text-align: center;
  letter-spacing: 0.1em;
  border: 0.077rem solid rgba(255, 255, 255, 0.25);
  background-color: #383d3d; }

.topFlyoutPanel {
  margin: 0 0 2ch 0;
  top: 2ch;
  left: 2ch;
  width: calc(100% - 4ch);
  border-top: 0.077rem solid rgba(0, 0, 0, 0.25);
  border-radius: 0.38rem;
  box-shadow: inset 0 -0.077rem 0.077rem -0.077rem rgba(0, 0, 0, 0.2), inset 0 0 0.077rem rgba(0, 0, 0, 0.2); }

/*   -------------------   Footer   ----------------------------   */
footer {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  justify-content: space-around;
  margin: 2.5ch 0 1ch 0; }

footer a {
  padding: 0.077rem 0.23rem 0.15rem 0.38rem;
  text-decoration: none;
  border: solid 0.077rem transparent;
  border-bottom: solid 0.077rem #bbb; }

footer a:hover, footer a:focus {
  border: solid 0.077rem #bbb;
  transition: all 350ms; }

#mailLink {
  cursor: pointer; }

#mailLink:hover .icon-paper-plane {
  transform: translate(0.5rem, -1.5rem); }

#mapsCollection {
  position: fixed;
  top: 100vh;
  width: 100vw;
  height: calc(100vw / 4.5 - 1.8rem);
  background-color: #383d3d;
  box-shadow: 0 -0.6px 0.6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 10;
  transition: transform 1s; }

#mapsHeader {
  position: absolute;
  height: 3.2rem;
  width: 100%;
  border-top: 0.077rem solid #ba8d1e;
  border-bottom: 0.077rem solid #ba8d1e;
  background-color: #2c3030; }

#mapsCollection.namesOnlySeen {
  transform: translateY(-3.2rem); }

#mapsCollection.open {
  transform: translateY(-100%); }

.smallBird {
  display: inline-block;
  opacity: 0;
  position: relative;
  top: 1.8rem;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
  transition: all 750ms; }

[id^=thin] {
  height: calc(100vw / 4.5);
  width: auto; }

.smallBird .drawing {
  -webkit-filter: drop-shadow(-0.46rem 0 0.46rem rgba(0, 0, 0, 0.3)) drop-shadow(0.46rem 0 0.46rem rgba(0, 0, 0, 0.3));
  -ms-filter: drop-shadow(-0.46rem 0 0.46rem rgba(0, 0, 0, 0.3)) drop-shadow(0.46rem 0 0.46rem rgba(0, 0, 0, 0.3));
  filter: drop-shadow(-0.46rem 0 0.46rem rgba(0, 0, 0, 0.3)) drop-shadow(0.46rem 0 0.46rem rgba(0, 0, 0, 0.3)); }

.smallBirdText {
  position: absolute;
  top: -1.3rem;
  left: -40%;
  width: calc(100% + 40%);
  text-align: center;
  font-size: 0.75rem;
  line-height: 1rem; }

#deleteAllMapsButton {
  position: absolute;
  left: 0;
  top: 290%;
  height: auto;
  padding: 0.15rem 2ch 0.23rem 3ch;
  font-size: 1em;
  letter-spacing: 0.2em;
  cursor: pointer;
  background-color: transparent;
  border: 0.077rem solid white;
  border-left: none;
  box-shadow: -0.15rem 0.15rem 0.15rem rgba(0, 0, 0, 0.5);
  -webkit-transform-origin: 0 50%;
  -moz-transform-origin: 0 50%;
  -ms-transform-origin: 0 50%;
  -o-transform-origin: 0 50%;
  transform-origin: 0 50%;
  transition: all 450ms; }

#deleteAllMapsButton::after {
  content: '';
  position: absolute;
  top: -0.31rem;
  left: 103%;
  border-width: 1.2em;
  border-style: solid;
  border-color: transparent transparent transparent white;
  transition: all 350ms; }

#deleteAllMapsButton:hover::after {
  left: 105%;
  border-color: transparent transparent transparent #f88509; }

.birdName {
  position: absolute;
  left: -30%;
  height: auto;
  width: 130%;
  padding: 0;
  font-size: 0.95rem;
  text-align: center; }

#currentMap .birdName {
  top: -6%;
  line-height: 1.3rem; }

.birdName > span:last-Child {
  font-style: italic; }

#currentMap {
  opacity: 1;
  position: fixed;
  top: 22vh;
  left: 70vw;
  margin: 0 0 0 0.38rem;
  transform: translateY(0);
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
  transition: all 1.2s; }

#currentMap.fadeMap {
  opacity: 0; }

#SAMsvg {
  height: calc(100vw / 3.6);
  width: auto; }

#SAMsvg g, #SAMsvg p {
  transition: fill 1.2s; }

#currentMap.shiftUp {
  transform: scale(0.9) translateY(-8vh); }

#currentMap .deleteMapButton {
  display: none; }

#mapsCollection .saveMapButton {
  display: none;
  opacity: 0; }

.birdMapInstance {
  position: relative;
  top: 0.77rem;
  background-color: transparent; }

#currentBirdMap {
  background-color: transparent; }

.mapButtons {
  width: 2.31rem;
  height: 2.31rem;
  padding: 0.23rem 0 0 0;
  color: white;
  text-align: center;
  cursor: pointer;
  transition: all 500ms; }

.deleteMapButton {
  position: absolute;
  top: 3.2rem;
  left: -10%;
  height: auto;
  width: auto; }

.saveMapButton {
  display: none;
  position: absolute;
  top: 45%;
  left: -25%;
  background-color: transparent; }

.drawing {
  position: relative;
  text-shadow: none;
  -webkit-filter: drop-shadow(0 0 0.077rem rgba(255, 255, 255, 0.8)) drop-shadow(0 0 0.31rem rgba(0, 0, 0, 0.4));
  filter: drop-shadow(0 0 0.077rem rgba(255, 255, 255, 0.8)) drop-shadow(0 0 0.31rem rgba(0, 0, 0, 0.4)); }

.drawing.active {
  -webkit-filter: drop-shadow(0 0 0.23rem rgba(0, 0, 0, 0.8));
  filter: drop-shadow(0 0 0.23rem rgba(0, 0, 0, 0.8)); }

.colorKey {
  opacity: 0;
  position: absolute;
  top: 65%;
  left: 78%;
  transition: opacity 350ms; }

.colorKey ul {
  position: relative; }

.colorKey ul li {
  position: relative;
  margin-top: 0.8ch;
  padding: 0.077rem 0.5rem 0.15rem 1.5rem;
  font-size: 0.75rem;
  text-align: right;
  letter-spacing: 0.15em;
  text-shadow: rgba(0, 0, 0, 0.5) 0.077rem 0.077rem 0.077rem;
  list-style-type: none;
  background: linear-gradient(to right, #474c50 0%, #505050 100%); }

.colorKey ul li:nth-child(1) {
  /* extinct       */
  margin-bottom: 0;
  border-left: 1.3rem solid #000; }

.colorKey ul li:nth-child(2) {
  /* vagrant       */
  border-left: 1.3rem solid #54ca30; }

.colorKey ul li:nth-child(3) {
  /* endemic       */
  border-left: 1.3rem solid #d73027; }

.colorKey ul li:nth-child(4) {
  /* resident      */
  border-left: 1.3rem solid #fc8d59; }

.colorKey ul li:nth-child(5) {
  /* introduced  */
  border-left: 1.3rem solid #fee090; }

.colorKey ul li:nth-child(6) {
  /* nonbreeder    */
  position: relative;
  border-left: 1.3rem solid #579ac4; }

.colorKey ul li:nth-child(7) {
  /* hypothetical  */
  margin-top: 0.4rem;
  border-left: 1.3rem solid #f3f3f3; }

#checklistArticle {
  position: relative;
  width: 90%;
  margin: 0;
  order: 4;
  overflow: visible; }

#checklistArticle .topFlyoutPanel {
  position: relative;
  top: 0;
  left: 2.5%;
  min-width: calc(90% - 6rem);
  height: auto;
  padding: 0.8ch 0 1.5ch 10%;
  text-align: left;
  letter-spacing: 0;
  border-radius: 0.3rem; }

#checklistAuthorsPanel {
  position: relative;
  opacity: 0;
  height: auto;
  width: 100%;
  top: 0;
  left: 0;
  padding: 1ch 2ch 0 3ch;
  font-variant: small-caps;
  font-size: 0.8rem;
  text-align: center;
  text-shadow: none;
  line-height: 1.1rem;
  background-color: #fefefe;
  transition: opacity 550ms 400ms; }

#checklistAuthorsPanel.show {
  opacity: 1; }

#checklistOptions.panel {
  position: relative;
  left: 10%;
  width: 80%;
  margin: 1ch 0 6ch 0;
  padding: 1ch 0 1ch 3ch;
  font-size: 1rem;
  line-height: 2.4rem;
  letter-spacing: 0.15em;
  border-top-left-radius: 10%;
  border-bottom-right-radius: 25%; }

.checklistTitle {
  position: absolute;
  top: -130%;
  left: -19vw;
  font-size: 1.1rem;
  font-weight: bold;
  font-variant: small-caps;
  color: #d1d1d1;
  text-shadow: 0 0 0.177rem white;
  letter-spacing: 0.2em;
  transform: rotate(-86deg) scale(2.5);
  -webkit-transform-origin: top right;
  -moz-transform-origin: top right;
  -ms-transform-origin: top right;
  -o-transform-origin: top right;
  transform-origin: top right; }

#pdfButton, #csvButton {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  width: 16ch;
  padding: 0 1.3ch 0.5ch 1ch; }

#pdfButton {
  right: -30%;
  bottom: 45%; }

#csvButton {
  right: -30%;
  bottom: 15%; }

#numDays {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  left: -5.5ch;
  width: 150%;
  margin: 5rem 0 4.6rem 0; }

#days {
  position: relative;
  top: 0.62rem;
  padding: 0;
  height: 1.4rem;
  margin-right: 3ch;
  font-size: 1rem;
  letter-spacing: 0.1em;
  text-shadow: 0 0.077rem rgba(0, 0, 0, 0.3);
  border-bottom: 0.23rem solid #df6757;
  border-left: 2ch solid transparent; }

#numDays > a {
  position: relative;
  top: 0;
  width: 4ch;
  height: 4ch;
  margin-right: 3px;
  padding: 1ch 0 0 0;
  color: #454647;
  font-size: 1.1rem;
  text-align: center;
  text-decoration: none;
  text-shadow: 0.077rem 0.077rem 0.23rem rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #eee;
  box-shadow: 0.077rem 0.077rem 0.077rem rgba(0, 0, 0, 0.5), -0.077rem -0.077rem 0.077rem rgba(0, 0, 0, 0.3), inset 0 0 0.54rem white;
  transform: scale(1);
  cursor: pointer;
  -webkit-transition: transform 300ms;
  -moz-transition: transform 300ms;
  -o-transition: transform 300ms;
  transition: transform 300ms; }

#numDays > a:nth-of-type(2n) {
  color: #fff;
  border-radius: 50%;
  background-color: #333; }

#numDays > a:hover, #numDays > a:focus {
  color: #fff;
  background-color: #b1655f; }

#numDays > a.highlight {
  border-top-right-radius: 1%;
  transform: scale(1.5); }

/*  from "CSS Secrets" by Lea Verou  */
input[type='checkbox'] {
  position: absolute;
  clip: rect(0, 0, 0, 0); }

input + label::before {
  content: '\a0\a0';
  margin-right: 1em;
  padding: 0.6ch 0.7ch 0.6ch 0.7ch; }

input[type='checkbox'] + label::before {
  border-radius: 0.2em; }

input[type='checkbox']:checked + label::before {
  content: '\2713';
  margin-right: 0.7ch;
  padding: 0.6ch 1.5ch 0.6ch 0.7ch;
  font-weight: 900; }

input[type='checkbox']:checked + label {
  margin-left: -0.7ch;
  padding: 0.6ch 1.5ch 0.6ch 0.7ch;
  background-color: #a65751;
  border-radius: 0.38rem; }

input[type='checkbox']:hover + label:hover {
  margin-left: -0.7ch;
  padding: 0.6ch 1.5ch 0.6ch 0.7ch;
  background-color: #a65751;
  border-radius: 0.38rem;
  cursor: pointer;
  transition: all 350ms; }

input[type='checkbox']:disabled:hover + label:hover {
  margin-left: -0.7ch;
  padding: 0.6ch 0.7ch 0.6ch 0.7ch;
  border: none;
  border-radius: 0.38rem;
  background-color: inherit;
  cursor: default; }

input[type='checkbox']:disabled + label::before {
  color: rgba(255, 255, 255, 0.4);
  border: none;
  background-color: none; }

input[type='checkbox']:disabled + label {
  color: rgba(255, 255, 255, 0.4);
  background-color: none; }

.tableWrapper {
  position: relative;
  width: 120%;
  margin: -2rem  0 5.5rem 0;
  padding: 1.825rem 1.825rem 0.73rem 1.825rem;
  text-shadow: none;
  background-color: #fefefe;
  color: #43494d;
  border-radius: 0.23rem;
  box-shadow: 0.073rem 0.073rem #666, 0.23rem 0.23rem #fefefe, 0.3rem 0.3rem #666, 0.46rem 0.46rem #fefefe, 0.41rem 0.41rem #666;
  z-index: 1; }

#sampleTable {
  position: relative;
  left: 0.15rem;
  width: 100%;
  min-width: 37rem;
  margin: 0 auto 4ch auto;
  font-size: 0.8rem;
  font-weight: bold;
  text-align: center;
  empty-cells: show;
  border-collapse: collapse;
  border: none; }

#sampleTable td {
  position: relative;
  height: 2.31rem;
  padding: 0.15rem 0.15rem 0.15rem 0.15rem;
  border: solid 0.077rem #000;
  transition: all 250ms; }

#sampleTable thead {
  display: table-header-group;
  height: 2.1rem;
  font-size: 0.6rem;
  border: solid 0.077rem #000; }

#sampleTable tbody {
  display: table-row-group; }

#sampleTable .cLfc, #sampleTable .cLfs {
  opacity: 1;
  padding-top: 0.77rem;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-align: left;
  border-right: hidden;
  border-left: hidden;
  transition: all 250ms; }

#sampleTable .cLfs {
  text-align: left; }

#sampleTable .cLc {
  padding: 0.077rem 0 0.23rem 0.77rem;
  border-right: hidden; }

#sampleTable .cLc, #sampleTable .cLs {
  opacity: 1;
  transition: all 250ms;
  text-align: left; }

#sampleTable .cLc, #sampleTable .cLFc {
  width: 15.38rem; }

#sampleTable .cLs, #sampleTable .cLFs {
  width: auto; }

#sampleTable .cLs {
  padding: 0.15rem 0 0.15rem 0;
  font-style: italic; }

#sampleTable .fre {
  border-right: hidden; }

#sampleTable .cds {
  border-right: 0.23rem double #000; }

#sampleTable .rds {
  border-bottom: 0.23rem double #000; }

/*  there is no tfoot in #sampleTable  */
/*#sampleTable tfoot tr:first-child td  {
 	border-right   :  hidden;
 	border-left    :  hidden;
 	height         :  20;
 }
 #sampleTable tfoot tr:last-child td   {  border : solid 0.077rem #000;  height : 20; }*/
#sampleTable th {
  height: 1.54rem;
  padding: 0 0.15rem;
  font-weight: bold;
  border: solid 0.077rem #000;
  background-color: transparent;
  transition: all 250ms; }

#sampleTable th:not(:first-child) {
  background-color: transparent; }

#sampleTable td.familyHidden {
  border: solid 0.077rem transparent; }

#sampleTable td.familyHidden.show {
  border-bottom: solid 0.077rem #000; }

#sampleTable td.leftCheckBox {
  width: 0;
  border: solid 0.077rem #000;
  border-top: transparent;
  border-bottom: transparent;
  border-left: transparent;
  transition: width 350ms; }

#sampleTable td.leftCheckBox.show {
  width: 2.31rem;
  border: solid 0.077rem #000; }

.centerText {
  text-align: center; }

#sampleTable td.double-separator {
  border-right: 0.23rem double #000; }

#sampleTable.noScientificNames .cLfc {
  letter-spacing: 0.15em; }

#sampleTable.noScientificNames .cLfs {
  opacity: 0; }

#sampleTable.noScientificNames .cLc {
  letter-spacing: 0.1em; }

#sampleTable.noScientificNames .cLs {
  opacity: 0; }

#sampleTable.noItalics .cLs {
  font-style: normal; }

.showLineNumbers {
  position: relative; }

.leftCheckBox:not(.show) + .showLineNumbers::before {
  content: '5';
  position: absolute;
  top: 0.54rem;
  left: -1.6rem;
  width: auto;
  height: auto;
  padding: 0.15rem 0.3rem 0.23rem 0.3rem;
  font-size: 0.6rem;
  text-shadow: none;
  background-color: #fefefe;
  transition: left 500ms; }

.leftCheckBox.show + .showLineNumbers::before {
  content: '5';
  position: absolute;
  top: 0.38rem;
  left: -2.7rem;
  width: auto;
  height: auto;
  padding: 0.15rem 0.3rem 0.23rem 0.3rem;
  font-size: 0.6rem;
  text-shadow: none;
  background-color: #fefefe; }

.showEndemics {
  position: relative; }

.leftCheckBox:not(.show) + .endemical.showEndemics::before {
  content: 'E';
  position: absolute;
  top: 0.46rem;
  left: -1.6rem;
  width: auto;
  height: auto;
  padding: 0.15rem 0.3rem 0.23rem 0.3rem;
  font-size: 0.6rem;
  text-shadow: none;
  background-color: #fefefe;
  transition: left 500ms; }

.leftCheckBox.show + .endemical.showEndemics::before {
  content: 'E';
  position: absolute;
  top: 0.46rem;
  left: -2.6rem;
  width: auto;
  height: auto;
  padding: 0.15rem 0.3rem 0.23rem 0.3rem;
  font-size: 0.6rem;
  text-shadow: none;
  background-color: #fefefe; }

.numDays0 .cLs {
  border-right: 0.077rem solid #000; }

.numDays0 th {
  width: 0;
  border: 0.077rem solid transparent; }

.numDays1 th {
  width: 4.62rem; }

.numDays2 th {
  width: 4.15rem; }

.numDays3 th {
  width: 3.85rem; }

.numDays4 th {
  width: 3.38rem; }

.numDays5 th {
  width: 3.08rem; }

.numDays6 th {
  width: 2.77rem; }

.numDays7 th {
  width: 2.62rem; }

.numDays8 th {
  width: 2.46rem; }

.numDays9 th {
  width: 2.31rem; }

.numDays10 th {
  width: 2.15rem; }

.numDays11 th {
  width: 2rem; }

.numDays12 th {
  width: 1.85rem; }

@keyframes days {
  0% {
    width: 0; }
  100% {
    width: inherit; } }

.numDays11 th:nth-child(n+13) {
  display: none; }

.numDays10 th:nth-child(n+12) {
  display: none; }

.numDays9 th:nth-child(n+11) {
  display: none; }

.numDays8 th:nth-child(n+10) {
  display: none; }

.numDays7 th:nth-child(n+9) {
  display: none; }

.numDays6 th:nth-child(n+8) {
  display: none; }

.numDays5 th:nth-child(n+7) {
  display: none; }

.numDays4 th:nth-child(n+6) {
  display: none; }

.numDays3 th:nth-child(n+5) {
  display: none; }

.numDays2 th:nth-child(n+4) {
  display: none; }

.numDays1 th:nth-child(n+3) {
  display: none; }

.numDays0 th {
  display: none;
  width: 0;
  border: 0.077rem solid transparent; }

.numDays11 td:nth-child(n+15) {
  display: none; }

.numDays10 td:nth-child(n+14) {
  display: none; }

.numDays9 td:nth-child(n+13) {
  display: none; }

.numDays8 td:nth-child(n+12) {
  display: none; }

.numDays7 td:nth-child(n+11) {
  display: none; }

.numDays6 td:nth-child(n+10) {
  display: none; }

.numDays5 td:nth-child(n+9) {
  display: none; }

.numDays4 td:nth-child(n+8) {
  display: none; }

.numDays3 td:nth-child(n+7) {
  display: none; }

.numDays2 td:nth-child(n+6) {
  display: none; }

.numDays1 td:nth-child(n+5) {
  display: none; }

.numDays0 td:nth-child(n+4) {
  display: none; }

#sampleTable th:first-child {
  border: solid 0.077rem transparent;
  border-right: solid 0.077rem #000; }

.numDays0 tr.topBorderDisappear {
  border-top: hidden; }

.md-modal {
  position: fixed;
  top: 0;
  left: 100%;
  z-index: 200;
  transition: transform 1000ms 250ms; }

.menu-show {
  transform: translateX(-21vw); }

.md-overlay {
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  z-index: 10;
  border: none;
  background-color: #292828;
  transition: opacity 1000ms 700ms; }

.md-overlay.show {
  opacity: 0.95;
  pointer-events: all;
  transition: opacity 500ms; }

.md-overlay.show .overlayInfo {
  opacity: 1;
  transition: all 750ms 500ms; }

.titleStrip {
  position: absolute;
  left: 1vw;
  top: 100vh;
  height: 11.2vh;
  width: 101vh;
  text-align: center;
  transform-origin: top left;
  transform: rotate(-90deg);
  font-size: 8.8vh;
  letter-spacing: 0.5vh;
  color: #3b3f42;
  text-shadow: -0.077rem 0.077rem rgba(186, 186, 186, 0.4), 0.077rem -0.077rem 0.077rem rgba(0, 0, 0, 0.4);
  background-color: #ba8d1e;
  box-shadow: inset 0 0 0.15rem #faf9f9, 0 0 0.15rem rgba(0, 0, 0, 0.5); }

.overlayInfo {
  opacity: 0;
  position: relative;
  display: flex;
  align-items: center;
  left: calc((100vw - (11.2vh + 1vw + 21vw)) / 2 - 45vw);
  width: 20vw;
  height: 10vh;
  min-width: 31ch;
  min-height: 15ch;
  padding: 1.54rem;
  pointer-events: none;
  font-size: 1.2em;
  font-variant: small-caps;
  line-height: 1.6em;
  text-align: center;
  border-top: 0.077rem solid rgba(255, 255, 255, 0.5);
  border-bottom: 0.077rem solid rgba(255, 255, 255, 0.5);
  border-radius: 0.23rem;
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.3);
  transform: scale(0.95);
  transition: all 500ms; }

.underline {
  border-bottom: 0.15rem double white; }

#countryButton {
  position: absolute;
  top: 1.3rem;
  right: 19vw;
  width: 18vw;
  height: auto;
  padding: 0.7ch 2ch 0.9ch 0;
  border: 0.077rem solid white;
  border-radius: 0.2rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background: linear-gradient(45deg, rgba(255, 255, 255, 0.1) 0%, rgba(20, 20, 20, 0) 100%);
  box-shadow: 0.15rem 0.15rem 0.23rem rgba(0, 0, 0, 0.1);
  transition: background 400ms; }

#countryButton:after {
  content: '';
  position: absolute;
  top: -0.27rem;
  left: 101%;
  border-style: solid;
  border-width: 1.7rem;
  border-color: transparent transparent transparent white;
  transition: all 200ms 500ms; }

#countryButton:hover, #countryButton:focus {
  background: linear-gradient(45deg, rgba(20, 20, 20, 0.2) 0%, rgba(255, 255, 255, 0.15) 100%); }

.country-menu {
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding: 0.5rem 0;
  justify-content: space-around;
  height: 100vh;
  font-size: 1rem;
  border-left: 0.077rem solid rgba(0, 0, 0, 0.2);
  border-right: 0.077rem solid rgba(0, 0, 0, 0.2);
  background-color: #706540;
  transition: all 2000ms; }

.countryItem {
  position: relative;
  width: 16vw;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  align-items: center;
  letter-spacing: 0.1rem;
  line-height: 1rem; }

.countryItem a {
  position: relative;
  width: calc(100% + 0.077rem);
  margin-right: -3rem;
  margin-bottom: 0.077rem;
  padding: 0.9rem 0 0.9rem 1.6rem;
  text-decoration: none;
  text-shadow: 0 0.077rem black;
  transition: all 450ms ease-out;
  cursor: pointer; }

.country-menu a:hover, .country-menu a:focus {
  background-color: #3e3e3e;
  box-shadow: inset 0 0 0.23rem black; }

.country-menu a.highlight {
  width: 16.5vw;
  background-color: #3e3e3e;
  box-shadow: 0 0.15rem 0.15rem rgba(0, 0, 0, 0.3);
  transition: all 450ms ease-out; }

.country-menu a.highlight:after {
  content: '';
  position: absolute;
  top: -0.077rem;
  left: calc(100% - 2.1rem);
  border-style: solid;
  border-width: 1.5rem;
  border-color: transparent #998c60 transparent transparent;
  transition: all 400ms; }

.country-menu a.highlight:hover {
  padding-left: 2.2rem; }

.country-menu a.highlight:hover:after {
  border-color: transparent white transparent transparent; }

.flag {
  position: absolute;
  height: 2rem;
  width: 2rem;
  left: calc(100% - 3rem);
  border-radius: 50%;
  background-position: center;
  background-origin: padding-box;
  background-color: #2f3235; }

.country-menu img {
  height: 2rem;
  width: 2rem;
  background-color: tranparent; }

#taxonomyArticle {
  position: relative;
  border: none;
  box-shadow: none;
  order: 1;
  -webkit-transition: all 850ms ease-in-out;
  -moz-transition: all 850ms ease-in-out;
  -o-transition: all 850ms ease-in-out;
  transition: all 850ms ease-in-out; }

.searchWord {
  position: relative;
  left: -5.4rem;
  width: calc(100% + 10ch);
  height: 23ch;
  margin-bottom: -12ch;
  padding: 3ch 4ch 0 5ch;
  z-index: 0;
  font-size: 1.06rem;
  line-height: 1.8rem;
  text-align: center;
  color: white;
  background-color: #383d3d;
  border-top-left-radius: 3.85rem;
  border-bottom-left-radius: 6.9rem;
  border-bottom-right-radius: 0.77rem;
  border-top-right-radius: 0.77rem;
  border: 0.077rem solid rgba(255, 255, 255, 0.1);
  border-top: 0.077rem solid transparent;
  box-shadow: inset 0 -0.077rem 0.077rem -0.077rem rgba(0, 0, 0, 0.4), inset 0 0 0.077rem rgba(0, 0, 0, 0.4); }

.taxArticleMain {
  padding: 1.15rem 0 0 0;
  line-height: 1.5rem; }

#taxonomyArticle a.linkHighlight {
  padding: 0 0.23rem 0.077rem 0.31rem;
  border-radius: 0.15rem;
  border: solid 0.077rem transparent;
  border-bottom: solid 0.077rem white;
  box-shadow: 0 0.077rem rgba(0, 0, 0, 0.5);
  transition: border 850ms; }

#taxonomyArticle a.linkHighlight:hover {
  border: solid 0.077rem white; }

/*  ------------------------------   taxonomy panel   ------------------------------------------  */
.slideUpWrapper {
  position: relative;
  overflow-y: hidden;
  max-height: 27rem;
  border-top: none;
  border-bottom: none;
  transition: opacity  450ms, max-height 600ms 250ms; }

.slideUpWrapper.panel {
  padding: 0 2.5ch 0 2.5ch; }

.slideUpWrapper.closeInstructions {
  max-height: 0;
  opacity: 0;
  transition: max-height 450ms, opacity 600ms 250ms; }

.slideUpWrapper.closeInstructions + #searchForm {
  background-color: transparent;
  transition: background 450ms; }

.slideUpWrapper.closeInstructions + #searchForm input {
  background-color: #53595d;
  transition: background 350ms 300ms; }

.taxInstructionsButton {
  position: absolute;
  top: -2.6rem;
  right: -4rem;
  width: 3rem;
  height: 3rem;
  padding: 0.23rem 0 0 0;
  z-index: 0;
  font-size: 1.6rem;
  font-weight: bold;
  color: white;
  text-align: center;
  border: 0.15rem solid rgba(255, 217, 0, 0.6);
  border-radius: 50%;
  background-color: #53595d;
  box-shadow: inset 0 0 0 0.15rem #53595d, 0 0 0 0.62rem #53595d;
  cursor: pointer;
  transform: translateX(-42ch);
  -webkit-transition: transform  ease-in-out 1000ms;
  -moz-transition: transform  ease-in-out 1000ms;
  -o-transition: transform  ease-in-out 1000ms;
  transition: transform  ease-in-out 1000ms; }

.taxInstructionsButton:hover {
  background-color: black; }

.taxInstructionsButton.instructionsClosed .tooltip {
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.31rem;
  border: 0.15rem solid rgba(255, 217, 0, 0.6);
  background-color: #474c50;
  transform: scaleX(0.7); }

#searchForm {
  position: relative;
  padding: 1ch 0 2ch 0;
  transform-origin: top right;
  -webkit-transition: all 850ms ease-in-out;
  -moz-transition: all 850ms ease-in-out;
  -o-transition: all 850ms ease-in-out;
  transition: all 850ms ease-in-out; }

#searchForm:focus-within {
  transform: scaleX(1.1);
  background-color: #2f3235; }

.searchForm_contents {
  position: relative;
  width: 100%;
  height: auto;
  margin: 0;
  pointer-events: auto;
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s; }

#searchForm span.searchGroup {
  position: relative;
  margin: 1.92rem 0 2.31rem 0;
  left: 25%;
  opacity: 1; }

#searchForm span.searchGroup.grayed {
  opacity: 0.3;
  pointer-events: none; }

#searchInput {
  height: auto;
  margin: 0;
  padding: 0.23rem 0  0.31rem 0;
  font-size: 1rem;
  color: white;
  font-weight: bold;
  letter-spacing: 0.13em;
  text-align: center;
  text-shadow: 0.077rem 0.077rem 0.15rem rgba(0, 0, 0, 0.3);
  border: none;
  background-color: #333;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text; }

#searchInput:focus {
  outline: none; }

#searchInput:focus + .inpuInfo {
  display: block; }

#searchInput::-moz-placeholder {
  color: white; }

#searchInput::-ms-input-placeholder {
  color: white; }

#searchInput::-webkit-input-placeholder {
  color: white; }

#searchInput::placeholder {
  color: white; }

#searchSpecials {
  position: absolute;
  top: -8.2ch;
  left: 96%;
  width: 15.38rem;
  padding: 2.31rem 3.08rem 2.69rem 2.08rem;
  font-size: 0.82rem;
  text-shadow: 0.077rem 0.077rem 0.077rem rgba(0, 0, 0, 0.5);
  pointer-events: auto;
  border-radius: 50%;
  box-shadow: inset -0.77rem 0 7.7rem #53595d;
  transition: all 500ms 1300ms; }

#searchSpecials.grayed {
  opacity: 0.5;
  pointer-events: none; }

.searchSpecialWrapper {
  padding: 0.5ch 0;
  text-align: center;
  transition: all 1000ms; }

.searchSpecialWrapper a {
  display: inline-block;
  width: 14ch;
  padding: 0.1ch 0 0.5ch 0; }

.searchSpecialWrapper a {
  border: 0.077rem solid rgba(255, 255, 255, 0.2);
  border-radius: 0.15rem;
  background-color: #a65751;
  box-shadow: 0 0 0.15rem rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: all 350ms; }

.searchSpecialWrapper:hover a {
  border: 0.077rem solid #666;
  background-color: #222;
  box-shadow: 0 0 0.15rem black; }

#searchSpecials.SAM .searchSpecialWrapper {
  padding: 1ch 0 1ch 0; }

#searchSpecials div.notAvailable {
  display: none; }

#searchSpecials.SAM {
  justify-content: space-around;
  top: -4.3ch;
  left: 96%; }

#searchTerm span {
  color: #96d4fd; }

.highlightSpecial {
  border-bottom: 0.077rem solid white; }

/*  -----------------------   searchResults  panel  ----------------------  */
.results-panel {
  opacity: 0;
  position: relative;
  height: 0;
  width: calc(100% + 10vw);
  left: -10vw;
  margin: 8ch 0 0 0;
  padding: 0;
  order: 2;
  z-index: 0;
  border: none;
  box-shadow: none;
  background-color: transparent;
  transform: translateY(-7.7rem);
  transition: all 1000ms; }

.results-panel.translateDown {
  opacity: 1;
  height: auto;
  transform: translateY(0); }

#fakeResultsBox {
  position: relative;
  top: 0;
  height: 100%;
  width: calc(100% - 10vw);
  left: 10vw;
  padding: 0 0 1ch 0;
  overflow-x: visible;
  border: 0.077rem solid rgba(255, 255, 255, 0.15);
  border-radius: 0.23rem;
  background-color: #474c50;
  box-shadow: 0 0 0.15rem rgba(0, 0, 0, 0.7); }

#closeResultsPanelButton, #closeOpenFamiliesButton {
  position: relative;
  text-align: center;
  border: 0.15rem solid rgba(255, 217, 0, 0.6);
  border-radius: 50%;
  background-color: #474c50;
  cursor: pointer;
  transition: all 300ms; }

#closeResultsPanelButton {
  left: 100%;
  width: 2.2rem;
  height: 2rem;
  padding: 0.15rem 0 0 0;
  font-size: 1.2rem;
  line-height: 1.2rem;
  box-shadow: 0 0 0 0.46rem #53595d, 0.077rem 0.077rem 0 0.4rem #53595d, 0.077rem -0.077rem 0 0.4rem #53595d, -0.077rem 0 0 0.4rem black, 0.077rem 0.077rem 0 0.5rem #53595d, 0.077rem -0.077rem 0 0.5rem #53595d, -0.077rem -0.077rem 0 0.5rem #53595d, -0.077rem 0 0 0.5rem rgba(255, 255, 255, 0.25); }

#closeResultsPanelButton::before {
  opacity: 0;
  position: absolute;
  content: "close";
  left: 120%;
  top: -50%;
  width: auto;
  font-size: 0.9rem;
  transition: all 200ms 500ms ease-in-out; }

#closeResultsPanelButton:hover::before {
  opacity: 1; }

#printerButton {
  position: absolute;
  top: calc(100% - 1.31rem);
  left: calc(100% - 1.31rem);
  width: 2.4rem;
  height: 2.4rem;
  cursor: pointer;
  border-radius: 50%;
  background-color: #474c50;
  border: 0.15rem solid rgba(255, 217, 0, 0.6);
  box-shadow: 0 0 0 0.3rem #53595d, 0 -0.06rem 0 0.3rem #53595d, -0.06rem 0 0 0.3rem #53595d, -0.06rem -0.06rem 0 0.3rem rgba(0, 0, 0, 0.5), 0.06rem -0.06rem 0 0.4rem #53595d, -0.06rem -0.06rem 0 0.4rem #53595d, -0.06rem -0.06rem 0 0.4rem rgba(255, 255, 255, 0.25); }

#printerButton::before {
  opacity: 0;
  position: absolute;
  content: "print";
  left: 120%;
  top: -50%;
  width: auto;
  font-size: 0.9rem;
  transition: all 200ms 500ms ease-in-out; }

#printerButton:hover::before {
  opacity: 1; }

#closeOpenFamiliesButton {
  left: calc(100% - 1.31rem);
  top: 2.54rem;
  width: 3rem;
  height: 3rem;
  padding: 0.15rem 0 0 0;
  font-size: 1.6rem;
  border: 0.15rem solid rgba(255, 217, 0, 0.6);
  box-shadow: 0 0 0 0.62rem #53595d, 0 -0.077rem 0 0.62rem #53595d, -0.077rem 0 0 0.62rem #53595d, -0.077rem -0.077rem 0 0.62rem rgba(0, 0, 0, 0.5), 0.077rem -0.077rem 0 0.69rem #53595d, -0.077rem -0.077rem 0 0.69rem #53595d, -0.077rem -0.077rem 0 0.69rem rgba(255, 255, 255, 0.25); }

#closeResultsPanelButton:hover, #closeOpenFamiliesButton:hover, #printerButton:hover {
  background-color: #222222; }

#closeOpenFamiliesButton::before {
  opacity: 0;
  position: absolute;
  content: "close open families";
  left: -8vw;
  top: 90%;
  width: 8vw;
  padding: 0.38rem;
  border-radius: 0.15rem;
  font-size: 0.9rem;
  background-color: #474c50;
  box-shadow: 0 0 0 0.077rem #737373;
  transition: all 200ms 500ms ease-in-out; }

#closeOpenFamiliesButton:hover::before {
  opacity: 1; }

#countrySearch {
  opacity: 1;
  position: relative;
  padding: 1ch 0 0 0;
  height: 4ch;
  margin: -0.77rem 0 1ch 0;
  left: 2ch;
  width: calc(100% - 4ch);
  font-variant: small-caps;
  color: white;
  text-align: center;
  letter-spacing: 0.1em;
  border: 0.077rem solid rgba(255, 255, 255, 0.25);
  border-top: 0.077rem solid rgba(0, 0, 0, 0.25);
  border-radius: 0.38rem;
  background-color: #383d3d;
  box-shadow: none; }

#searchResults {
  opacity: 0;
  position: relative;
  left: -10vw;
  width: calc(100% + 10vw + 1.1ch);
  height: auto;
  max-height: 28.5rem;
  padding: 0 0 0 10vw;
  font-size: 1rem;
  line-height: 1rem;
  border: none;
  box-shadow: none;
  -webkit-overflow-scrolling: touch;
  overflow: hidden;
  transition: all 350ms; }

#searchResults.fadeIn {
  opacity: 1;
  transition: all 2s; }

.results-panel.fadeIn {
  opacity: 1;
  transition: all 2s; }

#searchResults li {
  position: relative;
  padding: 0.077rem 0 0.12rem 1.23rem;
  width: calc(100% - 0.69rem);
  list-style-type: none;
  cursor: pointer;
  border-top: 0.077rem solid transparent;
  border-bottom: 0.077rem solid transparent; }

#searchResults li.bird {
  font-size: 0.9rem; }

#countrySearch.closed {
  opacity: 0;
  height: 0; }

#searchResults li:hover {
  color: white;
  border-top: 0.077rem solid #844540;
  border-bottom: 0.077rem solid #844540;
  background-color: #A65751; }

#searchResults li.bird:not(.active):hover::before {
  content: '\a0\a0';
  position: absolute;
  top: 0.1rem;
  left: -1.3rem;
  border-left: 0.54rem solid white; }

#searchResults li.bird.active:hover::before {
  content: '\a0\a0';
  position: absolute;
  border-left: 0.54rem solid white;
  top: -0.077rem;
  left: -10vw;
  height: calc(100% + 0.15rem);
  width: 10vw;
  border-right: 0 solid #A65751;
  background-color: #A65751;
  transition: border-right 650ms; }

#searchResults li.family:hover::before {
  position: absolute;
  top: 0.1rem;
  left: -2rem;
  content: '\a0\a0';
  border-left: 0.77rem solid white; }

#searchResults li:not(.family) span:first-child {
  padding: 0.23rem 0 0.23rem 1.2rem; }

#searchResults li.active {
  position: relative;
  background-color: #A65751; }

#searchResults li.active::before {
  position: absolute;
  content: '\a0\a0';
  top: -0.077rem;
  left: -10vw;
  height: calc(100% + 0.15rem);
  width: 10vw;
  border-right: 0 solid #A65751;
  background: -moz-linear-gradient(left, rgba(166, 87, 81, 0) 0%, #a65751 100%);
  background: -webkit-linear-gradient(left, rgba(166, 87, 81, 0) 0%, #a65751 100%);
  background: linear-gradient(to right, rgba(166, 87, 81, 0) 0%, #a65751 100%);
  transition: border-right 650ms; }

#searchResults li.active:hover::before {
  border-right: 10vw solid #A65751; }

#searchResults .family {
  margin: 0.38rem 0 0 0;
  padding: 0.077rem 0 0.15rem 1.2rem; }

#searchResults .familyOpen {
  margin: 0.38rem 0 0 0;
  padding: 0.077rem 0 0.15rem 1.2rem; }

#searchResults span:not(.fsc):last-child {
  position: absolute;
  left: calc(52.8% + 1.15rem); }

.fsc {
  position: absolute;
  left: 52.8%;
  font-weight: bold;
  font-style: normal; }

.fco {
  font-weight: bold; }

.endemic::before {
  content: 'e';
  position: relative;
  left: -0.53rem;
  font-size: 0.8rem; }

.extinct::before {
  content: 'x';
  position: relative;
  left: -0.53rem;
  font-size: 0.8rem; }

.hy::before {
  content: 'h';
  position: relative;
  left: -0.53rem;
  font-size: 0.8rem; }

.va::before {
  content: 'v';
  position: relative;
  left: -0.53rem;
  font-size: 0.8rem; }

#searchResults .endemic, #searchResults .extinct, #searchResults .hy, #searchResults .va {
  position: relative;
  left: -0.575rem; }

/*  -----------------------------   #taxTreeArticle  ---------------------  */
.tax-panel {
  position: relative;
  height: 0;
  width: calc(100% + 10vw);
  left: -10vw;
  margin: 1.5ch 0;
  padding: 2ch 0 0 0;
  order: 3;
  z-index: 0;
  opacity: 0;
  border: none;
  box-shadow: none;
  background-color: transparent;
  transform: translateY(-25vh);
  transition: all 750ms 1250ms; }

.tax-panel.translateDown {
  opacity: 1;
  height: auto;
  padding: 2ch 0 10ch 0;
  transform: translateY(0); }

#fakeTaxPageBox {
  position: relative;
  top: 0;
  height: 100%;
  width: calc(100% - 10vw);
  left: 10vw;
  padding: 0 0 1ch 0;
  margin: 1ch 0 0 0;
  border: 0.077rem solid rgba(255, 255, 255, 0.15);
  border-radius: 0.23rem;
  background-color: #474c50;
  box-shadow: 0 0 0.15rem rgba(0, 0, 0, 0.7);
  overflow-x: visible; }

/*  -----------------------------   #taxPage panel  ---------------------  */
#taxPage {
  position: relative;
  top: 0.77rem;
  left: -10vw;
  width: calc(100% + 10vw + 1ch);
  height: 100%;
  max-height: 75vh;
  padding: 0.5ch 0 0 10vw;
  margin: 0 0 1ch 0;
  font-size: 1rem;
  line-height: 1.3rem;
  /* necessary because 100% padding right would else break line at spaces and hyphens */
  white-space: nowrap;
  border: none;
  background-color: transparent;
  box-shadow: none; }

#taxPageButton {
  cursor: pointer;
  transition: all 350ms; }

#taxPageButton:hover {
  letter-spacing: 0.23rem;
  box-shadow: 0 0.15rem 0.31rem #444; }

#tree * {
  list-style-type: none; }

.birds {
  display: none;
  position: relative; }

#tree .fsc {
  position: absolute;
  left: 50%;
  font-weight: bold;
  font-style: normal; }

/*
	position : relative MUST be here for entry.offsetTop to work in taxonomy.js
	it is the offset distance to the nearest relatively-positioned parent
*/
.birds.open {
  display: block;
  animation: showIn 650ms ease-in forwards; }

@keyframes showIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

#tree .family {
  position: relative;
  width: 100%;
  cursor: pointer; }

#tree .familyOpen {
  position: relative;
  width: 100%;
  padding: 0 0 0.46rem 0;
  cursor: pointer; }

/*target : family common name only*/
#tree li.family > span:nth-child(1) {
  padding: 0.077rem 0 0.15rem 1.15rem; }

/*target : familyOpen family common and sci names for families that are open  */
#tree li.familyOpen > span:nth-child(1) {
  padding: 0.077rem 0 0.15rem 1.15rem; }

.fTitle {
  display: inline-block;
  width: calc(100% - 0.62rem);
  border-top: 0.077rem solid transparent;
  border-bottom: 0.077rem solid transparent;
  background-color: transparent; }

.family .fTitle:hover {
  border-top: 0.077rem solid #844540;
  border-bottom: 0.077rem solid #844540;
  background-color: #A65751; }

.familyOpen .fTitle:hover {
  background-color: #A65751;
  border-top: 0.077rem solid #844540;
  border-bottom: 0.077rem solid #844540; }

.family .fTitle.active {
  background-color: #A65751; }

#tree .familyOpen ul {
  width: calc(100% - 0.62rem);
  margin-top: -0.15rem;
  padding: 0;
  font-size: 0.9rem;
  line-height: 1rem; }

/* target : familyOpen bird common names only */
#tree .familyOpen ul li span:first-child {
  padding: 0.077rem 0 0 2rem; }

/*target : familyOpen bird sci names only*/
#tree .familyOpen .birds li span:last-child {
  position: absolute;
  left: 52.8%; }

#taxPage.samTax .hy:before, #taxPage.samTax .va:before {
  content: ''; }

#taxPage.samTax .hy, #taxPage.samTax .va {
  position: relative;
  left: 1.55rem; }

#searchResults.samTax .hy:before, #searchResults.samTax .va:before {
  content: ''; }

#searchResults.samTax .hy, #searchResults.samTax .va {
  position: relative;
  left: 0; }

#taxPage.samTax li.familyOpen span.hy {
  position: relative;
  left: 1.55rem; }

#taxPage.samTax li.familyOpen span.va {
  position: relative;
  left: 1.55rem; }

#taxPage .endemic, #taxPage .extinct, #taxPage .hy, #taxPage .va {
  position: relative;
  left: -0.7rem; }

#tree .fco, #tree .fsc {
  font-weight: bold; }

#tree .family:hover::before, #tree .familyOpen:hover::before {
  position: absolute;
  top: 0.15rem;
  left: -2.5vw;
  font-size: 1.3rem; }

#tree .familyOpen::before {
  content: '▼';
  position: absolute;
  left: -2.5vw;
  top: 0.15rem;
  font-size: 1.3rem; }

#tree .family:hover::before {
  content: '►';
  position: absolute;
  color: black; }

#tree .familyOpen:hover::before {
  content: '▼'; }

/*    below targets each individual bird */
#tree li.familyOpen:hover > ul > li:hover, #tree ul li:hover {
  padding: 0.15rem 0 0.15rem 0;
  background-color: #A65751;
  border-top: 0.077rem solid #844540;
  border-bottom: 0.077rem solid #844540;
  transition: background-color 450ms; }

#tree ul li:hover::before {
  content: '\a0\a0';
  position: absolute;
  top: 0.12rem;
  left: -1.3rem;
  border-left: 0.54rem solid white; }

#tree ul li {
  position: relative;
  padding: 0.15rem 0 0.15rem 0;
  border: none;
  border-top: 0.077rem solid transparent;
  border-bottom: 0.077rem solid transparent; }

/* added by toggleFamilyOpen, the species highlighted */
#tree ul li.active {
  position: relative;
  background-color: #A65751; }

#tree ul li.active::before {
  position: absolute;
  top: -0.077rem;
  left: -10vw;
  content: '';
  height: calc(100% + 0.15rem);
  width: 10vw;
  border-right: 0 solid #A65751;
  background: -moz-linear-gradient(left, rgba(166, 87, 81, 0) 0%, #a65751 100%);
  background: -webkit-linear-gradient(left, rgba(166, 87, 81, 0) 0%, #a65751 100%);
  background: linear-gradient(to right, rgba(166, 87, 81, 0) 0%, #a65751 100%);
  transition: border-right 650ms; }

#tree ul li.active:hover::before {
  border-right: 10vw solid #A65751; }

[data-simplebar] {
  position: relative;
  z-index: 0;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  /* Trigger native scrolling for mobile, if not supported, plugin is used. */ }

[data-simplebar="init"] {
  display: flex; }

.simplebar-scroll-content {
  position: relative;
  left: -10vw;
  padding-left: 10vw;
  padding-right: 12px;
  overflow-x: visible;
  overflow-y: scroll;
  min-width: 100%;
  width: calc(100% + 10vw + 1.08rem);
  /*min-height: 100%;*/
  /*background-color: rgb(84,85,80);*/
  /*background: red;*/
  /*border: none;*/
  box-sizing: content-box; }

.simplebar-content {
  /* added by me so scientific families would scroll */
  position: relative;
  left: -10vw;
  padding-left: 10vw;
  width: calc(100% + 10vw + 0.95rem);
  /*overflow-x: scroll;*/
  overflow-x: hidden;
  overflow-y: visible;
  box-sizing: border-box;
  /*height: auto;*/
  /*min-height: 100%;*/ }

.simplebar-track {
  z-index: 1;
  position: absolute;
  right: 0;
  /* background-color: red; */
  border: red;
  background-color: transparent;
  width: 0.85rem; }

.simplebar-scrollbar {
  position: absolute;
  right: 0;
  border-radius: 0.38rem;
  min-height: 4.62rem;
  width: 0.38rem;
  opacity: 0;
  transition: opacity 0.2s linear;
  background-color: #c8c8c8;
  background-clip: padding-box; }

.simplebar-track:hover .simplebar-scrollbar {
  /* When hovered, remove all transitions from drag handle */
  opacity: 0.5;
  transition: opacity 0 linear; }

.simplebar-track .simplebar-scrollbar.visible {
  opacity: 0.5; }

.simplebar-track.horizontal {
  display: none;
  visibility: hidden;
  opacity: 0;
  left: 0;
  width: auto;
  height: 0 0.85rem; }

.simplebar-track.vertical {
  top: 0.38rem;
  bottom: 0.77rem;
  cursor: pointer; }

.horizontal.simplebar-track .simplebar-scrollbar {
  display: none;
  right: auto;
  top: 0.15rem;
  height: 0.54rem;
  min-height: 0;
  min-width: 0.77rem;
  width: auto; }

.tooltip {
  opacity: 0;
  font-size: 0.8rem;
  color: #fff;
  line-height: 1.2rem;
  text-align: center;
  z-index: 100;
  border-radius: 0;
  box-shadow: 0.15rem 0.15rem 0.15rem rgba(0, 0, 0, 0.2);
  transition: all 500ms ease; }

.taxInstructionsButton .tooltip {
  opacity: 1;
  position: absolute;
  top: 0;
  left: 5rem;
  padding: 0 0 0.15rem 0;
  width: 14rem;
  letter-spacing: 0.2rem;
  background-color: transparent;
  border: 0.12rem solid rgba(255, 217, 0, 0.6);
  border-right: 0.2rem solid rgba(255, 217, 0, 0.6);
  box-shadow: inset 0 0 0 transparent;
  transform: rotate(-4deg);
  -webkit-transform-origin: top left;
  -moz-transform-origin: top left;
  -ms-transform-origin: top left;
  -o-transform-origin: top left;
  transform-origin: top left;
  transition: transform 450ms, box-shadow 450ms, border 350ms 500ms; }

.deleteMapButton .tooltip {
  position: absolute;
  top: 7rem;
  left: -1.3rem;
  width: 5.5em;
  padding: 0;
  font-size: 0.6rem;
  letter-spacing: 0.15em;
  background-color: transparent;
  border: 1px solid #f88509;
  transform-origin: top right;
  transform: rotate(-15deg); }

.saveMapButton .tooltip {
  position: absolute;
  width: 5em;
  padding: 0 0 0.15rem 0;
  text-align: center;
  opacity: 1;
  border: 0.077rem solid rgba(255, 255, 255, 0.5);
  background-color: #474c50;
  transform: rotate(-20deg);
  -webkit-transform-origin: middle right;
  -moz-transform-origin: middle right;
  -ms-transform-origin: middle right;
  -o-transform-origin: middle right;
  transform-origin: middle right; }

.tooltip:after {
  content: '';
  position: absolute;
  top: 0;
  border-width: 0.6em;
  border-style: solid; }

.taxInstructionsButton .tooltip:after {
  top: -0.15em;
  left: -2.25em;
  border-width: 0.98em;
  border-color: transparent rgba(255, 217, 0, 0.6) transparent transparent;
  transition: border-color 200ms 500ms; }

.taxInstructionsButton.instructionsClosed .tooltip:after {
  top: -0.15em;
  left: -2.04em;
  border-width: 0.8em; }

.saveMapButton .tooltip:after {
  top: -0.038rem;
  left: 100%;
  border-width: 0.9em;
  border-color: transparent transparent transparent #fff;
  transition: all 350ms; }

.deleteMapButton .tooltip:after {
  top: -0.18rem;
  left: 105%;
  border-width: 1.3em;
  border-color: transparent transparent transparent #f88509; }

.taxInstructionsButton.hasTooltip:hover .tooltip {
  color: black;
  text-shadow: none;
  box-shadow: inset -18.5rem 0 0.15rem rgba(255, 217, 0, 0.6), 0 0 1.15rem rgba(255, 217, 0, 0.6);
  will-change: transform; }

.saveMapButton.hasTooltip:hover .tooltip {
  background-color: #333; }

.saveMapButton.hasTooltip:hover .tooltip:after {
  top: -0.17rem;
  left: 104%;
  border-width: 1.1em; }

.deleteMapButton.hasTooltip.hover .tooltip {
  opacity: 1; }

@media screen and (max-width: 1530px) {
  html {
    font-size: calc(100vw / 100); }
  .checklistTitle {
    left: -21vw; } }
