*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -o-user-select: none;
  /* or unselectable="on" attribute */
  /*-webkit-touch-callout  :  none; */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.icon {
  /*display  :  inline;*/
  position: relative;
  width: 1rem;
  height: 1rem;
  fill: #ddd;
  -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3)) drop-shadow(-1px -1px 1px rgba(0, 0, 0, 0.3));
  -ms-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3)) drop-shadow(-1px -1px 1px rgba(0, 0, 0, 0.3));
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3)) drop-shadow(-1px -1px 1px rgba(0, 0, 0, 0.3));
  stroke: #ddd;
  stroke-width: 0; }

.icon-pen {
  width: 2rem;
  height: 2rem;
  opacity: 1;
  transform: translate(-15px, -5px);
  transition: all 350ms; }

@supports (all: initial) {
  .icon-pen {
    transform: translate(15px, -30px); } }

.icon-pin {
  top: -22px;
  left: 8px;
  width: 3em;
  height: 3em;
  fill: #d0d0d3;
  stroke: #333;
  stroke-width: 0.25px; }

.icon-female {
  top: -1px;
  left: -1px;
  transform: scale(1.2);
  fill: ddd;
  -webkit-filter: drop-shadow(2px 2px 2px 0.3) drop-shadow(-1px -1px 1px 0.3);
  -ms-filter: drop-shadow(2px 2px 2px 0.3) drop-shadow(-1px -1px 1px 0.3);
  filter: drop-shadow(2px 2px 2px 0.3) drop-shadow(-1px -1px 1px 0.3); }

.icon-camera {
  top: 1px; }

.icon-list {
  top: 2px;
  left: 2px;
  transform: scale(1.5); }

.icon-file-excel {
  top: 1px;
  height: 0.92em;
  left: 7px; }

.icon-paper-plane-o {
  top: 1px; }

.icon-delete {
  transform: scale(2, 1.8);
  -webkit-filter: none;
  -ms-filter: none;
  filter: none; }

#icon-delete-circle {
  fill: #606060;
  stroke: #ddd;
  stroke-width: 1px; }

.genericButton {
  font-size: 1.2rem;
  font-weight: bold;
  font-variant: small-caps;
  color: #fff;
  text-align: center;
  letter-spacing: 0.15em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  border: 1px solid transparent;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: #a65751;
  box-shadow: inset 0 0 0 transparent, 2px 2px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  -webkit-transition: all 650ms;
  -moz-transition: all 650ms;
  -o-transition: all 650ms;
  transition: all 650ms; }

.genericButton:hover, .genericButton:focus {
  text-shadow: 1px 1px 1px black;
  box-shadow: inset 20ch 0 5px 15px #333, 2px 2px 2px rgba(0, 0, 0, 0.2); }

.genericButton.highlight {
  border: 1px solid #888;
  transition: all 750ms; }

.genericButton.highlight:hover, .genericButton.highlight:focus {
  /*border  :  1px solid rgba(255,255,255,0.8);*/
  box-shadow: inset -20ch 0 5px 15px #252525, 2px 2px 2px rgba(0, 0, 0, 0.2); }

html {
  width: 100%;
  height: 100%;
  /*so 1em = 10px (browser default usually 16px)*/
  font-size: 16px;
  background-color: #5c5c62; }

body {
  width: 100vw;
  min-height: 100vh;
  font-family: Verdana, Georgia, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  text-shadow: 0 1px rgba(0, 0, 0, 0.5);
  letter-spacing: 0.04em;
  background-color: #5c5c62;
  overflow-x: hidden; }

body::after {
  content: " ";
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  border: 1px solid #954e49;
  pointer-events: none; }

a {
  color: inherit;
  text-decoration: none; }

a:link {
  border-bottom: solid 1px #dddde0; }

#mainContent {
  position: relative;
  top: 15vh;
  left: 10vw;
  transition: transform 750ms; }

#mainContent.modal-shrink {
  transform: translateX(-100px); }

.titleBanner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: auto;
  padding: 1ch 7% 0.8ch 0;
  text-align: center;
  font-size: 2.8rem;
  font-weight: bold;
  font-variant: small-caps;
  color: #d5d5d5;
  letter-spacing: 0.1em;
  background-color: #5c5c62;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5); }

.titleBanner_spacer {
  position: relative;
  top: -13px;
  left: -3px;
  margin: 0 0 0 5px;
  letter-spacing: 0.1em;
  color: #df6757;
  font-size: 1.5rem;
  font-variant: normal;
  text-shadow: 0 1px rgba(0, 0, 0, 0.8);
  border-bottom: 4px double #df6757; }

.articles {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  position: relative;
  left: 0;
  width: 60ch;
  max-width: 60ch;
  margin-top: 4.5ch;
  overflow: visible; }

section {
  position: relative; }

article {
  border-radius: 3px;
  transition: all 500ms; }

.panel {
  position: relative;
  padding: 0  1ch 0 4ch;
  pointer-events: auto;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 3px;
  background-color: #505055;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
  -webkit-transition: opacity 2s;
  -moz-transition: opacity 2s;
  -o-transition: opacity 2s;
  transition: opacity 2s; }

.flyoutPanel {
  position: relative;
  top: 0;
  height: 4.2ch;
  margin: 0;
  padding: 1ch 0 0 0;
  font-size: 1rem;
  font-variant: small-caps;
  color: #dddde0;
  text-shadow: 1px 1px black;
  text-align: center;
  letter-spacing: 0.1em;
  border: 1px solid rgba(255, 255, 255, 0.25);
  background-color: rgba(0, 0, 0, 0.5); }

.topFlyoutPanel {
  margin: 0 0 2ch 0;
  top: 2ch;
  left: 2ch;
  width: calc(100% - 4ch);
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  box-shadow: inset 0 -1px 1px -1px rgba(0, 0, 0, 0.2), inset 0 0 1px rgba(0, 0, 0, 0.2); }

#checklistArticle .topFlyoutPanel {
  position: absolute;
  top: -3.8ch;
  left: 8ch;
  min-width: calc(100% - 80px);
  height: 10ch;
  padding: 0.7ch 0 0 0;
  letter-spacing: 0;
  border-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px; }

.bottomFlyoutPanel {
  margin: 0 0 0 0;
  top: 0;
  left: 2ch;
  width: calc(100% - 4ch);
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  box-shadow: inset 0 1px 1px -1px rgba(0, 0, 0, 0.2), inset 0 0 1px rgba(0, 0, 0, 0.2); }

/*   -------------------   Footer   ----------------------------   */
footer {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  justify-content: space-around;
  margin: 2ch 0 1ch 0; }

footer a {
  padding: 1px 3px 2px 5px;
  text-decoration: none;
  border: solid 1px transparent;
  border-bottom: solid 1px #bbb; }

footer a:hover, footer a:focus {
  border: solid 1px #bbb;
  transition: all 350ms; }

#mapsCollection {
  position: fixed;
  top: 95vh;
  left: 0;
  width: 100vw;
  height: 355px;
  margin: 0;
  padding: 0;
  background-color: #222;
  box-shadow: 0 -3px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  z-index: 10;
  transform: scale(0.1);
  transition: transform 1.2s; }

#mapsHeader {
  position: absolute;
  top: 0;
  left: 0;
  height: 3.2rem;
  width: 100%;
  padding: 0;
  border-top: 1px solid #a65751;
  border-bottom: 1px solid #a65751;
  background-color: #151515; }

#mapsCollection.namesOnlySeen {
  top: 100vh;
  transform: translateY(-3.2rem) scale(1); }

#mapsCollection.open {
  transform: translateY(-355px); }

#deleteAllMapsButton {
  position: absolute;
  left: 0;
  top: 290%;
  height: auto;
  padding: 2px 2ch 3px 6ch;
  font-size: 0.8em;
  letter-spacing: 0.2em;
  cursor: pointer;
  background-color: #a32d00;
  box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.5);
  transform: scale(0.95);
  -webkit-transform-origin: 0 50%;
  -moz-transform-origin: 0 50%;
  -ms-transform-origin: 0 50%;
  -o-transform-origin: 0 50%;
  transform-origin: 0 50%;
  transition: transform 450ms; }

#deleteAllMapsButton::after {
  content: '';
  position: absolute;
  top: 0;
  left: 100%;
  border-width: 0.9em;
  border-style: solid;
  border-color: transparent transparent transparent #a32d00; }

#deleteAllMapsButton:hover {
  transform: scale(1, 1); }

.smallBird {
  display: inline-block;
  opacity: 0;
  position: relative;
  top: -70px;
  transform: scale(0.75);
  -webkit-transform-origin: 0 50%;
  -moz-transform-origin: 0 50%;
  -ms-transform-origin: 0 50%;
  -o-transform-origin: 0 50%;
  transform-origin: 0 50%;
  transition: all 500ms; }

.offscreen {
  position: relative;
  left: 110%;
  transition: all 1s; }

.smallBird .drawing {
  -webkit-filter: drop-shadow(-6px 0 6px rgba(0, 0, 0, 0.3)) drop-shadow(6px 0 6px rgba(0, 0, 0, 0.3));
  -ms-filter: drop-shadow(-6px 0 6px rgba(0, 0, 0, 0.3)) drop-shadow(6px 0 6px rgba(0, 0, 0, 0.3));
  filter: drop-shadow(-6px 0 6px rgba(0, 0, 0, 0.3)) drop-shadow(6px 0 6px rgba(0, 0, 0, 0.3)); }

.birdName {
  position: absolute;
  left: -75px;
  height: auto;
  width: calc(100% + 70px);
  padding: 0;
  font-size: 0.95rem;
  text-align: center; }

#currentMap .birdName {
  top: -4%;
  line-height: 1.3rem; }

.birdName > span:last-Child {
  font-style: italic; }

.smallBirdText {
  position: absolute;
  top: -2.4rem;
  left: -40%;
  width: calc(100% + 40%);
  height: 4.1rem;
  padding: 0.6rem 0 0 0;
  text-align: center;
  font-size: 1.15rem;
  line-height: 1.3rem; }

#currentMap {
  opacity: 0;
  position: fixed;
  top: calc(50vh - 235px);
  left: 65vw;
  margin: 0 0 0 5px;
  transform: scale(1) translateY(0);
  transition: transform 1.2s;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0; }

#currentMap.shiftUp {
  transform: scale(0.8) translateY(-125px); }

#currentMap .deleteMapButton {
  display: none; }

#mapsCollection .saveMapButton {
  display: none;
  opacity: 0; }

.birdMapInstance {
  position: relative;
  top: 10px;
  background-color: transparent; }

#currentBirdMap {
  background-color: transparent; }

.mapButtons {
  width: 30px;
  height: 30px;
  padding: 3px 0 0 0;
  color: white;
  text-align: center;
  cursor: pointer;
  transition: all 500ms; }

.deleteMapButton {
  position: absolute;
  top: 45px;
  left: -10%;
  height: auto;
  width: auto; }

.saveMapButton {
  display: none;
  position: absolute;
  top: 42%;
  left: -45%;
  background-color: transparent; }

.drawing {
  position: relative;
  text-shadow: none;
  -webkit-filter: drop-shadow(0 0 1px rgba(255, 255, 255, 0.8)) drop-shadow(0 0 4px rgba(0, 0, 0, 0.4));
  filter: drop-shadow(0 0 1px rgba(255, 255, 255, 0.8)) drop-shadow(0 0 4px rgba(0, 0, 0, 0.4)); }

.drawing.active {
  -webkit-filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.6));
  filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.6)); }

.colorKey {
  opacity: 0.2;
  position: absolute;
  top: 65%;
  left: 78%;
  transition: opacity 350ms; }

.colorKey ul {
  position: relative; }

.colorKey ul li {
  position: relative;
  margin-top: 0.8ch;
  padding: 1px 5px 2px 10px;
  font-size: 0.75rem;
  text-align: center;
  letter-spacing: 0.15em;
  text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 1px;
  list-style-type: none;
  background-color: #505055; }

.colorKey ul li:nth-child(1) {
  /* introduced  */
  margin-top: 0;
  border-left: 18px solid #000; }

.colorKey ul li:nth-child(2) {
  /* hypothetical  */
  margin-top: 4px;
  border-left: 18px solid #005903; }

.colorKey ul li:nth-child(3) {
  /* extinct       */
  border-left: 18px solid #da2323; }

.colorKey ul li:nth-child(4) {
  /* vagrant       */
  border-left: 18px solid gold; }

.colorKey ul li:nth-child(5) {
  /* nonbreeder    */
  border-left: 18px solid #a95c05; }

.colorKey ul li:nth-child(6) {
  /* resident      */
  border-left: 18px solid #00838f; }

.colorKey ul li:nth-child(7) {
  /* endemic       */
  border-left: 18px solid #a433a5; }

#checklistArticle {
  position: relative;
  margin: 9ch 0 0 0;
  order: 4;
  overflow: visible; }

#checklistAuthorsPanel {
  position: relative;
  opacity: 0;
  height: auto;
  margin: 0 1ch 6ch 1ch;
  padding: 0.7ch 1ch 0.8ch 2ch;
  font-variant: small-caps;
  font-size: 0.8rem;
  text-align: center;
  line-height: 1rem;
  color: #dddde0;
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: opacity 550ms 400ms; }

#checklistAuthorsPanel.show {
  opacity: 1; }

#checklistArticle .panel {
  padding: 2.5ch 2% 0 2%; }

#checklistOptions.panel {
  position: relative;
  left: 10%;
  width: 80%;
  margin: 1ch 0 6ch 0;
  padding: 1ch 0 1ch 3ch;
  font-size: 1rem;
  line-height: 2.4rem;
  letter-spacing: 0.15em;
  border-top-left-radius: 10%;
  border-bottom-right-radius: 25%; }

.checklistTitle {
  position: absolute;
  top: 1ch;
  left: -44%;
  font-size: 1.25rem;
  font-weight: bold;
  font-variant: small-caps;
  color: white;
  text-shadow: 0 0 3px black;
  letter-spacing: 0.2em;
  transform: rotate(-86deg);
  -webkit-transform-origin: top right;
  -moz-transform-origin: top right;
  -ms-transform-origin: top right;
  -o-transform-origin: top right;
  transform-origin: top right; }

#pdfButton {
  position: absolute;
  right: -30%;
  bottom: 45%;
  width: 15ch;
  padding: 0 0 0.1ch 0; }

#csvButton {
  position: absolute;
  right: -30%;
  bottom: 15%;
  width: 15ch;
  padding: 0 0 0.1ch 0; }

#numDays {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
  left: -5ch;
  width: 140%;
  margin: 0 0 60px 0;
  color: #fff;
  background-color: transparent; }

#days {
  position: relative;
  top: 8px;
  padding: 0;
  height: 1.4rem;
  font-size: 1rem;
  letter-spacing: 0.1em;
  text-shadow: none;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  border-bottom: 3px solid #df6757;
  border-left: 2ch solid transparent; }

#numDays a {
  position: relative;
  width: 4.4ch;
  height: 4.4ch;
  padding: 1ch 0 0 0;
  color: #454647;
  font-size: 1.1rem;
  text-align: center;
  text-decoration: none;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #eee;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5), -1px -1px 1px rgba(0, 0, 0, 0.3), inset 0 0 7px rgba(255, 255, 255, 0.5);
  cursor: pointer;
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 300ms; }

#numDays a:hover, #numDays a:focus {
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
  border-top-right-radius: 5%;
  background-color: #a65751; }

#numDays a.highlight {
  top: -15px;
  color: #fff;
  border-top-right-radius: 5%;
  background-color: #a65751;
  transform: scale(1.2);
  transition: all 550ms;
  cursor: default; }

/*  from "CSS Secrets" by Lea Verou  */
input[type='checkbox'] {
  position: absolute;
  clip: rect(0, 0, 0, 0); }

input + label::before {
  content: '\a0\a0';
  margin-right: 1em;
  padding: 0.6ch 0.7ch 0.6ch 0.7ch; }

input[type='checkbox'] + label::before {
  border-radius: 0.2em; }

input[type='checkbox']:checked + label::before {
  content: '\2713';
  margin-right: 0.7ch;
  padding: 0.6ch 1.5ch 0.6ch 0.7ch;
  font-weight: 900; }

input[type='checkbox']:checked + label {
  margin-left: -0.7ch;
  padding: 0.6ch 1.5ch 0.6ch 0.7ch;
  background-color: #a65751;
  border-radius: 5px; }

input[type='checkbox']:hover + label:hover {
  margin-left: -0.7ch;
  padding: 0.6ch 1.5ch 0.6ch 0.7ch;
  background-color: #a65751;
  border-radius: 5px;
  cursor: pointer;
  transition: all 350ms; }

input[type='checkbox']:disabled:hover + label:hover {
  margin-left: -0.7ch;
  padding: 0.6ch 0.7ch 0.6ch 0.7ch;
  border: none;
  border-radius: 5px;
  background-color: inherit;
  cursor: default; }

input[type='checkbox']:disabled + label::before {
  color: rgba(255, 255, 255, 0.4);
  border: none;
  background-color: none; }

input[type='checkbox']:disabled + label {
  color: rgba(255, 255, 255, 0.4);
  background-color: none; }

#sampleTable {
  position: relative;
  left: 2px;
  width: 100%;
  min-width: 480px;
  margin: 1ch auto 4ch auto;
  font-size: 0.8rem;
  font-weight: bold;
  text-align: center;
  empty-cells: show;
  border-collapse: collapse;
  border: none; }

/*#sampleTable.smallFont        { font-size : 10px; margin-bottom : 29px;}
#sampleTable.smallFont thead    { font-size : 9px; height : 18px;}
#sampleTable.smallFont td       { padding  :  1px 0 1px 0px; letter-spacing  :  1px; }
#sampleTable.smallFont td:first-child { padding  :  1px 0 1px 4px; letter-spacing  :  1px; }*/
#sampleTable td {
  height: 30px;
  padding: 2px 2px 2px 2px;
  border: solid 1px #000; }

#sampleTable thead {
  display: table-header-group;
  height: 27px; }

#sampleTable tbody {
  display: table-row-group; }

#sampleTable .cLfc, #sampleTable .cLfs {
  padding-top: 10px;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-align: left;
  border-right: hidden;
  border-left: hidden; }

#sampleTable .cLfs {
  text-align: left; }

#sampleTable .cLc {
  padding: 1px 0 3px 10px;
  border-right: hidden; }

#sampleTable .cLc, #sampleTable .cLs {
  text-align: left; }

#sampleTable .cLc, #sampleTable .cLFc {
  width: 200px; }

#sampleTable .cLs, #sampleTable .cLFs {
  width: auto; }

#sampleTable .cLs {
  padding: 2px 0 2px 0;
  font-style: italic; }

#sampleTable .fre {
  border-right: hidden; }

#sampleTable .cds {
  border-right: 3px double #000; }

#sampleTable .rds {
  border-bottom: 3px double #000; }

#sampleTable thead {
  font-size: 0.6rem;
  border: solid 1px #000; }

/*  there is no tfoot in #sampleTable  */
/*#sampleTable tfoot tr:first-child td  {
 	border-right   :  hidden;
 	border-left    :  hidden;
 	height         :  20px;
 }
 #sampleTable tfoot tr:last-child td   {  border : solid 1px #000;  height : 20px; }*/
#sampleTable th {
  height: 20px;
  padding: 0 2px;
  font-weight: bold;
  border: solid 1px #000;
  background-color: transparent; }

#sampleTable th:not(:first-child) {
  background-color: #505055; }

.flashDays {
  animation-name: flashDays;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-timing-function: ease-out;
  animation-delay: 0.2s; }

@keyframes flashDays {
  0% { }
  50% {
    background-color: #c8c8c8;
    color: black; }
  100% { } }

#sampleTable td.familyHidden {
  border: solid 1px #505055; }

#sampleTable td.familyHidden.show {
  border-bottom: solid 1px #000; }

#sampleTable td.leftCheckBox {
  width: 0;
  border: solid 1px #000;
  border-top: transparent;
  border-bottom: transparent;
  border-left: transparent;
  transition: width 350ms; }

#sampleTable td.leftCheckBox.show {
  width: 30px;
  border: solid 1px #000;
  transition: width 350ms; }

.centerText {
  text-align: center; }

#sampleTable td.double-separator {
  border-right: 3px double #000; }

.noScientificNames .cLfc {
  letter-spacing: 0.1em; }

.noScientificNames .cLfs {
  visibility: hidden; }

#sampleTable.noScientificNames .cLc {
  letter-spacing: 0.1em; }

#sampleTable.noScientificNames .cLs {
  opacity: 0; }

#sampleTable.noItalics .cLs {
  font-style: normal; }

.showLineNumbers {
  position: relative; }

.leftCheckBox:not(.show) + .showLineNumbers::before {
  content: '5';
  position: absolute;
  top: 7px;
  left: -15px;
  width: auto;
  height: auto;
  padding: 2px 0 3px 0x;
  font-size: 0.6rem;
  text-shadow: none;
  border: 1px solid transparent;
  background-color: #505055;
  transition: left 500ms; }

.leftCheckBox.show + .showLineNumbers::before {
  content: '5';
  position: absolute;
  top: 5px;
  left: -33px;
  width: auto;
  height: auto;
  padding: 2px 2px 3px 1px;
  font-size: 0.6rem;
  text-shadow: none;
  border: 1px solid transparent;
  background-color: #505055;
  transition: left 500ms; }

.showEndemics {
  position: relative; }

.leftCheckBox:not(.show) + .endemical.showEndemics::before {
  content: 'E';
  position: absolute;
  top: 6px;
  left: -15px;
  width: auto;
  height: auto;
  padding: 2px 0 3px 0;
  font-size: 0.6rem;
  text-shadow: none;
  border: 1px solid transparent;
  background-color: #505055;
  transition: left 500ms; }

.leftCheckBox.show + .endemical.showEndemics::before {
  content: 'E';
  position: absolute;
  top: 6px;
  left: -33px;
  width: auto;
  height: auto;
  padding: 2px 1px 3px 1px;
  font-size: 0.6rem;
  text-shadow: none;
  border: 1px solid transparent;
  background-color: #505055;
  transition: left 500ms; }

#sampleTable.numDays0 .cLs {
  border-right: 1px solid #000; }

#sampleTable.numDays0 th {
  width: 0;
  border: 1px solid transparent; }

#sampleTable.numDays1 th {
  width: 60px; }

#sampleTable.numDays2 th {
  width: 54px; }

#sampleTable.numDays3 th {
  width: 50px; }

#sampleTable.numDays4 th {
  width: 44px; }

#sampleTable.numDays5 th {
  width: 40px; }

#sampleTable.numDays6 th {
  width: 36px; }

#sampleTable.numDays7 th {
  width: 34px; }

#sampleTable.numDays8 th {
  width: 32px; }

#sampleTable.numDays9 th {
  width: 30px; }

#sampleTable.numDays10 th {
  width: 28px; }

#sampleTable.numDays11 th {
  width: 26px; }

#sampleTable.numDays12 th {
  width: 24px; }

.numDays11 th:nth-child(n+13) {
  display: none; }

.numDays10 th:nth-child(n+12) {
  display: none; }

.numDays9 th:nth-child(n+11) {
  display: none; }

.numDays8 th:nth-child(n+10) {
  display: none; }

.numDays7 th:nth-child(n+9) {
  display: none; }

.numDays6 th:nth-child(n+8) {
  display: none; }

.numDays5 th:nth-child(n+7) {
  display: none; }

.numDays4 th:nth-child(n+6) {
  display: none; }

.numDays3 th:nth-child(n+5) {
  display: none; }

.numDays2 th:nth-child(n+4) {
  display: none; }

.numDays1 th:nth-child(n+3) {
  display: none; }

.numDays0 th {
  display: none;
  width: 0;
  border: 1px solid transparent; }

.numDays11 td:nth-child(n+15) {
  display: none; }

.numDays10 td:nth-child(n+14) {
  display: none; }

.numDays9 td:nth-child(n+13) {
  display: none; }

.numDays8 td:nth-child(n+12) {
  display: none; }

.numDays7 td:nth-child(n+11) {
  display: none; }

.numDays6 td:nth-child(n+10) {
  display: none; }

.numDays5 td:nth-child(n+9) {
  display: none; }

.numDays4 td:nth-child(n+8) {
  display: none; }

.numDays3 td:nth-child(n+7) {
  display: none; }

.numDays2 td:nth-child(n+6) {
  display: none; }

.numDays1 td:nth-child(n+5) {
  display: none; }

.numDays0 td:nth-child(n+4) {
  display: none; }

#sampleTable th:first-child {
  border: solid 1px #505055;
  border-right: solid 1px #000; }

.numDays0 tr.topBorderDisappear {
  border-top: hidden; }

.md-modal {
  position: fixed;
  top: 0;
  left: 100%;
  z-index: 2000;
  transition: transform 1000ms 250ms; }

.menu-show {
  transform: translateX(-350px); }

.md-overlay {
  opacity: 0;
  pointer-events: none;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  border: none;
  background-color: #5c5c62;
  transition: all 1000ms 700ms; }

.md-show ~ .md-overlay {
  opacity: 1;
  transition: all 1000ms; }

.overlayInfo {
  width: 20vw;
  min-width: 250px;
  padding: 20px;
  margin-right: 350px;
  pointer-events: none;
  font-size: 1.2em;
  font-variant: small-caps;
  line-height: 1.6em;
  text-align: center;
  border: 3px single rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  background-color: transparent;
  box-shadow: inset 0 0 4px white, 0 0 4px rgba(0, 0, 0, 0.7); }

.underline {
  border-bottom: 2px double white; }

#countryButton {
  position: absolute;
  top: 20px;
  right: 300px;
  width: 270px;
  padding: 0.6ch 0 1ch 2ch;
  text-align: left;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: inset 0 0 25px 15px transparent, 3px 3px 5px rgba(0, 0, 0, 0.2);
  transition: box-shadow 400ms, width 400ms, right 400ms 400ms; }

#countryButton:after {
  content: '';
  position: absolute;
  top: -2.3px;
  left: 101%;
  border-style: solid;
  border-width: calc(1.2em + 2px);
  border-color: transparent transparent transparent #a65751;
  transition: all 200ms 500ms; }

#countryButton.expand:after {
  left: 102%;
  border-color: transparent transparent transparent white; }

#countryButton:hover, #countryButton:focus {
  border: 1px solid #888;
  box-shadow: inset 270px 0 25px 15px #252525, 3px 3px 5px rgba(0, 0, 0, 0.2); }

#countryButton.highlight:hover, #countryButton.highlight:focus {
  border: 1px solid #888;
  box-shadow: inset -270px 0 25px 15px #252525, 3px 3px 5px rgba(0, 0, 0, 0.2); }

#countryButton.expand {
  right: 330px;
  width: 370px; }

.country-menu {
  position: relative;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding: 5px 0;
  justify-content: space-around;
  height: 100vh;
  font-size: 1rem;
  background-color: #37373b; }

.countryItem {
  position: relative;
  width: 270px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  align-items: center;
  letter-spacing: 1.5px;
  line-height: 1rem; }

.countryItem a {
  position: relative;
  width: 271px;
  margin-right: -40px;
  margin-bottom: 1px;
  padding: calc(((100vh - 40px) - (19 * 1rem)) / 38) 0 calc(((100vh - 40px) - (19 * 1rem)) / 38) 20px;
  text-decoration: none;
  text-shadow: 0 1px black;
  transition: all 450ms ease-out;
  cursor: pointer; }

.country-menu a:hover, .country-menu a:focus {
  background-color: #ce402e; }

.country-menu a.highlight {
  width: 300px;
  background-color: #ce402e;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  transition: all 450ms ease-out; }

.country-menu a.highlight:after {
  content: '';
  position: absolute;
  top: -1px;
  left: calc(100% - 28px);
  border-style: solid;
  border-width: 1.5rem;
  border-color: transparent white transparent transparent;
  transition: all 400ms; }

.country-menu a.highlight:hover {
  padding-left: 30px; }

.country-menu a.highlight:hover:after {
  border-color: transparent black transparent transparent; }

.flag {
  position: absolute;
  height: 26px;
  width: 26px;
  left: calc(100% - 52px);
  border-radius: 50%;
  background-position: center;
  background-origin: padding-box;
  background-color: #37373b; }

.country-menu img {
  height: 26px;
  width: 26px;
  background-color: tranparent; }

#taxonomyArticle {
  position: relative;
  border: none;
  box-shadow: none;
  order: 1;
  -webkit-transition: all 850ms ease-in-out;
  -moz-transition: all 850ms ease-in-out;
  -o-transition: all 850ms ease-in-out;
  transition: all 850ms ease-in-out; }

.searchWord {
  position: relative;
  left: -70px;
  width: calc(100% + 10ch);
  height: 22ch;
  margin-bottom: -12.5ch;
  padding: 3ch 5ch 0 5ch;
  z-index: 0;
  font-size: 1.06rem;
  line-height: 1.6rem;
  text-align: center;
  color: #dddde0;
  background-color: #292929;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 90px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-top: 1px solid transparent;
  box-shadow: inset 0 -1px 1px -1px rgba(0, 0, 0, 0.4), inset 0 0 1px rgba(0, 0, 0, 0.4); }

.taxArticleMain {
  padding: 30px 0 0 0;
  text-align: left;
  line-height: 2rem; }

#taxonomyArticle a.linkHighlight {
  padding: 0 3px 1px 4px;
  border: none;
  border-radius: 2px;
  border: solid 1px transparent;
  border-bottom: solid 1px #dddde0;
  box-shadow: 0 1px rgba(0, 0, 0, 0.5);
  transition: border 850ms; }

#taxonomyArticle a.linkHighlight:hover {
  border: solid 1px #dddde0; }

/*  ------------------------------   taxonomy panel   ------------------------------------------  */
.slideUpWrapper {
  position: relative;
  overflow-y: hidden;
  max-height: 350px;
  border-top: none;
  border-bottom: none;
  transition: opacity  450ms, max-height 600ms 250ms; }

.slideUpWrapper.closeInstructions {
  max-height: 0;
  opacity: 0;
  transition: max-height 450ms, opacity 600ms 250ms; }

.taxInstructionsButton {
  position: absolute;
  top: -2.6rem;
  right: -4rem;
  width: 3rem;
  height: 3rem;
  padding: 0.23rem 0 0 0;
  z-index: 0;
  font-size: 1.6rem;
  font-weight: bold;
  color: white;
  text-align: center;
  border: 2px solid rgba(255, 217, 0, 0.6);
  border-radius: 50%;
  background-color: #5c5c62;
  box-shadow: inset 0 0 0 2px #5c5c62, 0 0 0 8px #5c5c62;
  cursor: pointer;
  transform: translateX(-42ch);
  -webkit-transition: transform  ease-in-out 1000ms;
  -moz-transition: transform  ease-in-out 1000ms;
  -o-transition: transform  ease-in-out 1000ms;
  transition: transform  ease-in-out 1000ms; }

.taxInstructionsButton:hover {
  background-color: black; }

.taxInstructionsButton.instructionsClosed .tooltip {
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.3rem;
  background-color: #505055;
  transform: scaleX(0.7); }

#searchForm {
  position: relative;
  padding: 2.5ch 0 3ch 0;
  margin-top: 10px;
  transform-origin: top right;
  -webkit-transition: all 850ms ease-in-out;
  -moz-transition: all 850ms ease-in-out;
  -o-transition: all 850ms ease-in-out;
  transition: all 850ms ease-in-out; }

#searchForm:focus-within {
  transform: scaleX(1.1);
  background-color: #37373b; }

#searchForm:focus-within .icon-pen {
  transform: translate(-20px, -5px);
  transition: all 350ms; }

.searchForm_contents {
  position: relative;
  width: 100%;
  height: auto;
  margin: 0;
  pointer-events: auto;
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s; }

#searchForm span.searchGroup {
  position: relative;
  margin: 25px 0 30px 0;
  left: 25%;
  opacity: 1; }

#searchForm span.searchGroup.grayed {
  opacity: 0.3;
  pointer-events: none; }

#searchInput {
  height: auto;
  margin: 0;
  padding: 3px 0  4px 0;
  font-size: 1rem;
  color: white;
  font-weight: bold;
  letter-spacing: 0.13em;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  border: none;
  background-color: #333;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text; }

#searchInput:focus {
  outline: none; }

#searchInput::-moz-placeholder {
  color: white; }

#searchInput::-ms-input-placeholder {
  color: white; }

#searchInput::-webkit-input-placeholder {
  color: white; }

#searchInput::placeholder {
  color: white; }

#searchSpecials {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  position: absolute;
  top: -5.8ch;
  left: 95%;
  padding: 25px 20px 25px 20px;
  font-size: 0.9rem;
  pointer-events: auto;
  border: solid 1px transparent;
  border: solid 1px #5c5c62;
  border-radius: 50%;
  box-shadow: inset -100px 0 100px #5c5c62;
  transition: all 500ms 1300ms; }

#searchSpecials.grayed {
  opacity: 0.6;
  pointer-events: none; }

#searchSpecials span.searchSpecialWrapper {
  margin-bottom: 1.6ch;
  transition: all 1000ms; }

#searchSpecials a {
  padding: 0.2ch 2ch 0.45ch 2ch;
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 2px;
  background-color: #a65751;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: all 350ms; }

#searchSpecials a:hover {
  color: white;
  border: 1px solid #666;
  background-color: #222;
  box-shadow: 0 0 2px black; }

#searchSpecials.SAM span.searchSpecialWrapper {
  margin-bottom: 2ch; }

#searchSpecials span.notAvailable {
  display: none; }

#searchSpecials.SAM {
  justify-content: space-around;
  top: -3ch;
  left: 98%; }

.highlightSpecial {
  border-bottom: 1px solid white; }

/*  -----------------------   searchResults  panel  ----------------------  */
.results-panel {
  opacity: 0;
  position: relative;
  height: 0;
  width: calc(100% + 10vw);
  left: -10vw;
  margin: 6ch 0 0 0;
  padding: 0;
  order: 2;
  z-index: 0;
  border: none;
  box-shadow: none;
  background-color: transparent;
  transform: translateY(-100px);
  transition: all 1000ms; }

.results-panel.translateDown {
  opacity: 1;
  height: auto;
  transform: translateY(0); }

#fakeResultsBox {
  position: relative;
  top: 0;
  height: 100%;
  width: calc(100% - 10vw);
  left: 10vw;
  padding: 0 0 1ch 0;
  overflow-x: visible;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 3px;
  background-color: #505055;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.7); }

#closeResultsPanelButton {
  position: relative;
  left: 100%;
  padding: 0.25rem 0 0 0;
  width: 30px;
  height: 30px;
  text-align: center;
  border: 1px solid gold;
  border-radius: 50%;
  background-color: #505055;
  box-shadow: 0 0 0 6px #5c5c62, -8px 0 1px rgba(255, 255, 255, 0.25), -7px 0 0 2px rgba(0, 0, 0, 0.2);
  z-index: 2;
  cursor: pointer;
  transition: all 300ms; }

#closeResultsPanelButton:hover {
  background-color: black; }

#countrySearch {
  opacity: 1;
  position: relative;
  padding: 1ch 0 0 0;
  height: 4ch;
  margin: -10px 0 1ch 0;
  left: 2ch;
  width: calc(100% - 4ch);
  font-size: 1.1rem;
  font-variant: small-caps;
  color: #dddde0;
  text-align: center;
  letter-spacing: 0.1em;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: none; }

#searchResults {
  opacity: 0;
  position: relative;
  left: -10vw;
  width: calc(100% + 10vw + 1.1ch);
  height: auto;
  max-height: 370px;
  padding: 0 0 0 10vw;
  font-size: 1rem;
  line-height: 1rem;
  border: none;
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.35);
  box-shadow: none;
  -webkit-overflow-scrolling: touch;
  overflow: hidden;
  transition: all 350ms; }

#searchResults.fadeIn {
  opacity: 1;
  transition: all 2s; }

.results-panel.fadeIn {
  opacity: 1;
  transition: all 2s; }

#searchResults li {
  position: relative;
  padding: 0 0 1px 16px;
  width: calc(100% - 9px);
  list-style-type: none;
  cursor: pointer;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent; }

#searchResults li.bird {
  font-size: 0.9rem; }

#countrySearch.closed {
  opacity: 0;
  height: 0; }

#searchResults li:hover {
  color: white;
  border-top: 1px solid #844540;
  border-bottom: 1px solid #844540;
  background-color: #A65751; }

#searchResults li.bird:not(.active):hover::before {
  position: relative;
  top: 1px;
  left: -33px;
  margin-right: -7px;
  content: '';
  border-left: 7px solid #A65751; }

#searchResults li.family:hover::before {
  position: relative;
  top: 1px;
  left: -35px;
  margin-right: -10px;
  content: '';
  border-left: 10px solid #A65751; }

#searchResults li:not(.family) span:first-child {
  padding: 3px 0 3px 16px; }

#searchResults li.active {
  background-color: #A65751; }

#searchResults li.active::before {
  position: absolute;
  content: '';
  top: -1px;
  left: -10vw;
  height: calc(100% + 2px);
  width: 10vw;
  border-right: 0vw solid #A65751;
  background: -moz-linear-gradient(left, rgba(166, 87, 81, 0) 0%, #a65751 100%);
  background: -webkit-linear-gradient(left, rgba(166, 87, 81, 0) 0%, #a65751 100%);
  background: linear-gradient(to right, rgba(166, 87, 81, 0) 0%, #a65751 100%);
  transition: border-right 650ms; }

#searchResults li.active:hover::before {
  border-right: 10vw solid #A65751; }

#searchResults .family {
  margin: 5px 0 0 0;
  padding: 1px 0 2px 16px; }

#searchResults .familyOpen {
  margin: 5px 0 0 0;
  padding: 1px 0 2px 16px; }

#searchResults span:not(.fsc):last-child {
  position: absolute;
  left: calc(52.8% + 15px); }

.fsc {
  position: absolute;
  left: 52.8%;
  font-weight: bold;
  font-style: normal; }

.fco {
  font-weight: bold; }

.endemic::before {
  content: 'e';
  position: relative;
  left: -9px;
  font-size: 0.8rem; }

.extinct::before {
  content: 'x';
  position: relative;
  left: -9px;
  font-size: 0.8rem; }

.hy::before {
  content: 'h';
  position: relative;
  left: -9px;
  font-size: 0.8rem; }

.va::before {
  content: 'v';
  position: relative;
  left: -9px;
  font-size: 0.8rem; }

#searchResults .endemic, #searchResults .extinct, #searchResults .hy, #searchResults .va {
  position: relative;
  left: -7px; }

/*  -----------------------------   #taxTreeArticle  ---------------------  */
.tax-panel {
  position: relative;
  height: 0;
  width: calc(100% + 10vw);
  left: -10vw;
  margin: 1.5ch 0;
  padding: 2ch 0 0 0;
  order: 3;
  z-index: 0;
  opacity: 0;
  border: none;
  box-shadow: none;
  background-color: transparent;
  transform: translateY(-25vh);
  transition: all 2000ms; }

.tax-panel.translateDown {
  opacity: 1;
  height: auto;
  padding: 2ch 0 10ch 0;
  transform: translateY(0); }

#fakeTaxPageBox {
  position: relative;
  top: 0;
  height: 100%;
  width: calc(100% - 10vw);
  left: 10vw;
  padding: 0 0 1ch 0;
  margin: 1ch 0 0 0;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 3px;
  background-color: #505055;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
  overflow-x: visible; }

/*  -----------------------------   #taxPage panel  ---------------------  */
#taxPage {
  position: relative;
  top: 10px;
  left: -10vw;
  width: calc(100% + 10vw + 1.2ch);
  height: auto;
  max-height: 75vh;
  padding: 0.5ch 0 0 10vw;
  margin: 0 0 2ch 0;
  font-size: 1rem;
  line-height: 1.3rem;
  /* necessary because 100% padding right would else break line at spaces and hyphens */
  white-space: nowrap;
  overflow-y: hidden;
  border: none;
  border-radius: 10px;
  background-color: transparent;
  box-shadow: none; }

#taxPageButtons {
  cursor: pointer;
  transition: all 350ms; }

#taxPageButtons:hover {
  letter-spacing: 3px;
  box-shadow: 0 2px 4px #444; }

#tree * {
  list-style-type: none; }

.birds {
  display: none;
  position: relative; }

#tree .fsc {
  position: absolute;
  left: 62%;
  font-weight: bold;
  font-style: normal; }

/*
	position : relative MUST be here for entry.offsetTop to work in taxonomy.js
	it is the offset distance to the nearest relatively-positioned parent
*/
.birds.open {
  display: block;
  animation: showIn 650ms ease-in forwards; }

@keyframes showIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

#tree .family {
  width: 100%;
  cursor: pointer; }

#tree .familyOpen {
  width: 100%;
  cursor: pointer; }

/*target : family common name only*/
#tree li.family > span:nth-child(1) {
  padding: 1px 0 2px 15px; }

/*target : familyOpen family common and sci names for families that are open  */
#tree li.familyOpen > span:nth-child(1) {
  padding: 1px 0 2px  15px; }

/*target : familyOpen sci name only*/
.fTitle {
  display: inline-block;
  width: calc(100% - 8px);
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  background-color: transparent; }

.family .fTitle:hover {
  border-top: 1px solid #844540;
  border-bottom: 1px solid #844540;
  background-color: #A65751; }

.familyOpen .fTitle:hover {
  background-color: #A65751;
  border-top: 1px solid #844540;
  border-bottom: 1px solid #844540; }

.family .fTitle.active {
  background-color: #A65751; }

#tree .familyOpen ul {
  width: calc(100% - 8px);
  font-size: 0.9rem;
  line-height: 1rem; }

/* target : familyOpen bird common names only */
#tree .familyOpen ul li span:first-child {
  padding: 1px 0 0 27px; }

/*target : familyOpen bird sci names only*/
#tree .familyOpen .birds li span:last-child {
  position: absolute;
  left: 52.8%; }

#taxPage.samTax .hy:before, #taxPage.samTax .va:before {
  content: ''; }

#taxPage.samTax .hy, #taxPage.samTax .va {
  position: relative;
  left: 19px; }

#searchResults.samTax .hy:before, #searchResults.samTax .va:before {
  content: ''; }

#searchResults.samTax .hy, #searchResults.samTax .va {
  position: relative;
  left: 0; }

#taxPage.samTax li.familyOpen span.hy {
  position: relative;
  left: 19px; }

#taxPage.samTax li.familyOpen span.va {
  position: relative;
  left: 19px; }

#taxPage .endemic, #taxPage .extinct, #taxPage .hy, #taxPage .va {
  position: relative;
  left: -8px; }

#tree .fco, #tree .fsc {
  font-weight: bold; }

#tree .family:hover::before, #tree .familyOpen:hover::before {
  position: relative;
  top: 1px;
  left: -20px;
  margin-right: -10px;
  content: '';
  border-left: 10px solid white; }

/*    below targets each individual bird */
#tree li.familyOpen:hover > ul > li:hover, #tree ul li:hover {
  padding: 2px 0 2px 0;
  background-color: #A65751;
  border-top: 1px solid #844540;
  border-bottom: 1px solid #844540;
  transition: background-color 450ms; }

#tree ul > li:hover::before {
  position: relative;
  top: 1px;
  left: -18px;
  margin-right: -7px;
  content: '';
  border-left: 7px solid #A65751; }

#tree ul li {
  padding: 2px 0 2px 0;
  border: none;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent; }

/* added by toggleFamilyOpen, the species highlighted */
#tree ul li.active {
  position: relative;
  background-color: #A65751; }

#tree ul li.active::before {
  position: absolute;
  top: -1px;
  left: -10vw;
  content: '';
  height: calc(100% + 2px);
  width: 10vw;
  border-right: 0 solid #A65751;
  background: -moz-linear-gradient(left, rgba(166, 87, 81, 0) 0%, #a65751 100%);
  background: -webkit-linear-gradient(left, rgba(166, 87, 81, 0) 0%, #a65751 100%);
  background: linear-gradient(to right, rgba(166, 87, 81, 0) 0%, #a65751 100%);
  transition: border-right 650ms; }

#tree ul li.active:hover::before {
  border-right: 10vw solid #A65751; }

[data-simplebar] {
  position: relative;
  z-index: 0;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  /* Trigger native scrolling for mobile, if not supported, plugin is used. */ }

[data-simplebar="init"] {
  display: flex; }

.simplebar-scroll-content {
  position: relative;
  left: -10vw;
  padding-left: 10vw;
  padding-right: 0;
  /*width: calc(100% + 10vw);*/
  overflow-x: visible;
  overflow-y: scroll;
  min-width: 100%;
  width: calc(100% + 10vw + 14px);
  /*min-height: 100%;*/
  /*background-color: rgb(84,85,80);*/
  /*background: red;*/
  /*border: none;*/
  box-sizing: content-box; }

.simplebar-content {
  /* added by me so scientific families would scroll */
  position: relative;
  left: -10vw;
  padding-left: 10vw;
  width: calc(100% + 10vw + 14px);
  /*overflow-x: scroll;*/
  overflow-x: hidden;
  overflow-y: visible;
  box-sizing: border-box;
  /*height: auto;*/
  /*min-height: 100%;*/ }

.simplebar-track {
  z-index: 1;
  position: absolute;
  right: 0;
  /* background-color: red; */
  background-color: transparent;
  bottom: 0;
  width: 11px; }

.simplebar-scrollbar {
  position: absolute;
  right: 0;
  border-radius: 7px;
  min-height: 40px;
  width: 5px;
  opacity: 0;
  transition: opacity 0.2s linear;
  background-color: #c8c8c8;
  background-clip: padding-box; }

.simplebar-track:hover .simplebar-scrollbar {
  /* When hovered, remove all transitions from drag handle */
  opacity: 0.5;
  transition: opacity 0 linear; }

.simplebar-track .simplebar-scrollbar.visible {
  opacity: 0.5; }

.simplebar-track.horizontal {
  display: none;
  opacity: 0;
  left: 0;
  width: auto;
  height: 11px; }

.simplebar-track.vertical {
  top: 0;
  /*padding-right: 10px;*/ }

.horizontal.simplebar-track .simplebar-scrollbar {
  display: none;
  right: auto;
  top: 2px;
  height: 7px;
  min-height: 0;
  min-width: 10px;
  width: auto; }

.tooltip {
  opacity: 0;
  font-size: 0.8rem;
  color: #fff;
  line-height: 1.2rem;
  text-align: center;
  z-index: 100;
  border-radius: 0;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  transition: all 500ms ease; }

.taxInstructionsButton .tooltip {
  opacity: 1;
  position: absolute;
  top: 0;
  left: 65px;
  padding: 0 0 2px 0;
  width: 14rem;
  letter-spacing: 0.2rem;
  background-color: transparent;
  border: 1.5px solid rgba(255, 217, 0, 0.6);
  box-shadow: inset 0 0 0 transparent;
  transform: rotate(-4deg);
  -webkit-transform-origin: top left;
  -moz-transform-origin: top left;
  -ms-transform-origin: top left;
  -o-transform-origin: top left;
  transform-origin: top left;
  transition: transform 450ms, box-shadow 450ms, border 350ms 500ms; }

.deleteMapButton .tooltip {
  position: absolute;
  top: 160px;
  left: 0;
  width: 6em;
  padding: 0 0 3px 0;
  font-size: 0.9rem;
  letter-spacing: 0.1em;
  background-color: #a32d00;
  transform: rotate(0) scale(1.2);
  -webkit-transform-origin: top right;
  -moz-transform-origin: top right;
  -ms-transform-origin: top right;
  -o-transform-origin: top right;
  transform-origin: top right; }

.saveMapButton .tooltip {
  position: absolute;
  width: 10em;
  padding: 0 0 2px 0;
  opacity: 1;
  border: 1px solid rgba(255, 255, 255, 0.5);
  transform: scaleX(0.95) rotate(-4deg);
  -webkit-transform-origin: 0 50%;
  -moz-transform-origin: 0 50%;
  -ms-transform-origin: 0 50%;
  -o-transform-origin: 0 50%;
  transform-origin: 0 50%; }

.tooltip:after {
  content: '';
  position: absolute;
  top: 0;
  border-width: 0.6em;
  border-style: solid; }

.taxInstructionsButton .tooltip:after {
  top: -0.15em;
  left: -2.25em;
  border-width: 0.98em;
  border-color: transparent rgba(255, 217, 0, 0.6) transparent transparent;
  transition: border-color 200ms 500ms; }

.taxInstructionsButton.instructionsClosed .tooltip:after {
  top: -0.15em;
  left: -2.04em;
  border-width: 0.8em; }

.saveMapButton .tooltip:after {
  top: -1px;
  left: 100%;
  border-width: 0.9em;
  border-color: transparent transparent transparent #fff; }

.deleteMapButton .tooltip:after {
  top: 0;
  left: 100%;
  border-width: 0.78em;
  border-color: transparent transparent transparent #a32d00; }

.taxInstructionsButton.hasTooltip:hover .tooltip {
  color: black;
  text-shadow: none;
  box-shadow: inset -240px 0 2px rgba(255, 217, 0, 0.6), 0 0 15px rgba(255, 217, 0, 0.6);
  will-change: transform; }

.saveMapButton.hasTooltip:hover .tooltip {
  opacity: 1;
  background-color: #333;
  transform: scaleX(1) rotate(-4deg); }

.deleteMapButton.hasTooltip.hover .tooltip {
  opacity: 1;
  transform: rotate(-10deg) scale(1.3); }

@media screen and (max-width: 1536px) {
  html {
    font-size: 13px; }
  .titleBanner {
    font-size: 2.4rem; }
  .titleBanner_spacer {
    letter-spacing: 0.1em;
    font-size: 1.1rem; }
  .genericButton {
    font-size: 1.2rem; }
  .articles {
    margin-top: 20px; }
  .taxInstructionsButton {
    padding: 0.2rem 0 0 0; }
  .taxInstructionsButton.hasTooltip:hover .tooltip {
    box-shadow: inset -180px 0 2px rgba(255, 217, 0, 0.6), 0 0 15px goldHighlightColor; }
  #closeResultsPanelButton {
    padding: 0.4rem 0 0 0; }
  #sampleTable td.leftCheckBox.show {
    width: 35px; }
  .showLineNumbers::before {
    left: -16px; }
  .showEndemics::before {
    top: 9px;
    left: -16px; }
  .checklistTitle {
    font-size: 1.2rem; }
  #checklistOptions.panel {
    width: 75%; }
  #currentBirdMap {
    transform: scale(0.85); }
  #currentMap .birdName {
    top: 5%;
    line-height: 1.2rem; }
  .saveMapButton {
    left: -32%; }
  #mapsHeader {
    height: 2.7rem; }
  #mapsCollection {
    height: 280px; }
  #mapsCollection.namesOnlySeen {
    top: 100vh;
    transform: translateY(-2.7rem) scale(1); }
  #mapsCollection.open {
    transform: translateY(-280px); }
  .smallBird {
    transform: scale(0.6);
    top: -82px;
    margin-left: -70px; }
  .colorKey {
    top: 60%;
    left: 74%; } }

@media screen and (max-width: 1371px) {
  #currentBirdMap {
    transform: scale(0.85); }
  #currentMap .birdName {
    top: -1%; }
  .saveMapButton {
    left: -28%; }
  .colorKey {
    left: 70%; }
  .smallBird {
    left: 8%;
    margin-left: -85px; } }
