// $bodyBorderColor : darken(#A65751, 5%);
// $bgColor  :  #424f54;
// $bgColor  :  #5c5c65;
// $bgColor  :  #323f44;

$bgColor  :  #53595d;

$titleTextFontColor : #fff;
$titleBannerColor : rgb(186, 141, 30);
$bodyBorderColor : $titleBannerColor;

$panelColor : darken($bgColor, 5%);
// $panelColor : lighten($bgColor, 15%);
$slateHoverColor : rgb(56, 61, 61);

// $searchHeaderColor : rgb(41, 41, 41);
$searchHeaderColor : $slateHoverColor;

// $turquoiseHighlightColor : #64829a;
$goldHighlightColor : rgba(255, 217, 0, 0.6);

$genericButtonColor  :  #a65751;
// $genericButtonColor  :  #f38714;

$genericButtonHighlightColor : darken($bgColor, 7%);

// $panelFlyoutColor : rgba(0,0,0,0.5);
$panelFlyoutColor : $slateHoverColor;
// $panelFlyoutColor : lighten($slateHoverColor, 10%);

// $panelFlyoutFontColor : lighten($bgColor, 50%);
$panelFlyoutFontColor : white;

$familyOpenColor : $bgColor;

$birdRolloverColor : #A65751;
$birdActiveColor : #A65751;

$countryMenuColor : darken($bgColor, 15%);
// $countryMenuHighlightColor : #ce402e;
$countryMenuHighlightColor : rgb(62, 62, 62);

$overlayInfoColor : #ce402e;

$mapCollectionColor: $panelFlyoutColor;

$sampleTableBGColor: #fefefe;
// $sampleTableTextColor: #53595d;
$sampleTableTextColor: #43494d;

// $numDaysHoverColor: #178185;
$numDaysHoverColor: lighten($genericButtonColor, 5%);
