$bodyBorderColor : darken(#A65751, 5%);
$bgColor  :  rgb(90,90,90);
// $bgColor  :  #acbac5;

$titleTextFontColor : #d5d5d5;
$titleBannerColor : #444;

// $stuff : #123;

$panelColor : lighten($bgColor, 5%);

$searchHeaderColor : rgba(0,0,0,0.2);

$turquoiseHighlightColor : #0B95A1;
// $goldHighlightColor : #B0850F;

$countryMenuHighlightColor : #ce402e;

$genericButtonColor  :  rgb(166, 87, 81);

$genericButtonHighlightColor : darken($bgColor, 7%);

$panelFlyoutColor : rgba(0,0,0,0.2);
$panelFlyoutFontColor : lighten($bgColor, 40%);

$familyOpenColor : $bgColor;

$birdRolloverColor : #A65751;
$birdActiveColor : #A65751;

$countryMenuColor : lighten($bgColor, 5%);

// $overlayLeftColor : rgba(84,85,80, 0.85);
// $overlayRightColor : rgba(90,90,90, 0.75);
$overlayRightColor : rgba(0, 0, 0, 0.75);
