$bgColor  :  rgb(84,85,80);

$bannerColor  :  transparent;

$panelColor : $bgColor;
$searchHeaderColor : darken($bgColor, 8%);

$genericButtonColor  :  #A65751;

$genericButtonHighlightColor : darken($bgColor, 7%);

$panelFlyoutColor : darken($bgColor, 7%);
// $panelFlyoutColor : lighten($bgColor, 8%);

// $familyOpenColor : $searchHeaderColor;
$familyOpenColor : $bgColor;

$birdRolloverColor : #A65751;
$birdActiveColor : rgb(57, 58, 62);

$bannerColors : #333333;

$titleBannerColor : $bannerColors;
$leftBannerColor  : $bannerColors;
$rightBannerColor : $bannerColors;

$countryMenuColor       : rgb(57, 58, 62);
$countryMenuBeforeColor : rgb(57, 58, 62);